<template>
  <div class="q-mt-58">
    <div class="bg-primary q-pb-xs q-pr-md q-pt-xs q-pb-xs fixed-top">
      <q-toolbar class="text-white text-center">
        <q-btn flat round dense icon="close" @click="close" />
        <q-toolbar-title>Cambiar contraseña</q-toolbar-title>
      </q-toolbar>
    </div>
    <div class="q-pa-md">
      <q-form ref="formChangePassword">
        <q-input
          ref="currentPassword"
          v-model="user.currentPassword"
          :type="isPwd1 ? 'password' : 'text'"
          label="Contraseña actual"
          :rules="[(val) => !!val || 'Ingrese contraseña actual']"
          maxlength="30"
          class="full-width"
          lazy-rules
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd1 ? 'fas fa-eye-slash' : 'fas fa-eye'"
              class="cursor-pointer"
              @click="isPwd1 = !isPwd1"
            />
          </template>
        </q-input>

        <q-input
          ref="newPassword"
          v-model="user.newPassword"
          label="Nueva contraseña"
          :rules="[(val) => !!val || 'Ingrese su contraseña']"
          :type="isPwd2 ? 'password' : 'text'"
          maxlength="16"
          class="full-width"
          lazy-rules
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd2 ? 'fas fa-eye-slash' : 'fas fa-eye'"
              class="cursor-pointer"
              @click="isPwd2 = !isPwd2"
            />
          </template>
        </q-input>

        <q-input
          ref="confirmPassword"
          v-model="user.confirmPassword"
          label="Confirmar contraseña"
          :rules="[(val) => !!val || 'Confirme su contraseña']"
          :type="isPwd3 ? 'password' : 'text'"
          maxlength="16"
          class="full-width"
          lazy-rules
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd3 ? 'fas fa-eye-slash' : 'fas fa-eye'"
              class="cursor-pointer"
              @click="isPwd3 = !isPwd3"
            />
          </template>
        </q-input>

        <q-input
          ref="token"
          v-model="user.token"
          label="Token"
          :rules="[(val) => !!val || 'Ingrese token']"
          maxlength="30"
          class="full-width"
          lazy-rules
        ></q-input>
      </q-form>

      <q-btn
        label="Generar token"
        text-color="primary"
        flat
        class="center-container q-mt-lg"
        @click="getToken"
      ></q-btn>

      <q-btn
        color="primary"
        label="Aceptar"
        rounded
        flat
        text-color="white"
        @click="sendData"
        class="btn-login center-container q-mt-lg q-pa-sm bg-primary"
      ></q-btn>
    </div>
    <message ref="message" @hideDialogSuccess="onHideDialogSuccess"></message>
    <q-dialog
      v-model="dialogHelpPassword"
      transition-show="scale"
      transition-hide="scale"
    >
      <q-card class>
        <q-card-section>
          <div class="text-h6 q-ml-sm">Restricciones para la contraseña</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <p>Estimado usuario</p>
          <p>Para crear la contraseña debe complir los siguientes criterios:</p>
          <q-list separator>
            <q-item>
              <q-item-section>
                Tener una longitud mínima de contraseñas de al menos 8 caracteres.
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <q-item-label>
                  Debe combiar letras mayúsculas, minúsculas, números y símbolos.
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label>
                  No se permite el uso de nombres y apellidos personales o número de
                  documento como parte de la contraseña.
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section>
                <q-item-label
                  >No es permitido reutilizar contaseñas anteriores.</q-item-label
                >
              </q-item-section>
            </q-item>
          </q-list>
          <p>
            Recomendamos: No incluir fechas de cumpleaños, números telefónicos ni
            cualquier otro dato que sean fáciles de obtener para otra persona.
          </p>
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-blue">
          <q-btn flat label="ACEPTAR" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialogInfo">
      <q-card style="width: 300px">
        <q-card-section>
          <div class="text-h6">Cambio de contraseña</div>
        </q-card-section>

        <q-card-section class="q-pt-none"
          >Estimado usuario, es necesario que realize un cambio de
          contraseña.</q-card-section
        >

        <q-card-actions align="right" class="bg-white text-blue">
          <q-btn flat label="Aceptar" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-fab
      class="fixed-bottom-right q-ma-md bg-primary text-white"
      color="primary"
      icon="keyboard_arrow_up"
      direction="up"
      text-color="white"
      flat
      v-if="getItemStorage('changePassword') == 'S'"
    >
      <q-fab-action
        color="red"
        flat
        text-color="red"
        @click="closeSession"
        icon="fas fa-sign-out-alt"
        class="bg-white shadow-2"
      />
      <q-fab-action
        color="red"
        flat
        text-color="red"
        @click="dialogHelpPassword = true"
        icon="fas fa-info"
        class="bg-white shadow-2"
      />
    </q-fab>
    <q-btn
      icon="fas fa-info"
      round
      @click="dialogHelpPassword = true"
      class="text-white fixed-bottom-right q-ma-md"
      color="primary"
      v-else
    ></q-btn>
  </div>
</template>
<script>
import { URL_BASE, Result } from "../../boot/Constant";
import Message from "../Common/Message";
import Util from "../../js/Util";
export default {
  mixins: [Util],
  components: {
    Message,
  },
  props: {
    fromSettings: Boolean,
  },
  data: function () {
    return {
      user: {
        currentPassword: "",
        newPassword: "",
        confirmPassword: "",
        token: "",
      },
      password: null,
      password_length: 0,
      contains_eight_characters: false,
      contains_number: false,
      contains_uppercase: false,
      contains_lowercase: false,
      contains_special_character: false,
      valid_password: false,
      isPwd1: true,
      isPwd2: true,
      isPwd3: true,
      dialogInfo: false,
      dialogHelpPassword: false,
      messageError: [
        "Está colocando una contraseña con menos de 8 caracteres",
        "Está colocando una contraseña que sobrepasa el máximo de 16 caracteres",
        "Debe ingresar al menos una letra mayúscula",
        "Debe ingresar al menos una letra minúscula",
        "Debe ingresar al menos un número",
        "Debe ingresar al menos un símbolo",
        "Contraseña no permitida, existe al menos un nombre personal dentro de la contraseña",
        "Contraseña no permitida, existe al menos un apellido personal dentro de la contraseña",
        "Por su seguridad no está permitido reutilizar una contraseña anterior, por favor escriba una nueva contraseña",
        "Está colocando algún carácter no permitido",
        "Contraseña no permitida, existe su número de documento dentro de la contraseña",
      ],
    };
  },
  created() {
    if (this.getItemStorage("changePassword") == "S") this.dialogInfo = true;
  },
  methods: {
    rulePassword(val) {
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          this.password_length = val.length;
          const format = /[ !@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;

          if (this.password_length >= 8) {
            this.contains_eight_characters = true;
          } else {
            this.contains_eight_characters = false;
          }

          this.contains_number = /\d/.test(val);
          this.contains_uppercase = /[A-Z]/.test(val);
          this.contains_lowercare = /[a-z]/.test(val);
          this.contains_special_character = format.test(val);

          if (
            this.contains_eight_characters === true &&
            this.contains_special_character === true &&
            this.contains_uppercase === true &&
            this.contains_lowercare === true &&
            this.contains_number === true
          ) {
            this.valid_password = true;
            resolve(true);
          } else {
            this.valid_password = false;
            if (!this.contains_eight_characters) {
              resolve(false || "Ingrese mínimo ocho caracteres");
            } else if (!this.contains_special_character) {
              resolve(false || "Falta caracter especial");
            } else if (!this.contains_uppercase) {
              resolve(false || "Falta caracter en mayúscula");
            } else if (!this.contains_lowercare) {
              resolve(false || "Falta caracter en minúscula");
            } else if (!this.contains_number) {
              resolve(false || "Falta caracter numérico");
            }
          }
        }, 1000);
      });
    },

    checkPassword() {},
    close() {
      if (this.fromSettings) {
        this.$emit("hide");
      } else {
        if (this.getItemStorage("changePassword") == "S") this.dialogInfo = true;
        else this.$router.push("Main");
      }
    },
    sendData() {
      this.$refs.formChangePassword.validate().then((result) => {
        if (result) {
          if (this.user.newPassword === this.user.confirmPassword) {
            var sha1 = require("js-sha1");

            let url =
              URL_BASE +
              "cambioPassword?idUser=" +
              this.getItemStorage("idUser") +
              "&oldPassword=" +
              btoa(sha1(this.user.currentPassword)) +
              "&newPassword=" +
              btoa(this.user.newPassword) +
              "&token=" +
              this.user.token;

            this.$q.loading.show();
            this.$http
              .post(url)
              .then((response) => {
                if (!response) return;
                if (response.data.estado == Result.TOKEN_ERROR) {
                  this.$refs.message.showMessageErrorToken();
                } else if (response.data.estado == Result.ERROR_SERVER) {
                  this.$refs.message.showMessageErrorServer();
                } else if (response.data.estado == Result.PASSWORD_INCORRECT) {
                  this.$refs.message.showMessageError(
                    "Su contraseña actual es incorrecta"
                  );
                } else if (response.data.estado == Result.SUCCESS) {
                  this.$refs.message.showMessageSuccess(
                    "Cambio de contraseña realizado correctamente"
                  );

                  this.setItemStorage("password", this.user.newPassword);
                  this.setItemStorage("changePassword", "N");
                  this.user = {
                    currentPassword: "",
                    newPassword: "",
                    confirmPassword: "",
                    token: "",
                  };

                  this.$refs.formChangePassword.resetValidation();
                } else {
                  this.$refs.message.showMessageError(
                    this.messageError[response.data.estado - 1]
                  );
                }

                this.$q.loading.hide();
              })
              .catch((error) => {
                this.$refs.message.showMessageError();
                this.$q.loading.hide();
              });
          } else {
            this.$refs.message.showMessageError("Las contraseñas no coinciden");
          }
        } else {
        }
      });
    },
    getToken() {
      this.generateToken(this).then((response) => {
        this.user.token = response.data.data;
      });
    },
    onHideDialogSuccess() {
      if (this.fromSettings) {
        this.$emit("hide");
      } else {
        this.$router.push("Main");
      }
    },

    closeSession() {
      this.$q.loading.show();
      let url = URL_BASE + "cerrarSesion?idUser=" + this.getItemStorage("idUser");
      this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            //Elimina datos almacenados
            this.removeItenStorage("idUser");

            if (this.getItemStorage("rememberPassword") != "true") {
              this.removeItenStorage("username");
              this.removeItenStorage("password");
            }
            this.removeItenStorage("fullName");
            this.removeItenStorage("name");
            this.setItemStorage("firstInitApp", "false");
            this.value = 0;
            //Se direccion a la ruta del login
            this.$router.push("/Login");
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
  },
  mounted() {
    //Este evento es para cuando llega el SMS del token al dispositivo
    this.$root.$on("token", (token) => {
      this.user.token = token;
    });
  },
};
</script>
