<template>
  <div class="q-mt-58">
    <div class="bg-primary q-pb-xs q-pr-md q-pt-xs q-pb-xs fixed-top">
      <q-toolbar class="text-white text-center">
        <q-btn flat round dense icon="close" @click="close" />
        <q-toolbar-title>Recuperar Contraseña</q-toolbar-title>
      </q-toolbar>
    </div>
    <div class="q-pa-md">
      <q-form ref="formForgotPassword">
        <q-input
          ref="document"
          v-model="user.document"
          label="Número de documento"
          class="full-width"
          :mask="documentTypeMask"
          :rules="[
            (val) => !!val || 'Ingrese su número de documento',
            (val) =>
              val.length >= documentTypeMask.length || 'Número de documento no válido',
          ]"
          lazy-rules
        ></q-input>

        <q-input
          ref="phone"
          v-model="user.phone"
          label="Teléfono"
          :rules="[
            (val) => !!val || 'Ingrese su teléfono',
            (val) => val.length > 8 || 'Número de teléfono no válido',
          ]"
          maxlength="30"
          class="full-width"
          mask="####-####"
          prefix="(502) "
          type="tel"
          lazy-rules
        />

        <q-input
          ref="token"
          v-model="user.token"
          label="Token"
          :rules="[(val) => !!val || 'Ingrese token']"
          maxlength="30"
          class="full-width"
          lazy-rules
        ></q-input>
      </q-form>

      <q-btn
        label="Generar token"
        text-color="primary"
        flat
        class="center-container q-mt-lg"
        @click="getToken"
      ></q-btn>

      <q-btn
        color="primary"
        label="Aceptar"
        rounded
        flat
        text-color="white"
        @click="sendData"
        class="btn-login center-container q-mt-lg q-pa-sm bg-primary"
      ></q-btn>
    </div>
    <q-dialog v-model="dialogPassword" @hide="$router.push('Login')">
      <q-card>
        <q-card-section>
          <div class="text-h6">Nueva contraseña</div>
        </q-card-section>
        <q-card-section>
          <span>
            Su nueva contraseña es:
            <span class="text-bold">{{ getItemStorage("password") }}</span>
          </span>
          <q-btn
            icon="content_copy"
            round
            flat
            text-color="black"
            @click="copyPassword"
          ></q-btn>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Aceptar" color="red" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <message ref="message"></message>
  </div>
</template>
<script>
import { URL_BASE, Result } from "../../boot/Constant";
import Message from "../Common/Message";
import Util from "../../js/Util";
export default {
  mixins: [Util],
  components: {
    Message,
  },
  data: function () {
    return {
      user: {
        document: "",
        phone: "",

        token: "",
      },
      documentTypeMask: "",
      dialogPassword: false,
    };
  },
  created() {
    this.setItemStorage("firstInitApp", "false");
    this.documentTypeMask = this.getItemStorage("documentTypeMask");
  },
  methods: {
    close() {
      this.$router.push("Login");
    },
    sendData() {
      this.$refs.formForgotPassword.validate().then((result) => {
        if (result) {
          let url =
            URL_BASE +
            "recuperarPassword?noDocumento=" +
            this.user.document +
            "&telefono=(502) " +
            this.user.phone +
            "&token=" +
            this.user.token;

          this.$q.loading.show();
          this.$http
            .post(url)
            .then((response) => {
              if (!response) return;
              if (response.data.estado == Result.TOKEN_ERROR) {
                this.$refs.message.showMessageErrorToken();
              } else if (response.data.estado == Result.ERROR_SERVER) {
                this.$refs.message.showMessageErrorServer();
              } else if (response.data.estado == Result.USER_NOT_FOUND) {
                this.$refs.message.showMessageError(
                  "No. documento o teléfono incorrecto"
                );
              } else if (response.data.estado == Result.SUCCESS) {
                this.setItemStorage("password", response.data.data);
                this.user = {
                  currentPassword: "",
                  newPassword: "",
                  confirmPassword: "",
                  token: "",
                };

                this.dialogPassword = true;
                this.$refs.formForgotPassword.resetValidation();
              }

              this.$q.loading.hide();
            })
            .catch((error) => {
              this.$refs.message.showMessageError();
              this.$q.loading.hide();
            });
        } else {
        }
      });
    },
    getToken() {
      this.$refs.document.validate();
      this.$refs.phone.validate();
      if (!this.$refs.document.hasError && !this.$refs.phone.hasError) {
        //Se solicita el token
        this.generateToken(
          this,
          this.user.document,
          "(502) " + this.user.phone,
          true
        ).then((response) => {
          if (response) {
            if (response.data.estado == Result.SUCCESS) {
              this.$refs.message.showMessageInfo("El token llegará a su teléfono");
            }
          }
        });
      }
    },
    copyPassword() {
      let context = this;
      this.$copyText(this.getItemStorage("password")).then(
        function (e) {
          context.$q.notify({
            message: "Contraseña copiada",
            icon: "done",
          });
        },
        function (e) {
          context.$q.notify({
            message: "No se ha podido copiar la contraseña",
            icon: "close",
          });
        }
      );
    },
  },
  mounted() {
    //Este evento es para cuando llega el SMS del token al dispositivo
    this.$root.$on("token", (token) => {
      this.user.token = token;
    });
  },
};
</script>
