<template>
  <div style="height: 100vh">
    <div class="draw-radius bg-primary q-mb-lg aligner">
      <img src="statics/image/share2.png" alt="LOGO" class="img-login" />
    </div>
    <div class>
      <q-form action class="q-ma-lg q-mt-xl flex-center" ref="form">
        <q-input
          ref="username"
          bottom-slots
          v-model="user.username"
          label="Número Documento"
          :rules="[
            (val) => !!val || 'Ingrese su número de documento',
            (val) =>
              val.length >= documentTypeMask.length || 'Número de documento no válido',
          ]"
          maxlength="30"
          class="full-width"
          lazy-rules
          type="tel"
          :mask="documentTypeMask"
        >
          <template v-slot:prepend>
            <q-icon name="fas fa-user" />
          </template>
        </q-input>
        <q-input
          ref="password"
          bottom-slots
          :type="isPwd ? 'password' : 'text'"
          v-model="user.password"
          label="Contraseña"
          :rules="[(val) => !!val || 'Ingrese su contraseña']"
          maxlength="30"
          class="full-width"
        >
          <template v-slot:prepend>
            <q-icon name="fas fa-key" />
          </template>
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'fas fa-eye-slash' : 'fas fa-eye'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>
        <div class="flex flex-center" v-if="!device">
          <vue-recaptcha
            sitekey="6LcLQmsUAAAAAHSTvemAFtQhTrL0POvglUzQOtvH"
            :loadRecaptchaScript="true"
            ref="recaptcha"
            @verify="onVerify"
            @expired="onExpired"
          ></vue-recaptcha>
        </div>

        <q-btn
          color="primary"
          label="Ingresar"
          rounded
          flat
          @click="getImages"
          text-color="white"
          class="btn-login center-container q-mt-lg q-pa-sm bg-primary q-mb-xs"
        ></q-btn>

        <div class="q-mt-md">
          <q-checkbox
            v-model="rememberPassword"
            label="Recordar contraseña"
            style="margin-left: -15px"
          />
          <q-btn
            flat
            style="margin-right: -15px"
            color="red"
            label="¿Olvidó su contraseña?"
            class="float-right q-mt-sm"
            @click="forgotPassword"
            size="12px"
          ></q-btn>
        </div>
      </q-form>
    </div>
    <q-dialog v-model="alert" @hide="alertPass">
      <q-card>
        <q-card-section>
          <div class="text-h6">Contraseña</div>
        </q-card-section>
        <q-card-section>
          <p>Copie ésta clave que el sistema le pedirá cambiarla al ingresar</p>
          <span>
            Clave:
            <span class="text-bold">{{ getItemStorage("password") }}</span>
          </span>
          <q-btn
            icon="content_copy"
            round
            flat
            text-color="black"
            @click="copyPassword"
          ></q-btn>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Aceptar" color="red" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="dialogImage" full-width>
      <q-card>
        <q-card-section>
          <div class="text-h6">Seleccionar Imagen</div>
        </q-card-section>

        <q-card-section style="max-height: 65vh" class="scroll">
          <vue-select-image :dataImages="dataImages" @onselectimage="onSelectImage">
          </vue-select-image>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Aceptar" color="primary" @click="sendData" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialogInfo" transition-show="scale" transition-hide="scale">
      <q-card class="" style="width: 300px">
        <q-card-section>
          <Lottie
            className="animation"
            renderer="canvas"
            :loop="false"
            :autoplay="true"
            :animationData="lottieInfo"
            class="center-container lottie-anim"
          />
        </q-card-section>

        <q-card-section class="q-pt-none text-center">
          <div v-if="Array.isArray(messageDialog)">
            <div v-for="(item, index) in messageDialog" :key="index" class="q-mt-sm">
              {{ item }}
            </div>
          </div>
          <div v-else>
            {{ messageDialog }}
          </div>
          <q-btn
            class="q-mt-md"
            unelevated
            rounded
            color="primary"
            label="Recuperar contraseña"
            @click="forgotPassword"
          ></q-btn>
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-red">
          <q-btn flat label="Aceptar" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <message ref="message"></message>
  </div>
</template>
<script>
import Lottie from "vue-lottie-web";
import VueRecaptcha from "vue-recaptcha";
import { URL_BASE, Result, IN_DEVICE } from "../../boot/Constant";
import Message from "../Common/Message";
import Util from "../../js/Util";
import lottieInfo from "../../statics/json/info.json";
require("vue-select-image/dist/vue-select-image.css");
export default {
  mixins: [Util],
  components: {
    Message,
    VueRecaptcha,
    Lottie,
  },
  beforeCreate() {},

  created() {
    this.documentTypeMask = this.getItemStorage("documentTypeMask");

    //Valida si el usuario no esta vinculado y si esta corriendo un dispositivo mobil
    if (this.getItemStorage("isUserLinked") != "true" && IN_DEVICE)
      this.$router.push("userValidation");

    //valida si se tiene guardado el id de usuario
    if (this.getItemStorage("idUser")) this.$router.push("Main");

    //valida si es la primera vez que inicia la aplicacion
    if (this.getItemStorage("firstInitApp") === "true") this.alert = true;

    //valida si te tiene alamacenado el documento del usuario
    if (this.getItemStorage("document"))
      this.user.username = this.getItemStorage("document");

    if (this.getItemStorage("rememberPassword") == "true") {
      this.rememberPassword = true;
      this.user.username = this.getItemStorage("document");
      this.user.password = this.getItemStorage("password");
    }
  },
  data: function () {
    return {
      isPwd: true,
      alert: false,
      dialogImage: false,
      user: {
        username: "",
        password: "",
      },
      rememberPassword: false,
      validationRecaptcha: false,
      device: IN_DEVICE,
      dataImages: [],
      selecedImage: {},
      documentTypeMask: "",
      dialogInfo: false,
      lottieInfo,
      messageDialog: "",
    };
  },
  methods: {
    forgotPassword() {
      this.$router.push("ForgotPassword");
    },
    onVerify(response) {
      if (response) {
        this.validationRecaptcha = true;
      }
    },
    copyPassword() {
      let context = this;
      this.$copyText(this.getItemStorage("password")).then(
        function (e) {
          context.$q.notify({
            message: "Contraseña copiada",
            icon: "done",
          });
        },
        function (e) {
          context.$q.notify({
            message: "No se ha podido copiar la contraseña",
            icon: "close",
          });
        }
      );
    },
    onExpired(response) {
      this.validationRecaptcha = false;
    },

    alertPass() {
      this.user.password = this.getItemStorage("password");
    },

    //validar usuario
    sendData(type) {
      if (this.getItemStorage("imageSelected")) {
        this.selecedImage.id = this.getItemStorage("imageSelected");
      }
      if (!this.selecedImage.id) {
        this.$refs.message.showMessageError("Debe seleccionar una imagen");
        return;
      }
      if (IN_DEVICE) {
        this.validationRecaptcha = true;
      }

      if (this.validationRecaptcha) {
        var sha1 = require("js-sha1");
        var encrypted = sha1(this.user.password);
        var encodedString = btoa(encrypted);

        this.$refs.form.validate().then((result) => {
          if (result) {
            this.$q.loading.show();

            let urlPartLogin = "login";
            if (!IN_DEVICE) urlPartLogin = "login/web";

            var url =
              urlPartLogin +
              "?username=" +
              this.user.username +
              "&password=" +
              encodedString +
              "&idImagen=" +
              this.selecedImage.id;

            this.$http
              .post(URL_BASE + url)
              .then((response) => {
                if (!response) return;
                this.dialogImage = false;
                if (response.data.estado == Result.USER_BLOCKED) {
                  this.messageDialog = "Este usuario está bloqueado_Contacte a su administrador".split(
                    "_"
                  );
                  this.dialogInfo = true;
                } else if (response.data.estado == Result.NOT_FOUND) {
                  this.$refs.message.showMessageError(
                    "Los datos ingresados son incorrectos"
                  );
                } else if (response.data.estado == Result.ERROR_SERVER) {
                  this.$refs.message.showMessageErrorSever();
                } else if (response.data.estado == Result.USER_LINKED) {
                  this.$refs.message.showMessageInfo(
                    "Tiene sesión iniciada en otro dispositivo"
                  );
                } else if (response.data.estado == Result.SUCCESS) {
                  this.setItemStorage("attemps", 0);
                  this.setItemStorage("idUser", response.data.data.idCli);
                  this.setItemStorage("username", this.user.username);

                  this.setItemStorage("document", response.data.data.noDocumento);
                  if (this.rememberPassword) {
                    this.setItemStorage("rememberPassword", "true");
                    this.setItemStorage("password", this.user.password);
                  } else {
                    this.setItemStorage("rememberPassword", "false");
                  }
                  //Es el tiempo para el cirre de sesion por inactvidad
                  this.setItemStorage("timer", response.data.data.tiempo);
                  //Es la fecha del sistema
                  this.setItemStorage("date", response.data.data.fechaSis);

                  this.setItemStorage("fullName", response.data.data.nombreCompleto);
                  this.setItemStorage("name", response.data.data.nombre);
                  this.removeItenStorage("imageSelected");
                  if (!IN_DEVICE) {
                    this.setItemStorage("userKey", response.data.data.token);
                  }
                  this.setItemStorage("changePassword", response.data.data.cambio);
                  if (this.getItemStorage("firstInitApp") == "true") {
                    this.$router.push("Instructions");
                  } else {
                    if (response.data.data.cambio == "N") this.$router.push("Main");
                    else this.$router.push("changePassword");
                  }
                }
                this.$q.loading.hide();
              })
              .catch((error) => {
                this.$q.loading.hide();
                this.$refs.message.showMessageError();
              });
          } else {
          }
        });
      } else {
        this.$refs.message.showMessageError("Error de validación en captcha");
      }
    },
    getImages() {
      if (this.getItemStorage("imageSelected")) {
        this.sendData();
      } else {
        if (this.dataImages.length == 0) {
          this.$refs.form.validate().then((result) => {
            if (result) {
              this.$q.loading.show();
              this.$http
                .post(URL_BASE + "imagenes")
                .then((response) => {
                  if (!response) return;
                  if (response.data.estado == Result.SUCCESS) {
                    this.dataImages = [];
                    response.data.data.map((item) => {
                      let model = {
                        id: item.id,
                        src: "data:image/jpg;base64," + item.img,
                        alt: item.nombre,
                      };
                      this.dataImages.push(model);
                    });
                    this.dialogImage = true;
                  }
                  this.$q.loading.hide();
                })
                .catch((error) => {
                  console.log(error);
                  this.$q.loading.hide();
                  this.$refs.message.showMessageError();
                });
            }
          });
        } else this.dialogImage = true;
      }
    },

    onSelectImage(image) {
      this.selecedImage = image;
    },
  },
  mounted() {},
};
</script>
<style lang="stylus">
@import '../../css/Style.styl';
.vue-select-image__thumbnail--selected
  background: $red-5

.vue-select-image__item
  width: 50%
  margin: 0px !important

.vue-select-image__wrapper
  display: flex
  flex-wrap: wrap
</style>
