<template>
  <div class="q-mt-58" style="padding-bottom : 80px">
    <div class="bg-primary q-pb-xs q-pr-md q-pt-xs q-pb-xs fixed-top">
      <q-toolbar class="text-white text-center">
        <q-btn
          v-if="$route.params.code == '1'"
          color="primary"
          text-color="white"
          icon="close"
          flat
          class="fixed"
          @click="accept"
        ></q-btn>
        <q-toolbar-title>Términos y condiciones</q-toolbar-title>
      </q-toolbar>
    </div>
    <div class="q-pa-md">
      <p class="q-pt-md text-bold" style="font-size : 18px">Servicio virtual SHARE EN LINEA</p>
      <p class="text-justify">
        El presente documento describe los Términos y Condiciones aplicables al
        uso del servicio Virtual Individual ofrecido por SHARE, por lo que se
        deberá leer cuidadosamente para su aceptación a favor de cualquier
        persona individual.
      </p>
      <p class="text-justify">
        Al que desee acceder y utilizar el servicio Virtual de SHARE podrá
        hacerlo sujetándose obligadamente a los presentes Términos y
        Condiciones, así como sus modificaciones que sean aprobadas
        oportunamente y notificadas por los canales respectivos. Para poder
        ingresar al servicio Virtual Individual de SHARE, el Cliente o Asociado
        deberá aceptar mediante una declaración en la que exprese haber leído y
        aceptado previamente y sin reservas todos y cada uno de los términos,
        condiciones y estipulaciones aquí contenidos. En caso que el Cliente o
        Asociado no esté de acuerdo con la totalidad de lo establecido NO podrá
        ingresar al servicio Virtual, y deberá solicitar la cancelación del
        servicio.
      </p>
      <p class="text-justify text-bold">Definiciones</p>
      <p class="text-justify">
        Con el propósito de aclarar los conceptos y términos utilizados en el
        presente documento, estas definiciones son las autorizadas y de uso
        general para toda transacción en el servicio virtual de SHARE:
      </p>
      <p class="q-mb-md text-bold">Servicio Virtual</p>
      <p class="text-justify">
        Servicio en línea que SHARE ofrece a sus clientes y asociados para que
        puedan realizar consultas y transacciones financieras sobre sus cuentas
        a través de aplicaciones o internet. En adelante será identificado como
        SHARE EN LINEA o servicio Virtual indistintamente.
      </p>
      <p class="q-mb-md text-bold">Cliente o Asociado</p>
      <p class="text-justify">
        Toda persona Individual que actualmente sea titular de al menos uno de
        los productos y servicios ofrecidos por alguna de las entidades o
        empresas afiliadas que conforman SHARE.
      </p>
      <p class="q-mb-md text-bold">Usuario</p>
      <p class="text-justify">
        Código de identificación asignado para el registro de ingreso a SHARE EN
        LINEA.
      </p>
      <p class="q-mb-md text-bold">Cuentas de terceros</p>
      <p class="text-justify">
        Son todas aquellas cuentas en las que los Clientes o Asociados no son
        titulares de las mismas y son asociadas a la cuenta del mismo para poder
        efectuar operaciones con ellas.
      </p>
      <p class="q-mb-md text-bold">Pagos a terceros</p>
      <p class="text-justify">
        Son todos aquellos pagos efectuados por el Cliente o Asociado a personas
        individuales o jurídicas, ajenas a SHARE.
      </p>
      <p class="q-mb-md text-bold">Transferencias a terceros</p>
      <p class="text-justify">
        Son todas aquellas transferencias de dinero efectuadas hacia cuentas en
        donde el Cliente o Asociado no es titular de las mismas.
      </p>
      <p class="q-mb-md text-bold">Código de seguridad</p>
      <p class="text-justify">
        Método de validación adicional, que mediante la generación de un número
        aleatorio, que es válido para utilizarse una sola vez dentro de un
        tiempo de vigencia determinado por SHARE, que no conoce nadie
        previamente, siendo confidencial e intransferible, permitiendo
        incrementar los niveles de seguridad de los servicios Virtuales,
        brindando tranquilidad al Cliente o Asociado, para realizar sus
        operaciones a través de los canales electrónicos. Consiste en una cadena
        de caracteres numéricos que permiten verificar la identidad de una
        persona, previo a permitir el acceso a SHARE EN LINEA o realizar una
        transacción.
      </p>
      <p class="q-mb-md text-bold">Método de autenticación y autorización</p>
      <p class="text-justify">
        Contraseñas y cualquier otro medio de autenticación y/o autorización
        establecidas a la fecha o que en un futuro se establezcan a criterio de
        SHARE.
      </p>
      <p class="q-mb-md text-bold">Phishing (suplantación de identidad)</p>
      <p class="text-justify">
        Tipo de estafa por el que una persona distinta al Cliente o Asociado
        adquiere de forma fraudulenta información confidencial como puede ser
        una contraseña, usuario, información detallada sobre tarjetas de débito
        o crédito u otra información personal.
      </p>
      <p class="q-mb-md text-bold">Malware (código malicioso)</p>
      <p class="text-justify">
        Es un tipo de programa (software) que tiene como objetivo infiltrarse,
        dañar una computadora o sistema de información sin el consentimiento de
        su propietario.
      </p>
      <p class="q-mb-md text-bold">Spyware (programa espía)</p>
      <p class="text-justify">
        Es un malware que recopila información de una computadora o sistema de
        información y después transmite esta información a una entidad externa
        sin el conocimiento o el consentimiento del propietario.
      </p>
      <p class="text-justify text-bold">Términos y condiciones</p>
      <p class="text-justify">
        Para poder utilizar SHARE EN LINEA - es requisito indispensable aceptar
        los presentes Términos y Condiciones, de lo contrario SHARE queda en la
        disposición, sin responsabilidad de su parte, de suspender el servicio,
        lo cual es aceptado por el Cliente o Asociado. Se debe leer, entender y
        aceptar todo lo estipulado bajo los Términos y Condiciones, previo a la
        utilización del servicio Virtual. La utilización del servicio Virtual
        Individual por parte del Cliente o Asociado constituirá prueba
        suficiente de aceptación de los Términos y Condiciones en que SHARE lo
        presta.
      </p>
      <p class="text-justify text-bold">Declaraciones</p>

      <p class="q-mb-md">
        SHARE declara que está en capacidad de ofrecer a sus clientes o
        asociados un medio electrónico para realizar consultas y transacciones
        sobre sus cuentas a través de la funcionalidad de Servicios Virtuales,
        a los que sus clientes o asociados pueden acceder por medio de
        internet o aplicaciones Android.
      </p>
      <p class="q-mb-md">
        El Cliente o Asociado manifiesta que es su intención que SHARE ponga a
        su disposición información referente a las cuentas que maneja a través
        de SHARE EN LINEA, y que se le conceda el acceso al servicio Virtual
        para poder efectuar transacciones remotas sobre las mismas cuentas.
      </p>
      <p class="q-mb-md">
        El Cliente o Asociado declara y acepta que la contraseña que SHARE le
        entregue para el acceso al servicio Virtual deberá ser cambiada por
        una de su exclusivo conocimiento, que será personal, secreta e
        intransferible, siendo responsabilidad plena del Cliente o Asociado
        las diversas operaciones que con dicha contraseña se realicen. El
        Cliente o Asociado exonera desde ya cualquier responsabilidad a SHARE
        por cualquier transacción que sea efectuada utilizando esta contraseña
        ya que es responsabilidad exclusiva del Cliente o Asociado la custodia
        y uso de la misma, también exonera a SHARE por cualquier acción
        delictiva que sea cometida en su contra por terceras personas,
        derivadas de Phishing, malware, Spyware y/o la obtención en forma
        directa, indirecta y/o fraudulenta de parte del Cliente o Asociado, la
        contraseña correspondiente.
      </p>
      <p class="q-mb-md">
        El Cliente o Asociado faculta y autoriza irrevocablemente a SHARE para
        grabar, captar y/o reproducir todas y cada una de las comunicaciones
        y/o mensajes que se generen con ocasión del presente acuerdo,
        constituyendo estos el registro fidedigno de las condiciones en que se
        prestan los servicios que han sido captados por el Cliente o Asociado.
      </p>
      <p class="q-mt-md text-bold">Condiciones del servicio</p>
      <p class="q-mb-md">
        Características del servicio, comprende la funcionalidad de consultas y
        transacciones que SHARE presta al Cliente o Asociado a través de:
        SHARE EN LINEA
      </p>

      <p class="text-bold">Solicitud del servicio</p>
      <p>
        El Cliente o Asociado que desee adquirir el servicio Virtual de
        SHARE, debe solicitar su acceso a través de una agencia, completar y
        firmar el "Contrato de Servicio Virtual". SHARE le entregará un link
        para descargar la aplicación y al momento de registrarse el usuario
        recibirá un token que contiene el código de acceso el cual servirá
        para registrar un número de celular para el acceso a la aplicación
        SHARE EN LINEA.
      </p>

      <p class="text-bold">Operaciones permitidas</p>
      <p class="text-justify">
        A través de SHARE EN LINEA, el Cliente o Asociado podrá realizar las
        siguientes operaciones:
      </p>
      <p>
        Consulta de saldos y estado de cuenta de:1) Depósitos de ahorro; 2) Tarjetas de débito; 3) Préstamos; 4)
        Tipo de cambio; 5) Otros que en el futuro se establezcan por
        SHARE.
      </p>
      <p>
        Pagos de: 1) Préstamos, mediante
        débito directo de las cuentas que el Cliente o Asociado disponga
        en SHARE. 2) Servicios proporcionados por terceras empresas
        (energía eléctrica, telefonía y otros).
      </p>
      <p>
        Impuestos Banca SAT (contrato de
        adhesión y pólizas de importación).
      </p>
      <p>
        Transferencias Entre cuentas
        propias, cuentas de terceros o transferencias móviles.
      </p>
      <p>
        Otros servicios Aquellos que se
        establezcan por SHARE en el futuro y que se ponga a disposición de
        sus clientes o asociados.
      </p>
      <p class="text-bold">Funcionamiento del servicio</p>

      <p>
        El funcionamiento de los servicios se prestará todos los días del
        año, en horario comprendido de las siete a
        las veintiún horas de cada día
        durante la duración del contrato o contratos que el Cliente o
        Asociado haya suscrito con SHARE y siempre que el Cliente o
        Asociado no haya solicitado la cancelación del servicio Virtual.
        No obstante, lo anterior, SHARE podrá ampliar o reducir dicho
        horario, temporal o definitivamente, a todos los servicios o a
        determinada clase de transacciones
      </p>
      <p>
        El Cliente o Asociado faculta y autoriza irrevocablemente a SHARE
        para grabar, captar y/o reproducir todas y cada una de las
        comunicaciones y/o mensajes que se generen con ocasión del
        presente acuerdo, constituyendo éstos el registro fidedigno de los
        servicios y/o instrucciones manifestadas por el Cliente o
        Asociado.
      </p>
      <p>
        La transmisión de datos, consultas, operaciones y transacciones
        realizadas por medio de SHARE EN LINEA estarán debidamente
        cifradas, contando para lo anterior con el respaldo de un
        certificado de seguridad provisto por una entidad internacional
        autorizada para este fin.
      </p>

      <p>
        Comisiones: SHARE, por el momento, no cobra al Cliente o Asociado por el uso del
        servicio Virtual comisión alguna. Si en el futuro SHARE implementara
        el cobro de alguna comisión por la prestación del servicio o le
        asignara un costo, lo hará saber al Cliente o Asociado quien tendrá la
        posibilidad de aceptar el mismo para continuidad del servicio o
        rechazarlo, dando por finalizado el servicio. Si transcurridos treinta
        (30) días calendario desde la notificación del cobro al Cliente o
        Asociado, éste no manifiesta su rechazo por escrito, el cobro se
        tendrá por aceptado.
      </p>
      <p class="text-bold">Responsabilidades</p>

      <p class="text-bold">Cliente o Asociado</p>

      <p>
        La Contraseña de acceso del servicio Virtual de SHARE es de
        carácter confidencial, personal e intransferible. El Cliente o
        Asociado será el único responsable de su custodia, manejo y
        administración y demás mecanismos de autenticación suministrados
        por SHARE. SHARE queda exento de cualquier responsabilidad
        derivada del mal uso que de ellas se haga, de modo que todas las
        operaciones realizadas a través del servicio Virtual, se
        consideran realizadas por el Cliente o Asociado.
      </p>
      <p>
        El Cliente o Asociado se obliga de manera expresa e irrevocable a
        implementar los mecanismos de control idóneos que garanticen en
        debida forma los deberes de confidencialidad y reserva de la
        contraseña para hacer uso de SHARE EN LINEA.
      </p>
      <p>
        Las consultas, la definición de los montos de las transacciones,
        operaciones efectuadas, serán procesadas y ejecutadas según la
        naturaleza de cada una de ellas, en los tiempos que estableciere
        SHARE y se considerarán aceptadas al momento que el Cliente o
        Asociado realice la operación a través del servicio Virtual. Una
        vez aceptadas las operaciones por parte del Cliente o Asociado,
        éstas no podrán ser canceladas o reversadas por el mismo, por lo
        que el Cliente o Asociado asume la responsabilidad y acepta las
        operaciones efectuadas una vez confirmadas por él. Cualquier
        gestión relacionada con la cancelación o reversión de operaciones
        hechas por parte del Cliente o Asociado por medio de Banca Virtual
        Individual, deberá ser gestionada de manera personal, o a través
        de su representante debidamente facultado para tal asunto, en
        cualquiera de las agencias de SHARE. Se hace constar expresamente
        que SHARE, con el hecho de aceptar la solicitud de reversión o
        cancelación de una operación,
        <span
          class="text-bold"
        >NO</span> está obligado a aceptar y
        procesar la misma, debido a que eso dependerá del análisis que
        oportunamente se haga, principalmente si en la misma se han
        afectado cuentas de terceros.
      </p>
      <p>
        Las cuentas de terceros, de personas que sean o no clientes o
        asociados de SHARE, son agregadas al servicio para efectuar
        diversas operaciones, a solicitud expresa del Cliente o Asociado y
        bajo su estricta responsabilidad, de acuerdo a la normativa
        establecida por SHARE.
      </p>
      <p>
        El Cliente o Asociado es responsable directo de la configuración y
        protección del equipo electrónico (computadora, celular, tablet,
        etc.) que utilice para conectarse al navegador de internet,
        asimismo deberá contar con protección de antivirus o cualquier
        otro producto de hardware o software original, que sirva para
        resguardar la privacidad de la información del lado del Cliente o
        Asociado. El Cliente o Asociado será el único responsable de
        cualquier acceso que pueda tener a SHARE EN LINEA, por medio de
        redes públicas y/o en equipos diferentes a los de su propiedad,
        derivado de la vulnerabilidad de dichas redes y/o copias o
        registros que queden resguardados en dichos equipos. SHARE no se
        hace responsable por el acceso de terceros a cualquier equipo
        electrónico donde el Cliente o Asociado utilice el servicio
        Virtual de SHARE.
      </p>
      <p>
        El Cliente o Asociado asume toda la responsabilidad que conlleva
        el uso de SHARE EN LINEA y libera a SHARE de responsabilidad por
        errores o mal uso cometidos en el momento de realizar
        transacciones o ingresar los datos necesarios para efectuar las
        transacciones.
      </p>
      <p>
        El Cliente o Asociado debe cambiar la contraseña de acceso cuando
        el servicio Virtual de SHARE así lo requiera. Este requerimiento
        lo hará el sistema de forma automática, única y exclusivamente al
        momento que el Cliente o Asociado ingrese sus credenciales de
        acceso al mismo, y nunca será solicitada por ningún medio de
        comunicación al Cliente o Asociado.
      </p>

      <p class="text-bold">SHARE de Guatemala</p>

      <p>
        SHARE no asume ninguna responsabilidad en caso que el Cliente o
        Asociado no pueda efectuar sus operaciones por la interrupción
        imprevista del servicio, idoneidad, capacidad de los equipos
        electrónicos, dificultades en su funcionamiento o retardo en el
        procesamiento de las operaciones, virus informático, falla de la
        línea, programas utilizados por el Cliente o Asociado para
        utilizar el servicio, accesos no exitosos, causados por problemas
        de carácter técnico, congestión o de cualquier otra naturaleza.
      </p>
      <p>
        SHARE se reserva el derecho de modificar, extender o restringir el
        servicio Virtual, pudiendo modificar o suprimir cualquiera de sus
        funciones o incorporar otras a su libre elección, sin que ello
        conlleve ningún tipo de responsabilidad para SHARE, lo que será
        notificado por medio de la página web o por medio del correo
        electrónico del Cliente o Asociado, que figure en los registros de
        SHARE.
      </p>
      <p>
        SHARE no será responsable bajo ningún concepto por los daños
        ocasionados al Cliente o Asociado por parte de terceros que a
        través del uso de herramientas y conocimientos tecnológicos
        decodifiquen ilegalmente la información transmitida
        electrónicamente durante la utilización de SHARE EN LINEA, el
        Cliente o Asociado comparta su contraseña o la misma sea obtenida
        por terceros de forma fraudulenta.
      </p>
      <p>
        SHARE EN LINEA puede contener enlaces a otros sitios web
        independientes de SHARE, y en virtud que SHARE no tiene control
        sobre tales sitios, no será responsable por los contenidos,
        materiales, acciones y/o servicios prestados por los mismos, ni
        por daños ocasionados por su utilización, directa o
        indirectamente. El acceso a estos sitios, por medio de los
        enlaces, será responsabilidad directa del Cliente o Asociado.
      </p>
      <p>
        SHARE, si lo estimare oportuno, podrá habilitar la implementación
        de un mecanismo electrónico que genere nuevos factores de
        autenticación para todos o determinados productos atendidos por
        medio del servicio Virtual, lo que será notificado al Cliente o
        Asociado para su utilización, si corresponde. Si el uso de este
        mecanismo se considerare indispensable para la prestación de
        productos seleccionados, el Cliente o Asociado deberá adquirirlo.
        De lo contrario, el servicio a que se refiere será dado de baja en
        forma automática.
      </p>
      <p class="text-bold">Obligaciones del Cliente o Asociado</p>

      <p class="q-mb-md">No suplantar a ninguna persona que utilice SHARE EN LINEA.</p>
      <p class="q-mb-md">
        Tener a disposición y mantener en adecuado funcionamiento los equipos
        de cómputo y medios de comunicación que se requieren para la conexión
        del servicio Virtual y de comunicaciones que se requieran para la
        conexión y utilización del mismo.
      </p>
      <p class="q-mb-md">
        No utilizar SHARE EN LINEA para realizar transacciones cuyo origen,
        fin o destino sea ilícito o prohibido por la ley o autoridad
        competente o que se enmarque dentro de actividades catalogadas por la
        ley como Lavado de Dinero u Otros Activos o Financiamiento del
        Terrorismo.
      </p>
      <p class="q-mb-md">
        No compartir, publicar o de cualquier otra forma dar a conocer a
        terceros su contraseña de acceso al Servicio Virtual.
      </p>
      <p class="text-bold">Vigencia y modificación del contrato</p>
      <p class="q-mb-md">
        El presente documento tendrá una vigencia indefinida, siempre y cuando
        el Cliente o Asociado sea titular de al menos uno de los productos
        ofrecidos por SHARE y este se encuentre activo. No obstante, cada una
        de las partes podrá darlo por terminado de forma unilateral siempre
        que se exprese de manera escrita. Cuando los productos del Cliente o
        Asociado adquieran condición de “inactivos”, o bien sean embargados
        por orden de juez o bloqueados por autoridad competente o la propia
        SHARE, no podrán ser utilizados por medio del servicio Virtual, hasta
        en tanto el Cliente o Asociado solvente la situación que haya
        originado dicha condición, lo que deberá documentarse por medio de
        cualquiera de las agencias en toda la república.
      </p>

      <p class="q-mb-md">
        SHARE podrá cancelar, limitar, modificar o adicionar los presentes
        Términos y Condiciones del servicio, mediante un aviso publicado en
        los medios que se considere necesarios o correo electrónico, que
        figure registrado en los sistemas de la institución. Si transcurridos
        treinta (30) días calendario desde la emisión de dicho aviso el
        Cliente o Asociado no solicita la cancelación del servicio o continúa
        haciendo uso del mismo, se entiende que acepta tácitamente las
        modificaciones introducidas, mismas que formarán parte integral del
        Contrato del servicio Virtual, que el Cliente o Asociado suscribió
        para la obtención del servicio.
      </p>
      <p class="text-bold">Terminación de la prestación del servicio</p>
      <p>
        El servicio Virtual tratado en el presente documento, podrá darse por
        terminado por parte de SHARE, dadas las siguientes situaciones:
      </p>
      <p class="q-mb-md">
        Incumplimiento por parte del Cliente o Asociado de cualquiera de las
        obligaciones contenidas en el contrato, los presentes Términos y
        Condiciones, y cualquier modificación a los mismos que puedan
        realizarse en el futuro.
      </p>
      <p class="q-mb-md">
        Terminación por cualquier causa del contrato de servicios o
        cancelación de los productos ofrecidos por SHARE que posea el Cliente
        o Asociado y que de alguna manera u otra estén vinculados a SHARE EN
        LINEA.
      </p>
      <p class="q-mb-md">
        Cuando exista sospecha de actuación irregular que afecte real o
        potencialmente los intereses del Cliente, Asociado y/o SHARE.
      </p>
      <p class="q-mb-md">Por convenir a los intereses de SHARE sin expresión de causa.</p>
      <p class="text-bold">Contenido</p>
      <p class="q-mb-md">
        SHARE puede actualizar el contenido del sitio web o aplicación, cuando
        lo considere necesario, haciendo modificaciones o eliminaciones sin
        que esto le genere responsabilidad ante el Cliente o Asociado.
      </p>
      <p class="text-bold">Propiedad intelectual</p>
      <p class="q-mb-md">
        Todos los derechos de propiedad intelectual de la información y del
        contenido total o parcial sobre el cual es desplegado el servicio
        Virtual, son propiedad de SHARE y/o de las entidades y empresas
        afiliadas, estando consecuentemente prohibidos la copia, duplicación,
        redistribución, comercialización o cualquier otra actividad que se
        pueda realizar con los contenidos de los servicios Virtuales y de las
        pantallas que muestran estas páginas, aun citando las fuentes, salvo
        consentimiento expreso de SHARE.
      </p>
      <p class="q-mb-md">
        Los logotipos y marcas de las entidades y empresas afiliadas a SHARE,
        están debidamente registrados. El uso indebido y la reproducción total
        o parcial de sus marcas, imágenes, textos, promociones, diseños y
        cualquier otro contenido quedan totalmente prohibidos, salvo
        autorización expresa y por escrito de la empresa correspondiente.
      </p>
      <p class="q-mb-md">
        El sitio web o aplicaciones de SHARE pueden alojar propiedad
        intelectual de otras empresas u organizaciones derivados de tratados o
        acuerdos comerciales. El Cliente o Asociado no puede hacer uso de
        estos recursos sin la autorización expresa y por escrito del
        propietario.
      </p>
      <p class="text-bold">Limitaciones</p>
      <p class="q-mb-md">
        Los servicios ofrecidos a través de SHARE EN LINEA pueden estar
        sujetos a limitaciones derivadas de la legislación vigente de la
        República de Guatemala, políticas internas, recomendaciones u otras
        medidas orientadas a disminuir los riesgos para SHARE y sus clientes o
        asociados, así como prevenir el Lavado de Dinero u Otros Activos o
        Financiación del Terrorismo
      </p>

      <div class="text-center" v-if="$route.params.code != '1'">
        <div>
          <q-checkbox v-model="acceptTerms" label="Acepto términos y condiciones de uso" />
        </div>

        <q-btn
          v-if="acceptTerms"
          color="primary"
          label="Aceptar"
          rounded
          flat
          text-color="white"
          @click="accept"
          class="btn-login bg-primary q-mt-lg q-pa-sm full-width"
        ></q-btn>
      </div>
    </div>
  </div>
</template>
<style lang="stylus" scoped>
p {
  text-align: justify;
}
</style>
<script>
import Util from "../../js/Util";
export default {
  mixins: [Util],
  data: function() {
    return {
      acceptTerms: false
    };
  },
  created() {},
  methods: {
    accept() {
      if (this.$route.params.code == 1) {
        this.$router.push({ name: "Main" });
      } else {
        this.setItemStorage("termsAccepted", "true");
        this.$router.push({ name: "Login" });
      }
    }
  }
};
</script>
