<template>
  <div style="height: 100%" class="bg-primary" transition-show="fade">
    <div class="bg-primary aligner" style="height: 32%">
      <img
        src="statics/image/share2.png"
        alt="LOGO"
        style="height: 100%; max-height: 150px"
      />
    </div>

    <div
      :class="[
        styleIOS
          ? 'container-form-user-validation'
          : 'container-form-user-validation flex flex-center',
        '',
      ]"
      :style="[styleIOS ? { height: '80%' } : { height: '68%' }]"
    >
      <q-form action class="q-pa-lg" style="width: 100%" ref="form">
        <q-select
          v-model="user.documentType"
          :options="optionsDocument"
          label="Tipo de Documento"
          :rules="[(val) => !!val || 'Seleccione tipo de documento']"
          @input="changeDocumentType"
        >
          <template v-slot:prepend>
            <q-icon name="fas fa-id-card-alt " />
          </template>
        </q-select>

        <q-input
          ref="username"
          v-model="user.id"
          label="Número Documento"
          :rules="[
            (val) => !!val || 'Ingrese su número de documento',
            (val) =>
              val.length >= currentDocument.mask.length ||
              'Número de documento no válido',
          ]"
          maxlength="50"
          class="full-width"
          type="tel"
          :mask="currentDocument.mask"
          lazy-rules
        >
          <template v-slot:prepend>
            <q-icon name="fas fa-user" />
          </template>
        </q-input>

        <q-input
          ref="phone"
          v-model="user.phone"
          label="Teléfono"
          :rules="[
            (val) => !!val || 'Ingrese su teléfono',
            (val) => val.length > 8 || 'Número de teléfono no válido',
          ]"
          maxlength="30"
          class="full-width"
          mask="####-####"
          prefix="(502) "
          type="tel"
          lazy-rules
        >
          <template v-slot:prepend>
            <q-icon name="fas fa-phone" />
          </template>
        </q-input>

        <q-input
          ref="token"
          v-model="user.token"
          label="Token"
          :rules="[(val) => !!val || 'Ingrese token']"
          maxlength="30"
          class="full-width"
        >
          <template v-slot:prepend>
            <q-icon name="fas fa-key" />
          </template>
        </q-input>

        <q-btn
          label="Generar token"
          text-color="primary"
          flat
          class="center-container q-mt-sm"
          @click="getToken"
        ></q-btn>

        <q-btn
          color="primary"
          label="Validar"
          rounded
          flat
          text-color="white"
          @click="verifyUser"
          class="btn-login bg-primary center-container q-mt-lg q-pa-sm"
        ></q-btn>
      </q-form>
      <q-dialog v-model="dialogImage" full-width>
        <q-card>
          <q-card-section>
            <div class="text-h6">Seleccione una imagen</div>
          </q-card-section>

          <q-card-section style="max-height: 65vh" class="scroll">
            <vue-select-image :dataImages="dataImages" @onselectimage="onSelectImage">
            </vue-select-image>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn flat label="Aceptar" color="primary" @click="sendData" />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
    <message ref="message"></message>
  </div>
</template>
<script>
import { URL_BASE, Result, IN_DEVICE } from "../../boot/Constant";
import Message from "../Common/Message";
import Util from "../../js/Util";
require("vue-select-image/dist/vue-select-image.css");
export default {
  mixins: [Util],
  components: {
    Message,
  },
  data: function () {
    return {
      user: {
        id: "",
        phone: "",
        token: "",
        documentType: "",
      },
      styleIOS: false,
      dialogImage: false,
      dataImages: [],
      selecedImage: {},
      optionsDocument: [],
      currentDocument: {},
    };
  },

  created() {
    if (window.cordova) this.styleIOS = device.platform == "iOS" ? true : false;
    if (this.getItemStorage("isUserLinked") == "true" && IN_DEVICE)
      this.$router.push("Login");

    this.getDocumentType();
  },
  methods: {
    verifyUser() {
      this.$refs.form.validate().then((result) => {
        if (result) {
          let url =
            URL_BASE +
            "verificarUsuario?noDocumento=" +
            this.user.id +
            "&telefono=(502) " +
            this.user.phone +
            "&token=" +
            this.user.token;
          this.$q.loading.show();
          this.$http
            .post(url)
            .then((response) => {
              if (!response) return;

              if (response.data.estado == Result.TOKEN_ERROR) {
                this.$refs.message.showMessageErrorToken();
                this.$q.loading.hide();
              } else if (response.data.estado == Result.SUCCESS) {
                this.udpateUserKey(response.data.data);
              } else {
                this.getImages();
              }
            })
            .catch((error) => {
              this.$q.loading.hide();
              this.$refs.message.showMessageError();
            });
        }
      });
    },
    udpateUserKey(idCli) {
      this.generateToken(this, this.user.id, "(502) " + this.user.phone).then(
        (response) => {
          if (response) {
            response.data.data;
            let url =
              URL_BASE + "updateUserKey?idCli=" + idCli + "&token=" + response.data.data;
            this.$q.loading.show();
            this.$http
              .post(url)
              .then((response) => {
                if (!response) return;

                if (response.data.estado == Result.TOKEN_ERROR) {
                  this.$refs.message.showMessageErrorToken();
                } else if (response.data.estado == Result.SUCCESS) {
                  this.setItemStorage("document", this.user.id);
                  this.setItemStorage("firstInitApp", "false");
                  this.setItemStorage("isUserLinked", "true");
                  this.setItemStorage("documentTypeMask", this.currentDocument.mask);
                  this.setItemStorage("documentTypeId", this.currentDocument.value);
                  this.setItemStorage("userKey", response.data.data);
                  //Cambia de ruta al de terminos y condicions, Recive como parametro "code" ,
                  //Se la pasa el valor de 0 para indicarle que despues tiene que ir al login
                  this.$router.push({ name: "terms", params: { code: 0 } });
                }
                this.$q.loading.hide();
              })
              .catch((error) => {
                this.$q.loading.hide();
                this.$refs.message.showMessageError();
              });
          }
        }
      );
    },
    //Vincular usuario
    sendData() {
      if (!this.selecedImage.id) {
        this.$refs.message.showMessageError("Debe seleccionar una imagen");
        return;
      }
      this.$refs.form.validate().then((result) => {
        if (result) {
          this.$q.loading.show();
          var url =
            URL_BASE +
            "vincular?noDocumento=" +
            this.user.id +
            "&telefono=(502) " +
            this.user.phone +
            "&idImagen=" +
            this.selecedImage.id +
            "&token=" +
            this.user.token;
          this.$http
            .post(url)
            .then((response) => {
              if (!response) return;
              //Validacions de la respuesta del WS
              if (response.data.estado == Result.TOKEN_ERROR) {
                this.$refs.message.showMessageErrorToken();
              } else if (response.data.estado == Result.USER_LINKED) {
                this.$refs.message.showMessageInfo("Este usuario ya esta vinculado");
              } else if (response.data.estado == Result.USER_ERROR) {
                this.$refs.message.showMessageError(
                  "Número de teléfono o documento incorrecto"
                );
              } else if (response.data.estado == Result.ERROR_SERVER) {
                this.$refs.message.showMessageErrorServer();
              } else if (response.data.estado == Result.SUCCESS) {
                this.setItemStorage("document", response.data.data.numeroDoc);
                this.setItemStorage("password", response.data.data.password);
                this.setItemStorage("firstInitApp", "true");
                this.setItemStorage("isUserLinked", "true");
                this.setItemStorage("imageSelected", this.selecedImage.id);
                this.setItemStorage("documentTypeMask", this.currentDocument.mask);
                this.setItemStorage("documentTypeId", this.currentDocument.value);
                //El userKey se utiliza en cada peticion que se hace al WS
                this.setItemStorage("userKey", response.data.data.userKey);
                //Cambia de ruta al de terminos y condicions, Recive como parametro "code" ,
                //Se la pasa el valor de 0 para indicarle que despues tiene que ir al login
                this.$router.push({ name: "terms", params: { code: 0 } });
              }
              this.$q.loading.hide();
            })
            .catch((error) => {
              this.$q.loading.hide();
              this.$refs.message.showMessageError();
            });
        } else {
        }
      });
    },
    getToken() {
      this.$refs.username.validate();
      this.$refs.phone.validate();
      if (!this.$refs.username.hasError && !this.$refs.phone.hasError) {
        //Se solicita el token
        this.generateToken(this, this.user.id, "(502) " + this.user.phone).then(
          (response) => {
            if (response) {
              this.user.token = response.data.data;
            }
          }
        );
      }
    },
    getDocumentType() {
      this.$q.loading.show();
      this.$http
        .post(URL_BASE + "tipo/identificacion")
        .then((response) => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            this.optionsDocument = [];
            response.data.data.map((item) => {
              let model = {
                label: item.descripcion,
                value: item.id,
                mask: this.formatMask(item.mascara),
              };
              this.optionsDocument.push(model);
            });
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          console.log(error);
          this.$q.loading.hide();
          this.$refs.message.showMessageError();
        });
    },
    formatMask(mask) {
      let newMask = "";
      if (mask) {
        mask.split("").map((item) => {
          if (item == "9") newMask += "#";
          else if (item == "*") newMask += "N";
          else if (item == "a") newMask += "S";
          else newMask += item;
        });
      }
      return newMask;
    },
    changeDocumentType(value) {
      this.currentDocument = value;
    },

    getImages() {
      if (this.dataImages.length == 0) {
        this.$refs.form.validate().then((result) => {
          if (result) {
            this.$q.loading.show();
            this.$http
              .post(URL_BASE + "imagenes")
              .then((response) => {
                if (!response) return;
                if (response.data.estado == Result.SUCCESS) {
                  this.dataImages = [];
                  response.data.data.map((item) => {
                    let model = {
                      id: item.id,
                      src: "data:image/jpg;base64," + item.img,
                      alt: item.nombre,
                    };
                    this.dataImages.push(model);
                  });
                  this.dialogImage = true;
                }
                this.$q.loading.hide();
              })
              .catch((error) => {
                console.log(error);
                this.$q.loading.hide();
                this.$refs.message.showMessageError();
              });
          }
        });
      } else this.dialogImage = true;
    },
    onSelectImage(image) {
      this.selecedImage = image;
    },
  },
  mounted() {
    //Este evento es para cuando llega el SMS del token al dispositivo
    this.$root.$on("token", (token) => {
      this.user.token = token;
    });
  },
};
</script>
<style lang="stylus">
@import '../../css/Style.styl';

.container-form-user-validation
  border-radius: 30px 30px 0px 0px;
  background: #fff;

.vue-select-image__thumbnail--selected
  background: $red-5

.vue-select-image__item
  width: 50%
  margin: 0px !important

.vue-select-image__wrapper
  display: flex
  flex-wrap: wrap
</style>
