<template>
  <message ref="message"></message>
</template>
<script>
import { URL_BASE, Result } from "../boot/Constant";
import Message from "../components/Common/Message";
export default {
  components: {
    Message,
  },
  data: function () {
    return {};
  },
  methods: {
    //Esta funcion retorna el value con el formato para dinero. Ejemplo : 2,500
    getFormatMoney(value) {
      if (value) {
        //Se convierte a decimal con dos digitos flotantes
        let amount = parseFloat(value).toFixed(2);
        //Se convierte en el siguiente formato : 2500.00
        amount = amount.split(".")[0] + "." + amount.split(".")[1].substring(0, 2);
        //Se convierte en el siguiente formato : 2,500.00
        var format = parseFloat(amount)
          .toFixed(2)
          .replace(/\d(?=(\d{3})+\.)/g, "$&,");
        //retorna solo el numero entero. Ejemplo : 2,500
        return format.split(".")[0];
      } else {
        return 0;
      }
    },
    //Retorna el punto decimal de value.
    // Ejemplo : del valor 2500.45 , retorna 45
    getCents(value) {
      if (value) {
        //Se convierte a decimal con dos digitos flotantes
        let amount = parseFloat(value).toFixed(2);
        //Se crea un array, luego se retorna el segundo indice
        return amount.split(".")[1].substring(0, 2);
      } else {
        return "00";
      }
    },

    //Cambia la informacion del localStorage si se esta ejeuctando en el navegador
    // y si se ejecuta en un dispositivo mobil,lo cambia en el KeyStore
    setItemStorage(itemName, itemValue) {
      var secureStorage = new SecureLS({ encodingType: "rc4" });
      secureStorage.set(itemName, itemValue);
    },

    getItemStorage(itemName) {
      try {
        var secureStorage = new SecureLS({ encodingType: "rc4" });
        var result = secureStorage.get(itemName);
        return result;
      } catch (error) {
        return "";
      }
    },

    removeItenStorage(itemName) {
      var secureStorage = new SecureLS({ encodingType: "rc4" });
      secureStorage.remove(itemName);
    },
    //Retorna el dia en una fecha
    //Si la fecha tiene formato 2020/05/21, retorna 21
    //Si la fecha tiene formato 12-08-2020 retora 12
    getDayFormat(date, separator) {
      if (separator == "-") {
        return date.split(separator)[2];
      } else {
        return date.split(separator)[0];
      }
    },
    //Retorna el nombre del mes
    //Ejemplo : Si date es 05/04/2020  , retorna :  ABR
    getMonthFormat(date, separator) {
      let months = [
        "ENE",
        "FEB",
        "MAR",
        "ABR",
        "MAY",
        "JUN",
        "JUL",
        "AGO",
        "SEP",
        "OCT",
        "NOV",
        "DIC",
      ];
      let indexMonth = date.split(separator)[1];
      return months[indexMonth - 1];
    },
    //Esta funcion asincrona realiza una peticion al ws, depues el token obtenido mediante los datos
    //del usuario  se le envia por medio SMS el token ,
    async generateToken(context, noDocumento, telefono, sms) {
      context.$q.loading.show();

      let urlComplement = sms ? "token/sms?" : "token?";
      let url = URL_BASE + urlComplement;
      if (noDocumento && telefono) {
        url += "noDocumento=" + noDocumento + "&telefono=" + telefono;
      } else {
        url += "idCli=" + this.getItemStorage("idUser");
      }
      let promise = new Promise((resolve, reject) => {
        context.$http
          .post(url)
          .then((response) => {
            if (response) {
              if (response.data.estado == Result.INVALID_TOKEN_ASSOCIATED) {
                this.$refs.message.showMessageError(
                  "No tiene asociado el servicio de token"
                );
                resolve(null);
              } else {
                if (response.data.estado == Result.SUCCESS) {
                  context.$q.loading.hide();

                  resolve(response);
                } else if (response.data.estado == Result.USER_NOT_FOUND) {
                  this.$refs.message.showMessageError("Este usuario no existe");

                  resolve(null);
                } else {
                  this.$refs.message.showMessageErrorServer();
                  resolve(null);
                }
              }
            }
            context.$q.loading.hide();
          })
          .catch((error) => {
            context.$q.loading.hide();
            this.$refs.message.showMessageError();
          });
      });

      return await promise;
    },
    //Enviar menaje SMS al dispositivo
    sendMessage(userNumber, message, context) {
      requestPermision(userNumber, message, context);
    },

    //Pide los permisos al usuario para poder envir el SMS
    requestPermision(userNumber, message, context) {
      var permissions = cordova.plugins.permissions;
      var list = [
        permissions.READ_SMS,
        permissions.RECEIVE_SMS,
        permissions.SEND_SMS,
        permissions.SMS_FINANCIAL_TRANSACTIONS,
      ];

      permissions.requestPermissions(
        list,
        function (response) {
          sendingMessage(userNumber, message, context);
        },
        function (error) {
          this.$refs.message.showMessageInfo(
            "Necesita aceptar los permisos para poder enviar SMS"
          );
        }
      );
    },

    writeCell(workbook, cell, value) {
      workbook.sheet(0).cell(cell).value(value);
    },
    mergeCell(workbook, range) {
      workbook.sheet(0).range(range).merged(true);
    },
    mergeCells(workbook, ranges) {
      ranges.map((item) => {
        workbook.sheet(0).range(item).merged(true);
      });
    },
    writeCells(workbook, data, boldText) {
      data.map((item) => {
        workbook.sheet(0).cell(item.cell).value(item.value);

        if (boldText) {
          workbook.sheet(0).cell(item.cell).style("bold", true);
        }
      });
    },

    sendingMessage(userNumber, message, context) {
      //Se inicia al SMS recive. Este sirve para poder escuchar cuando un mensaje llega al dispositivo
      SMSReceive.startWatch(
        function () {},
        function () {}
      );
      var messageToUser = {
        phoneNumber: userNumber,
        textMessage: message,
      };

      var success = function (response) {};
      var error = function (e) {
        this.$refs.message.showMessageError("Error al enviar el SMS");

        SMSReceive.stopWatch(
          function () {},
          function () {}
        );

        if (e.code == "SMS_GENERAL_ERROR") {
          //error general- posible no saldo disponbile

          this.$refs.message.showMessageError("Error al enviar el SMS");
        } else if (e.code == "NO_SMS_SERVICE_AVAILABLE") {
          // El servicio no esta disponible actualmetne
          this.$refs.message.showMessageInfo(
            "El servicio SMS no esta disponible en este momento"
          );
        } else if (e.code == "SMS_FEATURE_NOT_SUPPORTED") {
          //La funcion envio de SMS no esta disponbiel en este dispositivo
          this.$refs.message.showMessageInfo(
            "El dispositivo no soporta esta el envio de SMS"
          );
        } else {
          this.$refs.message.showMessageError("Error al enviar el SMS ");
        }
      };
      sms.sendMessage(messageToUser, success, error);
    },
    formatFloat(value) {
      return parseFloat((value + "").split(",").join(""));
    },
  },
  watch: {
    dialogSuccess: function (newValue, oldValue) {},
  },
};
</script>
