<template>
  <div>
    <div class="nav">
      <div class="nav-item active" @click="emitTab('home')">
        <q-icon name="home" :class="{ 'text-red': selectedTab == 'home' }" />
        <span class="nav-text" :class="{ 'text-red': selectedTab == 'home' }"
          >Inicio</span
        >
      </div>

      <div class="nav-item" @click="emitTab('request')">
        <q-icon name="edit" :class="{ 'text-red': selectedTab == 'request' }" />
        <span class="nav-text" :class="{ 'text-red': selectedTab == 'home' }"
          >Solicitud</span
        >
      </div>

      <div class="nav-item" @click="emitTab('claim')">
        <q-icon
          name="notification_important"
          :class="{ 'text-red': selectedTab == 'claim' }"
        />
        <span class="nav-text" :class="{ 'text-red': selectedTab == 'home' }"
          >Reclamo</span
        >
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    selectedTab: String,
  },
  created() {},
  data: function () {
    return {
      //    tab : this.selectedTab
    };
  },
  created() {},
  methods: {
    emitTab(emit) {
      this.$emit("change", emit);
    },

    init() {
      const navItems = document.getElementsByClassName("nav-item");

      for (let i = 0; i < navItems.length; i++) {
        navItems[i].addEventListener("click", () => {
          for (let j = 0; j < navItems.length; j++)
            navItems[j].classList.remove("active");

          navItems[i].classList.add("active");
        });
      }
    },
    selectCurrentTab() {
      const navItems = document.getElementsByClassName("nav-item");

      for (let j = 0; j < navItems.length; j++) navItems[j].classList.remove("active");

      if (this.selectedTab == "home") {
        navItems[0].classList.add("active");
      } else if (this.selectedTab == "request") {
        navItems[1].classList.add("active");
      } else if (this.selectedTab == "claim") {
        navItems[2].classList.add("active");
      }
    },
  },
  mounted() {
    this.init();
    this.selectCurrentTab();

    this.$root.$on("tab", (tabName) => {});
  },
  watch: {},
};
</script>
<style lang="stylus" scoped>
.nav {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: auto;
  background-color: #fff;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.nav-text {
  font-size: 16px;
  margin: auto;
  text-align: center;
  display: none;
  transition: all 0.3s ease;
}

.material-icons {
  display: inline;
  font-size: 32px;
  transition: color 0.3s;
  color: #aaa;
}

/*  */
.nav-item.active {
  flex-grow: 3;
  border-radius: 30px;
  background: rgba(234, 12, 29, 0.2);
  justify-content: flex-start;
  // max-width 400px
}

.nav-item.active > .nav-text {
  display: inline-block;
}

.nav-item.active {
  color: #F44336 !important;
}

.material-icons.home-icon ~ .nav-text {
  color: #F44336;
}

.nav-item.active > .material-icons.favorite-icon {
  color: #F44336;
}

.material-icons.favorite-icon ~ .nav-text {
  color: #F44336;
}

.nav-item.active > .material-icons.search-icon {
  color: #F44336;
}

.material-icons.search-icon ~ .nav-text {
  color: #F44336;
}

.nav-item.active > .material-icons.person-icon {
  color: #F44336;
}

.material-icons.person-icon ~ .nav-text {
  color: #F44336;
}
</style>
