<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="scale"
      transition-hide="scale"
    >
      <q-card class="q-mt-58 q-pa-md">
        <div class="bg-primary q-pb-xs q-pt-xs q-pb-xs fixed-top" style="z-index: 1">
          <q-toolbar class="text-white">
            <q-btn flat round dense icon="close" @click="showDialog = false" />
            <q-toolbar-title>Reclamo</q-toolbar-title>
            <q-btn flat label="Enviar" text-color="white" @click="sendData"></q-btn>
          </q-toolbar>
        </div>
        <div class="">
          <q-form ref="formClaim">
            <q-select
              class="q-mt-md"
              v-model="claim.type"
              :options="optionsClaimType"
              label="Tipo de reclamo"
              :rules="[(val) => !!val || 'Seleccione tipo reclamo']"
              lazy-rules
            />

            <q-select
              v-model="claim.account"
              :options="optionsAcccount"
              label="Número de cuenta"
              :rules="[(val) => !!val || 'Seleccione cuenta']"
              lazy-rules
            />

            <q-input
              ref="amount"
              prefix="Q "
              bottom-slots
              v-model.number="claim.amount"
              label="Monto"
              maxlength="12"
              type="number"
              :rules="[
                (val) => !!val || 'Ingrese monto',
                (val) => val > 0 || 'El monto ingresado no es válido',
              ]"
              lazy-rules
              inputmode="numeric"
              pattern="[0-9]*"
              decimal-char="."
              @blur="change"
            ></q-input>

            <q-input
              ref="description"
              v-model="claim.description"
              label="Descripcion"
              :rules="[(val) => !!val || 'Ingrese descripción']"
              maxlength="200"
              class="full-width"
              lazy-rules
              decimal="true"
            ></q-input>
          </q-form>
          <q-dialog v-model="alert">
            <q-card>
              <q-card-section>
                <div class="text-h6">Solicitud</div>
              </q-card-section>

              <q-card-section class="q-pt-none">
                <p>Nùmero de solicitud : {{ requestNumber }}</p>
              </q-card-section>

              <q-card-actions align="right">
                <q-btn flat label="OK" color="primary" v-close-popup />
              </q-card-actions>
            </q-card>
          </q-dialog>
        </div>
        <message ref="message"></message>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { URL_BASE, Result } from "../../boot/Constant";
import Message from "../Common/Message";
import Util from "../../js/Util";
export default {
  mixins: [Util],
  components: {
    Message,
  },
  data: function () {
    return {
      optionsClaimType: [],
      optionsAcccount: [],
      alert: false,
      requestNumber: "",
      claim: {
        type: "",
        account: "",
        amount: "",
        description: "",
      },
      amount: "",
      showDialog: false,
    };
  },
  created() {
    this.getClaimType();
    this.getAccounts();
  },
  methods: {
    show() {
      this.showDialog = true;
    },
    change() {
      let temp = this.claim.amount.toString().split(".");

      if (temp[1]) {
        if (temp[1].length >= 2) {
          temp[1] = temp[1].substring(0, 2);
        }
      }

      this.claim.amount = parseFloat(temp[0] + "." + temp[1]).toFixed(2);
    },
    close() {
      this.$router.push("Home");
    },
    sendData() {
      this.$refs.formClaim.validate().then((response) => {
        if (response) {
          let url =
            URL_BASE +
            "reclamos?idTipoReclamo=" +
            this.claim.type.value +
            "&idCuenta=" +
            this.claim.account.value +
            "&monto=" +
            this.claim.amount +
            "&descripcion=" +
            this.claim.description +
            "&fechaSis=" +
            this.getItemStorage("date");

          this.$q.loading.show();
          this.$http
            .post(url)
            .then((response) => {
              if (!response) return;
              if (response.data.estado == Result.SUCCESS) {
                if (response.data.data.id == Result.VALID) {
                  this.requestNumber = response.data.data.numeroSol;

                  this.$refs.formClaim.resetValidation();

                  this.claim = {
                    type: "",
                    account: "",
                    amount: "",
                    description: "",
                  };

                  this.$refs.message.showMessageSuccess(
                    (
                      "Número de soliciud : " +
                      response.data.data.numeroSol +
                      "_" +
                      response.data.data.descripcion +
                      ""
                    ).split("_"),
                    ""
                  );
                } else {
                  this.$refs.message.showMessageError(response.data.data.descripcion);
                }
              } else if (response.data.estado == 101) {
                this.$emit("invalidTime");
              } else {
                this.$refs.message.showMessageErrorServer();
              }

              this.$q.loading.hide();
            })
            .catch((error) => {
              this.$refs.message.showMessageError();
              this.$q.loading.hide();
            });
        }
      });
    },
    getClaimType() {
      this.$q.loading.show();
      let url = URL_BASE + "tipoReclamo";
      this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            response.data.data.map((item) => {
              let model = {
                label: item.descripcion,
                value: item.id,
              };

              this.optionsClaimType.push(model);
            });
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    getAccounts() {
      let url = URL_BASE + "cuentasOrigen?idCli=" + this.getItemStorage("idUser");

      this.$q.loading.show();

      this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            this.optionsAcccount = [];
            response.data.data.map((item) => {
              let model = {
                label: item.numero + " - " + item.nombre,
                value: item.id,
                type: item.tipo,
              };
              this.optionsAcccount.push(model);
            });
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
  },
};
</script>
