<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card>
        <div class="q-mt-50">
          <div class="bg-primary q-pb-xs q-pt-xs q-pb-xs fixed-top" style="z-index: 1">
            <q-toolbar class="text-white">
              <q-btn flat round dense icon="arrow_back" @click="dialog = false" />
              <q-toolbar-title>Datos de Contacto</q-toolbar-title>
              <q-btn
                v-if="
                  actionAddress == 'ADD' ||
                  actionAddress == 'UPDATE' ||
                  actionPhone == 'ADD' ||
                  actionPhone == 'UPDATE' ||
                  actionEmail == 'ADD' ||
                  actionEmail == 'UPDATE'
                "
                flat
                label="ENIVAR"
                @click="sendData"
              ></q-btn>
            </q-toolbar>
          </div>

          <q-card class="q-ma-sm q-mt-md">
            <div class="q-pa-md">
              <div style="max-width: 600px">
                <q-tabs v-model="tab" align="justify" narrow-indicator class="q-mb-lg">
                  <q-tab class="text-primary" name="address" label="Dirección" />
                  <q-tab class="text-primary" name="phone" label="Teléfono" />
                  <q-tab class="text-primary" name="email" label="Correo" />
                </q-tabs>

                <div>
                  <!--Form address, phone, email-->
                  <q-tab-panels v-model="tab" animated>
                    <!--Pannel address-->
                    <q-tab-panel name="address" class="q-mx-none q-px-none">
                      <div v-if="actionAddress == 'LIST'">
                        <q-list v-if="dataAddress.length > 0">
                          <q-item
                            class="q-mx-none q-px-none"
                            v-for="(item, index) in dataAddress"
                            :key="index"
                          >
                            <q-item-section>
                              <q-item-label
                                >{{ item.address }}, {{ item.suburb }},
                                {{ item.zone }}</q-item-label
                              >
                              <q-item-label caption lines="2"
                                >{{ item.contactType.label }}
                              </q-item-label>
                            </q-item-section>

                            <q-item-section side center>
                              <q-btn flat icon="more_vert">
                                <q-menu>
                                  <q-list style="min-width: 150px">
                                    <q-item
                                      clickable
                                      v-close-popup
                                      @click="changeActionAddress('UPDATE', item)"
                                    >
                                      <q-item-section side top>
                                        <q-icon name="edit"></q-icon>
                                      </q-item-section>
                                      <q-item-section> Editar</q-item-section>
                                    </q-item>
                                  </q-list>
                                </q-menu>
                              </q-btn>
                            </q-item-section>
                          </q-item>
                        </q-list>
                        <div v-else>
                          <p
                            class="text-grey-8 text-subtitle q-my-md text-center"
                            v-if="!$q.loading.isActive"
                          >
                            No se han encontrado direcciones
                          </p>
                        </div>
                        <q-page-sticky position="bottom-right" :offset="[18, 18]">
                          <q-btn
                            fab
                            icon="add"
                            color="primary"
                            @click="changeActionAddress('ADD')"
                          />
                        </q-page-sticky>
                      </div>

                      <q-form
                        :key="keyFormAddress"
                        ref="formAddress"
                        v-if="actionAddress == 'UPDATE' || actionAddress == 'ADD'"
                      >
                        <q-select
                          v-model="address.contactType"
                          :options="optionsContactType"
                          label="Tipo contacto"
                          :rules="[(val) => !!val || 'Seleccione tipo de contacto']"
                          lazy-rules
                        />

                        <q-input
                          v-model="address.address"
                          label="Dirección"
                          :rules="[(val) => !!val || 'Ingrese su dirección']"
                          maxlength="150"
                          class="full-width"
                          lazy-rules
                        ></q-input>

                        <q-input
                          v-model="address.suburb"
                          label="Colonia"
                          :rules="[(val) => !!val || 'Ingrese su colonia']"
                          maxlength="150"
                          class="full-width"
                          lazy-rules
                        ></q-input>

                        <q-input
                          v-model="address.zone"
                          label="Zona"
                          :rules="[(val) => !!val || 'Ingrese su zona']"
                          maxlength="150"
                          class="full-width"
                          lazy-rules
                          type="number"
                        ></q-input>

                        <q-select
                          v-model="address.country"
                          :options="optionsCountry"
                          label="País"
                          :rules="[(val) => !!val || 'Seleccione país']"
                          lazy-rules
                          @input="getRegion"
                        />

                        <q-select
                          v-model="address.region"
                          :options="optionsRegion"
                          label="Región"
                          :rules="[(val) => !!val || 'Seleccione región']"
                          lazy-rules
                          @input="getDepartment"
                        />

                        <q-select
                          v-model="address.department"
                          :options="optionsDepartment"
                          label="Departamento"
                          :rules="[(val) => !!val || 'Seleccione departamento']"
                          lazy-rules
                          @input="getMunicipality"
                        />

                        <q-select
                          v-model="address.municipality"
                          :options="optionsMunicipality"
                          label="Municipio"
                          :rules="[(val) => !!val || 'Seleccione municipio']"
                          lazy-rules
                          @input="getVillage"
                        />

                        <q-select
                          v-model="address.village"
                          :options="optionsVillage"
                          label="Aldea"
                          class="q-mb-md"
                          lazy-rules
                        />

                        <q-input
                          v-model="address.comment"
                          label="Comentario"
                          maxlength="150"
                          class="full-width q-mb-md"
                          lazy-rules
                        ></q-input>

                        <q-list>
                          <q-item tag="label" v-ripple class="q-px-none">
                            <q-item-section>
                              <q-item-label
                                style="font-size: 16px"
                                class="text-weight-light text-grey-8"
                                >Recibe notificación</q-item-label
                              >
                            </q-item-section>
                            <q-item-section avatar class="q-mr-none">
                              <q-toggle
                                class="q-mr-none"
                                checked-icon="check"
                                unchecked-icon="clear"
                                color="primary"
                                v-model="address.notification"
                              />
                            </q-item-section>
                          </q-item>
                        </q-list>
                        <q-input
                          v-model="address.token"
                          label="Token"
                          maxlength="10"
                          :rules="[(val) => !!val || 'Ingrese token']"
                          lazy-rules
                        />

                        <div class="text-center">
                          <q-btn
                            @click="getToken('address')"
                            label="Generar token"
                            flat
                            text-color="red"
                            class="q-mt-lg"
                          ></q-btn>
                        </div>

                        <div class="text-center">
                          <q-btn
                            @click="actionAddress = 'LIST'"
                            label="Cancelar"
                            outline
                            text-color="red"
                            class="q-mt-lg"
                          ></q-btn>
                        </div>
                      </q-form>
                    </q-tab-panel>

                    <!--Pannel Phone-->
                    <q-tab-panel name="phone">
                      <div v-if="actionPhone == 'LIST'">
                        <q-list v-if="dataPhone.length > 0">
                          <q-item
                            class="q-mx-none q-px-none"
                            v-for="(item, index) in dataPhone"
                            :key="index"
                          >
                            <q-item-section>
                              <q-item-label>{{ item.number }}</q-item-label>
                              <q-item-label caption lines="2"
                                >{{ item.contactType.label }}
                              </q-item-label>
                            </q-item-section>

                            <q-item-section side center>
                              <q-btn flat icon="more_vert">
                                <q-menu>
                                  <q-list style="min-width: 150px">
                                    <q-item
                                      clickable
                                      v-close-popup
                                      @click="changeActionPhone('UPDATE', item)"
                                    >
                                      <q-item-section side top>
                                        <q-icon name="edit"></q-icon>
                                      </q-item-section>
                                      <q-item-section> Editar</q-item-section>
                                    </q-item>
                                  </q-list>
                                </q-menu>
                              </q-btn>
                            </q-item-section>
                          </q-item>
                        </q-list>
                        <div v-else>
                          <p
                            class="text-grey-8 text-subtitle q-my-md text-center"
                            v-if="!$q.loading.isActive"
                          >
                            No se han encontrado teléfonos
                          </p>
                        </div>
                        <q-page-sticky position="bottom-right" :offset="[18, 18]">
                          <q-btn
                            fab
                            icon="add"
                            color="primary"
                            @click="changeActionPhone('ADD')"
                          />
                        </q-page-sticky>
                      </div>
                      <q-form
                        ref="formPhone"
                        v-if="actionPhone == 'UPDATE' || actionPhone == 'ADD'"
                      >
                        <q-select
                          v-model="phone.contactType"
                          :options="optionsContactType"
                          label="Tipo contacto"
                          :rules="[(val) => !!val || 'Seleccione tipo de contacto']"
                          lazy-rules
                        />

                        <q-select
                          v-model="phone.telephone"
                          :options="optionsTelephone"
                          label="Telefónica"
                          :rules="[(val) => !!val || 'Seleccione telefónica']"
                          lazy-rules
                        />

                        <q-select
                          v-model="phone.device"
                          :options="optionsDevice"
                          label="Tipo teléfono"
                          :rules="[(val) => !!val || 'Seleccione tipo teléfono']"
                          lazy-rules
                        />

                        <q-select
                          v-model="phone.country"
                          :options="optionsCountryPhone"
                          label="País del teléfono"
                          :rules="[(val) => !!val || 'Seleccione pais del teléfono']"
                          lazy-rules
                          @input="changeMask"
                        />

                        <q-input
                          v-model="phone.number"
                          label="Número"
                          :rules="[
                            (val) => !!val || 'Ingrese su número',
                            (val) =>
                              val.length > currentMask.length - 1 ||
                              'Número de teléfono no válido',
                          ]"
                          maxlength="150"
                          class="full-width"
                          lazy-rules
                          :mask="currentMask"
                        ></q-input>

                        <q-input
                          v-model="phone.comment"
                          label="Comentario"
                          maxlength="150"
                          class="full-width q-mb-md"
                          lazy-rules
                        ></q-input>
                        <q-list>
                          <q-item tag="label" v-ripple class="q-px-none">
                            <q-item-section>
                              <q-item-label
                                style="font-size: 16px"
                                class="text-weight-light text-grey-8"
                                >Recibe notificación</q-item-label
                              >
                            </q-item-section>
                            <q-item-section avatar class="q-mr-none">
                              <q-toggle
                                class="q-mr-none"
                                checked-icon="check"
                                unchecked-icon="clear"
                                color="primary"
                                v-model="phone.notification"
                              />
                            </q-item-section>
                          </q-item>
                        </q-list>
                        <q-input
                          v-model="phone.token"
                          label="Token"
                          maxlength="10"
                          :rules="[(val) => !!val || 'Ingrese token']"
                          lazy-rules
                        />

                        <div class="text-center">
                          <q-btn
                            @click="getToken('phone')"
                            label="Generar token"
                            flat
                            text-color="red"
                            class="q-mt-lg"
                          ></q-btn>
                        </div>
                        <div class="text-center">
                          <q-btn
                            @click="actionPhone = 'LIST'"
                            label="Cancelar"
                            outline
                            text-color="red"
                            class="q-mt-lg"
                          ></q-btn>
                        </div>
                      </q-form>
                    </q-tab-panel>

                    <q-tab-panel name="email">
                      <div v-if="actionEmail == 'LIST'">
                        <q-list v-if="dataEmail.length > 0">
                          <q-item
                            class="q-mx-none q-px-none"
                            v-for="(item, index) in dataEmail"
                            :key="index"
                          >
                            <q-item-section>
                              <q-item-label>{{ item.email }}</q-item-label>
                              <q-item-label caption lines="2"
                                >{{ item.contactType.label }}
                              </q-item-label>
                            </q-item-section>

                            <q-item-section side center>
                              <q-btn flat icon="more_vert">
                                <q-menu>
                                  <q-list style="min-width: 150px">
                                    <q-item
                                      clickable
                                      v-close-popup
                                      @click="changeActionEmail('UPDATE', item)"
                                    >
                                      <q-item-section side top>
                                        <q-icon name="edit"></q-icon>
                                      </q-item-section>
                                      <q-item-section> Editar</q-item-section>
                                    </q-item>
                                  </q-list>
                                </q-menu>
                              </q-btn>
                            </q-item-section>
                          </q-item>
                        </q-list>
                        <div v-else>
                          <p
                            class="text-grey-8 text-subtitle q-my-md text-center"
                            v-if="!$q.loading.isActive"
                          >
                            No se han encontrado correos
                          </p>
                        </div>
                        <q-page-sticky position="bottom-right" :offset="[18, 18]">
                          <q-btn
                            fab
                            icon="add"
                            color="primary"
                            @click="changeActionEmail('ADD')"
                          />
                        </q-page-sticky>
                      </div>
                      <q-form
                        ref="formEmail"
                        v-if="actionEmail == 'ADD' || actionEmail == 'UPDATE'"
                      >
                        <q-select
                          v-model="email.contactType"
                          :options="optionsContactType"
                          label="Tipo contacto"
                          :rules="[(val) => !!val || 'Seleccione tipo de contacto']"
                          lazy-rules
                        />

                        <q-input
                          v-model="email.email"
                          label="Correo electrónico"
                          :rules="[
                            (val) => !!val || 'Ingrese su correo electónico',
                            isValidEmail,
                          ]"
                          maxlength="150"
                          class="full-width"
                          lazy-rules
                        ></q-input>

                        <q-input
                          v-model="email.comment"
                          label="Comentario"
                          maxlength="150"
                          class="full-width q-mb-md"
                          lazy-rules
                        ></q-input>
                        <q-list>
                          <q-item tag="label" v-ripple class="q-px-none">
                            <q-item-section>
                              <q-item-label
                                style="font-size: 16px"
                                class="text-weight-light text-grey-8"
                                >Recibe notificación</q-item-label
                              >
                            </q-item-section>
                            <q-item-section avatar class="q-mr-none">
                              <q-toggle
                                class="q-mr-none"
                                checked-icon="check"
                                unchecked-icon="clear"
                                color="primary"
                                v-model="email.notification"
                              />
                            </q-item-section>
                          </q-item>
                        </q-list>
                        <q-input
                          v-model="email.token"
                          label="Token"
                          maxlength="10"
                          :rules="[(val) => !!val || 'Ingrese token']"
                          lazy-rules
                        />

                        <div class="text-center">
                          <q-btn
                            @click="getToken('email')"
                            label="Generar token"
                            flat
                            text-color="red"
                            class="q-mt-lg"
                          ></q-btn>
                        </div>

                        <div class="text-center">
                          <q-btn
                            @click="actionEmail = 'LIST'"
                            label="Cancelar"
                            outline
                            text-color="red"
                            class="q-mt-lg"
                          ></q-btn>
                        </div>
                      </q-form>
                    </q-tab-panel>
                  </q-tab-panels>
                </div>
              </div>
            </div>
          </q-card>
        </div>
      </q-card>
    </q-dialog>
    <message ref="message"></message>
  </div>
</template>
<script>
import { URL_BASE, Result } from "../../boot/Constant";
import Util from "../../js/Util";
import Message from "../Common/Message";
export default {
  components: {
    Message,
  },
  mixins: [Util],
  data: () => ({
    dialog: false,
    tab: "address",
    currentMask: "",
    address: {
      contactType: null,
      address: null,
      suburb: null,
      zone: null,
      country: null,
      region: null,
      department: null,
      municipality: null,
      village: null,
      comment: null,
      notification: true,
      token: null,
    },
    phone: {
      contactType: null,
      telephone: null,
      country: null,
      number: null,
      comment: null,
      notification: true,
      token: null,
      device: null,
    },
    email: {
      contactType: null,
      email: null,
      comment: null,
      notification: true,
      token: null,
    },
    optionsContactType: [],
    optionsTelephone: [],
    optionsCountryPhone: [],
    optionsCountry: [],
    optionsRegion: [],
    optionsDepartment: [],
    optionsMunicipality: [],
    optionsVillage: [],
    optionsDevice: [],
    actionAddress: "LIST",
    dataAddress: [],
    keyFormAddress: 1,

    actionPhone: "LIST",
    dataPhone: [],
    actionEmail: "LIST",
    dataEmail: [],
  }),
  created() {},
  methods: {
    show() {
      this.dialog = true;
      this.$q.loading.show();
      Promise.all([
        this.getContactType(),
        this.getAddressData(),
        this.getDeviceType(),
        this.getContries(),
      ]).then((values) => {
        this.$q.loading.hide();
      });
    },
    getToken(object) {
      this.generateToken(this).then((response) => {
        this[object].token = response.data.data;
      });
    },
    sendData() {
      if (this.tab == "address") {
        this.sendDataAddress();
      } else if (this.tab == "phone") {
        this.sendDataPhone();
      } else if (this.tab == "email") {
        this.sendDataEmail();
      }
    },
    async getContactType() {
      return new Promise((res, rej) => {
        if (this.optionsContactType.length == 0) {
          let url = URL_BASE + "tipContactosCli/all?tipo=I";
          this.$http
            .post(url)
            .then((response) => {
              if (!response) return;
              this.optionsContactType = [];
              response.data.map((item) => {
                this.optionsContactType.push({
                  label: item.descripcionTcc,
                  value: item.idTcc,
                });
              });
              res();
            })
            .catch((error) => {
              this.$refs.message.showMessageError();
              this.$q.loading.hide();
              res();
            });
        } else res();
      });
    },
    async getContries() {
      return new Promise((res, rej) => {
        if (this.optionsCountry.length == 0) {
          let url = URL_BASE + "pais/all";
          this.$http
            .post(url)
            .then((response) => {
              if (!response) return;
              this.optionsCountry = [];
              response.data.map((item) => {
                this.optionsCountry.push({
                  label: item.descripcionPai,
                  value: item.idPai,
                });
              });
              res();
            })
            .catch((error) => {
              this.$refs.message.showMessageError();
              this.$q.loading.hide();
              res();
            });
        } else res();
      });
    },
    getRegion(val) {
      this.$q.loading.show();
      let url = URL_BASE + "region/all?idpai=" + val.value;
      this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          this.optionsContactType = [];
          response.data.map((item) => {
            this.optionsRegion.push({
              label: item.descripcionReg,
              value: item.idReg,
            });
          });
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    getDepartment(val) {
      this.$q.loading.show();
      let url = URL_BASE + "depto/all?idreg=" + val.value;
      this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          this.optionsDepartment = [];
          response.data.map((item) => {
            this.optionsDepartment.push({
              label: item.descripcionDep,
              value: item.idDep,
            });
          });
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    getMunicipality(val) {
      this.$q.loading.show();
      let url = URL_BASE + "municipio/all?iddep=" + val.value;
      this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          this.optionsMunicipality = [];
          response.data.map((item) => {
            this.optionsMunicipality.push({
              label: item.descripcionMun,
              value: item.idMun,
            });
          });
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    getVillage(val) {
      this.$q.loading.show();
      let url = URL_BASE + "aldea/all?idmun=" + val.value;
      this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          this.optionsVillage = [];
          response.data.map((item) => {
            this.optionsVillage.push({
              label: item.descripcionAld,
              value: item.idAld,
            });
          });
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },

    async getTelephone() {
      return new Promise((res, rej) => {
        if (this.optionsTelephone.length == 0) {
          let url = URL_BASE + "telefonica/all?idCli=" + this.getItemStorage("idUser");
          this.$http
            .post(url)
            .then((response) => {
              if (!response) return;
              this.optionsTelephone = [];
              response.data.map((item) => {
                this.optionsTelephone.push({
                  label: item.nombreTlf,
                  value: item.idTlf,
                });
              });
              res();
            })
            .catch((error) => {
              this.$refs.message.showMessageError();
              this.$q.loading.hide();
              res();
            });
        } else res();
      });
    },
    async getContriesPhone() {
      return new Promise((res, rej) => {
        if (this.optionsCountryPhone.length == 0) {
          let url = URL_BASE + "tipoTelefono/all?idCli=" + this.getItemStorage("idUser");
          this.$http
            .post(url)
            .then((response) => {
              if (!response) return;
              this.optionsCountryPhone = [];
              response.data.map((item) => {
                this.optionsCountryPhone.push({
                  label: item.descripcionTte,
                  value: item.idTte,
                  mask: item.mascaraTte,
                });
              });
              res();
            })
            .catch((error) => {
              this.$refs.message.showMessageError();
              this.$q.loading.hide();
              res();
            });
        } else res();
      });
    },

    async getDeviceType() {
      return new Promise((res, rej) => {
        if (this.optionsDevice.length == 0) {
          let url =
            URL_BASE + "tipoDispositivo/all?idCli=" + this.getItemStorage("idUser");
          this.$http
            .post(url)
            .then((response) => {
              if (!response) return;
              this.optionsDevice = [];
              response.data.data.map((item) => {
                this.optionsDevice.push({
                  label: item.descripcion,
                  value: item.id,
                });
              });
              res();
            })
            .catch((error) => {
              debugger;
              this.$refs.message.showMessageError();
              this.$q.loading.hide();
              res();
            });
        } else res();
      });
    },
    sendDataAddress() {
      this.$refs.formAddress.validate().then((result) => {
        if (result) {
          this.$q.loading.show();

          let url = "";

          url +=
            "direccion/addUpd?token=" +
            this.address.token +
            "&direccion=" +
            this.address.address +
            "&colonia=" +
            this.address.suburb +
            "&zona=" +
            this.address.zone +
            "&tipoContacto=" +
            this.address.contactType.value +
            "&idMuni=" +
            this.address.municipality.value +
            "&comentario=" +
            (this.address.comment || "") +
            "&notifi=" +
            this.address.notification +
            "&fechaSis=" +
            this.getItemStorage("date");

          if (this.address.id) {
            url += "&id=" + this.address.id;
          }

          if (this.address.village && this.address.village.value) {
            url += "&idAldea=" + this.address.village.value;
          }

          this.$http
            .post(URL_BASE + url)
            .then((response) => {
              if (!response) return;

              if (response.data.estado == Result.TOKEN_ERROR) {
                this.$refs.message.showMessageErrorToken();
              } else if (response.data.estado == Result.SUCCESS) {
                if (response.data.data.id == 1) {
                  this.$refs.message.showMessageSuccess(
                    `Dirección ${this.address.id ? "editada" : "agregada"}  correctamente`
                  );
                  this.initModelAddress();
                  this.$refs.formAddress.resetValidation();
                  this.getAddressData(true);
                  this.actionAddress = "LIST";
                } else {
                  this.$refs.message.showMessageError(
                    `Error al  ${
                      this.address.id ? "editar" : "agregar"
                    } la dirección, intente de nuevo`
                  );
                }
              } else if (response.data.estado == 101) {
                this.$emit("invalidTime");

                this.dialog = false;
              } else {
                this.$refs.message.showMessageErrorServer();
              }
              this.$q.loading.hide();
            })
            .catch((error) => {
              this.$refs.message.showMessageError();

              this.$q.loading.hide();
            });
        } else {
        }
      });
    },
    sendDataPhone() {
      this.$refs.formPhone.validate().then((result) => {
        if (result) {
          this.$q.loading.show();

          let url =
            "telefono/addUpd?token=" +
            this.phone.token +
            "&tipoContacto=" +
            this.phone.contactType.value +
            "&idTipoTel=" +
            this.phone.country.value +
            "&idTelefonica=" +
            this.phone.telephone.value +
            "&telefono=" +
            this.phone.number +
            "&comentario=" +
            (this.phone.comment || "") +
            "&notifi=" +
            this.phone.notification +
            "&tipoDispositivo=" +
            this.phone.device.value +
            "&fechaSis=" +
            this.getItemStorage("date");

          if (this.phone.id) {
            url += "&id=" + this.phone.id;
          }

          this.$http
            .post(URL_BASE + url)
            .then((response) => {
              if (!response) return;

              if (response.data.estado == Result.TOKEN_ERROR) {
                this.$refs.message.showMessageErrorToken();
              } else if (response.data.estado == Result.SUCCESS) {
                if (response.data.data.id == 1) {
                  this.$refs.message.showMessageSuccess(
                    `Teléfono ${this.phone.id ? "editado" : "agregado"}  correctamente`
                  );
                  this.initModelPhone();
                  this.$refs.formPhone.resetValidation();
                  this.getPhoneData(true);
                  this.actionPhone = "LIST";
                } else {
                  this.$refs.message.showMessageError(
                    `Error al  ${
                      this.address.id ? "editar" : "agregar"
                    } el teléfono, intente de nuevo`
                  );
                }
              } else if (response.data.estado == 101) {
                this.$emit("invalidTime");

                this.dialog = false;
              } else {
                this.$refs.message.showMessageErrorServer();
              }
              this.$q.loading.hide();
            })
            .catch((error) => {
              this.$refs.message.showMessageError();

              this.$q.loading.hide();
            });
        } else {
        }
      });
    },
    sendDataEmail() {
      this.$refs.formEmail.validate().then((result) => {
        if (result) {
          this.$q.loading.show();

          let url =
            "correo/addUpd?token=" +
            this.email.token +
            "&tipoContacto=" +
            this.email.contactType.value +
            "&email=" +
            this.email.email +
            "&comentario=" +
            (this.email.comment || "") +
            "&notifi=" +
            this.email.notification +
            "&fechaSis=" +
            this.getItemStorage("date");

          if (this.email.id) {
            url += "&id=" + this.email.id;
          }

          this.$http
            .post(URL_BASE + url)
            .then((response) => {
              if (!response) return;

              if (response.data.estado == Result.TOKEN_ERROR) {
                this.$refs.message.showMessageErrorToken();
              } else if (response.data.estado == Result.SUCCESS) {
                if (response.data.data.id == 1) {
                  this.$refs.message.showMessageSuccess(
                    `Correo ${this.email.id ? "editado" : "agregado"}  correctamente`
                  );
                  this.email = {
                    contactType: null,
                    email: null,
                    comment: null,
                    notification: true,
                    token: null,
                  };
                  this.$refs.formEmail.resetValidation();
                  this.getEmailData();
                  this.actionEmail = "LIST";
                } else {
                  this.$refs.message.showMessageError(
                    `Error al  ${
                      this.email.id ? "editar" : "agregar"
                    } el correo, intente de nuevo`
                  );
                }
              } else if (response.data.estado == 101) {
                this.$emit("invalidTime");

                this.dialog = false;
              } else {
                this.$refs.message.showMessageErrorServer();
              }
              this.$q.loading.hide();
            })
            .catch((error) => {
              this.$refs.message.showMessageError();

              this.$q.loading.hide();
            });
        } else {
        }
      });
    },
    getAddressData(showLoading) {
      return new Promise((res, rej) => {
        if (showLoading) this.$q.loading.show();
        let url = "direccion/all?fechaSis=" + this.getItemStorage("date");

        this.$http
          .post(URL_BASE + url)
          .then((response) => {
            if (!response) return;

            if (response.data.estado == Result.TOKEN_ERROR) {
              this.$refs.message.showMessageErrorToken();
            } else if (response.data.estado == Result.SUCCESS) {
              this.dataAddress = [];
              response.data.data.forEach((item) => {
                let model = {
                  id: item.idCdi,
                  contactType: {
                    label: item.parTipoContactosClientes.descripcionTcc,
                    value: item.parTipoContactosClientes.idTcc,
                  },
                  address: item.direccionCdi,
                  suburb: item.coloniaCdi,
                  zone: item.zonaCdi,
                  country: {
                    label: item.parPais.descripcionPai,
                    value: item.parPais.idPai,
                  },
                  region: {
                    label: item.parRegion.descripcionReg,
                    value: item.parRegion.idReg,
                  },
                  department: {
                    label: item.parDepartamento.descripcionDep,
                    value: item.parDepartamento.idDep,
                  },
                  municipality: {
                    label: item.parMunicipio.descripcionMun,
                    value: item.parMunicipio.idMun,
                  },
                  comment: item.comentariosCdi,
                  notification: item.recibeNotificacionCdi == "S" ? true : false,
                  token: null,
                };
                if (item.parAldea) {
                  model.village = {
                    label: item.parAldea.descripcionAld,
                    value: item.parAldea.idAld,
                  };
                }
                this.dataAddress.push(model);
              });
            } else if (response.data.estado == 101) {
              this.$emit("invalidTime");

              this.dialog = false;
            } else {
              this.$refs.message.showMessageErrorServer();
            }
            if (showLoading) this.$q.loading.hide();
            res();
          })
          .catch((error) => {
            console.log(error);
            this.$refs.message.showMessageError();

            this.$q.loading.hide();
            res();
          });
      });
    },
    getPhoneData(showLoading) {
      return new Promise((res, rej) => {
        if (showLoading) this.$q.loading.show();
        let url = "telefono/all?fechaSis=" + this.getItemStorage("date");

        this.$http
          .post(URL_BASE + url)
          .then((response) => {
            if (!response) return;

            if (response.data.estado == Result.TOKEN_ERROR) {
              this.$refs.message.showMessageErrorToken();
            } else if (response.data.estado == Result.SUCCESS) {
              this.dataPhone = [];
              console.log("DATA DEVIEC", this.optionsDevice);
              response.data.data.forEach((item) => {
                let model = {
                  id: item.idCte,
                  contactType: {
                    value: item.parTipoContactosClientes.idTcc,
                    label: item.parTipoContactosClientes.descripcionTcc,
                  },
                  telephone: {
                    value: item.parTelefonicas.idTlf,
                    label: item.parTelefonicas.nombreTlf,
                  },
                  country: {
                    value: item.parTipoTelefono.idTte,
                    label: item.parTipoTelefono.descripcionTte,
                  },
                  device: this.optionsDevice.filter(
                    (elem) => elem.value == item.idTdsCte
                  )[0],
                  number: item.telefonoCte,
                  comment: item.comentarioCte,
                  notification: item.recibeNotificacionCte == "S" ? true : false,
                  token: null,
                };
                this.currentMask = this.formatMask(item.parTipoTelefono.mascaraTte);

                this.dataPhone.push(model);
              });
            } else if (response.data.estado == 101) {
              this.$emit("invalidTime");

              this.dialog = false;
            } else {
              this.$refs.message.showMessageErrorServer();
            }
            if (showLoading) this.$q.loading.hide();
            res();
          })
          .catch((error) => {
            console.log(error);
            this.$refs.message.showMessageError();

            this.$q.loading.hide();
            res();
          });
      });
    },

    getEmailData() {
      this.$q.loading.show();
      let url = "correo/all?fechaSis=" + this.getItemStorage("date");

      this.$http
        .post(URL_BASE + url)
        .then((response) => {
          if (!response) return;

          if (response.data.estado == Result.TOKEN_ERROR) {
            this.$refs.message.showMessageErrorToken();
          } else if (response.data.estado == Result.SUCCESS) {
            this.dataEmail = [];
            response.data.data.forEach((item) => {
              let model = {
                id: item.idCma,
                contactType: {
                  value: item.parTipoContactosClientes.idTcc,
                  label: item.parTipoContactosClientes.descripcionTcc,
                },
                email: item.emailCma,
                comment: item.comentarioCma,
                notification: item.recibeNotificacionCma == "S" ? true : false,
                token: null,
              };

              this.dataEmail.push(model);
            });
          } else if (response.data.estado == 101) {
            this.$emit("invalidTime");

            this.dialog = false;
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          console.log(error);
          this.$refs.message.showMessageError();

          this.$q.loading.hide();
        });
    },

    formatMask(mask) {
      let newMask = "";
      if (mask) {
        mask.split("").map((item) => {
          if (item == "9") newMask += "#";
          else if (item == "*") newMask += "N";
          else if (item == "a") newMask += "S";
          else if (item == "5") newMask += "#";
          else if (item == "0") newMask += "#";
          else if (item == "2") newMask += "#";
          else newMask += item;
        });
      }
      console.log(newMask);
      return newMask;
    },
    changeMask(item) {
      console.log(item);
      this.currentMask = this.formatMask(item.mask);
    },
    isValidEmail(val) {
      if (val && val.length > 0) {
        const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
        return emailPattern.test(val) || "Correo no válido";
      } else return true;
    },
    changeActionAddress(action, item) {
      this.actionAddress = action;
      this.keyFormAddress = this.uuidv4();
      if (action == "UPDATE") {
        this.address = item;
      } else if (action == "ADD") this.initModelAddress();
    },
    changeActionPhone(action, item) {
      console.log(item);
      this.actionPhone = action;

      if (action == "UPDATE") {
        this.phone = item;
      } else if (action == "ADD") this.initModelPhone();
    },
    changeActionEmail(action, item) {
      this.actionEmail = action;

      if (action == "UPDATE") {
        this.email = item;
      } else if (action == "ADD") this.initModelEmail();
    },
    uuidv4() {
      return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(/[xy]/g, function (c) {
        var r = (Math.random() * 16) | 0,
          v = c == "x" ? r : (r & 0x3) | 0x8;
        return v.toString(16);
      });
    },
    initModelAddress() {
      this.address = {
        contactType: null,
        address: null,
        suburb: null,
        zone: null,
        country: null,
        region: null,
        department: null,
        municipality: null,
        village: null,
        comment: null,
        notification: true,
        token: null,
      };
    },
    initModelPhone() {
      this.phone = {
        contactType: null,
        telephone: null,
        country: null,
        number: null,
        comment: null,
        notification: true,
        token: null,
        device: null,
      };
      this.currentMask = "";
    },
    initModelEmail() {
      this.email = {
        contactType: null,
        email: null,
        comment: null,
        notification: true,
        token: null,
      };
    },
  },

  watch: {
    tab: function (newValue, oldValue) {
      if (newValue == "phone") {
        this.actionPhone = "LIST";

        this.$q.loading.show();
        Promise.all([
          this.getContriesPhone(),
          this.getTelephone(),
          this.getPhoneData(),
          this.getDeviceType(),
        ]).then((values) => {
          this.$q.loading.hide();
        });
      } else if (newValue == "email") {
        this.actionEmail = "LIST";
        this.$q.loading.show();
        Promise.all([this.getEmailData()]).then((values) => {
          // this.$q.loading.hide();
        });
      }
    },
  },
};
</script>
