<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="scale"
      transition-hide="scale"
    >
      <q-card class="q-mt-58 q-pa-md">
        <div class="bg-primary q-pb-xs q-pt-xs q-pb-xs fixed-top" style="z-index: 1">
          <q-toolbar class="text-white">
            <q-btn flat round dense icon="close" @click="showDialog = false" />
            <q-toolbar-title>Solicitud de crédito</q-toolbar-title>
            <q-btn flat label="ACEPTAR" text-color="white" @click="sendData"></q-btn>
          </q-toolbar>
        </div>

        <q-form ref="form">
          <p class="text-grey text-center q-mb-md q-mt-md">
            {{ getTimeName() }} {{ getItem("name") }}. Favor completa la siguiente
            información:
          </p>
          <q-select
            v-model="object.creditType"
            :options="optionsCreditType"
            label="Tipo de crédito"
            :rules="[(val) => !!val || 'Seleccione tipo de crédito']"
            lazy-rules
          />

          <q-input
            v-model="object.phone"
            label="Teléfono"
            prefix="(502) "
            mask="####-####"
            :rules="[
              (val) => !!val || 'Ingrese teléfono',
              (val) => val.length >= 8 || 'Número de teléfono no válido',
            ]"
            lazy-rules
          />

          <q-input
            label="Monto solicitado"
            type="text"
            v-model="object.amount"
            :rules="[
              (val) => !!val || 'Ingrese monto ',
              (val) => val.split(',').join('') > 0 || 'El monto debe ser mayor a cero',
            ]"
            maxlength="15"
            v-currency="{ currency: null, locale: 'en' }"
            prefix="Q "
            lazy-rules
          />

          <q-input
            label="Comentario (Opcional)"
            type="text"
            v-model="object.comment"
            maxlength="250"
            lazy-rules
          />

          <q-toggle
            class="q-mt-md"
            size="md"
            v-model="object.check"
            checked-icon="check"
            color="red"
            label="Autorizo a SHARE, R.L., para realizar la
investigación de mi historial crediticio en los
diferentes buró de crédito."
            unchecked-icon="clear"
          />
        </q-form>

        <message ref="message" @hideDialogSuccess="showDialog = false"></message>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import Util from "../../js/Util";
import { URL_BASE, Result } from "../../boot/Constant";
import Message from "../Common/Message";
export default {
  mixins: [Util],
  components: {
    Message,
  },
  data: () => ({
    showDialog: false,
    optionsCreditType: [],
    optionsAgency: [],
    object: {
      creditType: null,
      phone: null,
      amount: null,
      comment: null,
      check: true,
    },

    date: null,
    locationES: {
      days: "Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado".split("_"),
      daysShort: "Dom_Lun_Mar_Mié_Jue_Vie_Sáb".split("_"),
      months: "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre".split(
        "_"
      ),
      monthsShort: "Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic".split("_"),
      firstDayOfWeek: 1,
    },
  }),
  methods: {
    show() {
      this.showDialog = true;
      this.getCreditType();
    },
    hideDialog() {
      this.showDialog = false;
    },
    sendData() {},

    getCreditType() {
      this.$q.loading.show();
      let url =
        URL_BASE +
        "catalogoProductos?idUsu=" +
        this.getItemStorage("idUser") +
        "&userKey=" +
        this.getItemStorage("userKey") +
        "&noDocumento=" +
        this.getItemStorage("document");

      this.$http
        .post(url)
        .then((response) => {
          if (!response) return;

          if (response.data.estado == 200) {
            this.optionsCreditType = [];
            response.data.data.map((item) => {
              let model = {
                value: item.id,
                label: item.descripcion,
              };
              this.optionsCreditType.push(model);
            });
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    sendData() {
      this.$refs.form.validate().then((response) => {
        if (response) {
          let url =
            URL_BASE +
            "solicitudCredito/asociado?idTipoCredito=" +
            this.object.creditType.value +
            "&noDocumento=" +
            this.getItemStorage("document") +
            "&telefono=(502) " +
            this.object.phone +
            "&monto=" +
            this.formatFloat(this.object.amount) +
            "&fechaSis=" +
            this.getItemStorage("date") +
            "&autorizaHistorial=" +
            (this.object.check ? "S" : "N") +
            "&canal=SM&idUsu=" +
            this.getItemStorage("idUser") +
            "&userKey=" +
            this.getItemStorage("userKey");

          if (this.object.comment) {
            url += "&comentario=" + this.object.comment;
          }

          this.$q.loading.show();
          this.$http
            .post(url)
            .then((response) => {
              if (!response) return;
              if (response.data.estado == Result.SUCCESS) {
                this.object = {
                  creditType: null,
                  phone: null,
                  amount: null,
                  comment: null,
                  check: true,
                };
                this.$refs.message.showMessageSuccess(response.data.data);
                this.$refs.form.resetValidation();
              } else if (response.data.estado == 101) {
                this.$emit("invalidTime");
              } else {
                this.$refs.message.showMessageErrorServer();
              }
              this.$q.loading.hide();
            })
            .catch((error) => {
              this.$refs.message.showMessageError();
              this.$q.loading.hide();
            });
        }
      });
    },
    getItem(value) {
      return this.getItemStorage(value);
    },
    getTimeName() {
      var hours = new Date().getHours();
      var hours = (hours + 24 - 2) % 24;
      var mid = "Buen día";
      if (hours == 0) {
        //At 00 hours we need to show 12 am
        hours = 12;
      } else if (hours > 12) {
        hours = hours % 12;
        mid = "Buena tarde";
      }
      return mid;
    },
  },

  watch: {},
};
</script>
