<template>
  <div>
    <div v-if="validTime">
      <q-layout view="lHh Lpr lff" container style="height: 100vh" class="">
        <q-header>
          <q-toolbar
            class="text-white fixed-top bg-primary q-pt-sm q-pb-sm"
            style="z-index: 100"
          >
            <q-toolbar-title class="text-center">
              Bienvenido
              <span v-if="username && username != 'null'">{{ username }}</span>
            </q-toolbar-title>
            <q-btn
              flat
              text-color="white"
              icon="more_vert"
              class="q-pt-sm q-mr-sm q-pb-sm fixed fixed-top-right"
              @click="dialogMenu = true"
            >
            </q-btn>
          </q-toolbar>
        </q-header>

        <q-drawer v-model="dialogMenu" show-if-above :width="275" :breakpoint="600">
          <q-scroll-area
            style="
              height: calc(100% - 150px);
              margin-top: 150px;
              border-right: 1px solid #ddd;
            "
          >
            <q-list padding @click="dialogMenu = false">
              <q-item v-ripple clickable @click="membershipRequest" v-close-popup>
                <q-item-section side>
                  <q-icon name="fas fa-user" />
                </q-item-section>
                <q-item-section>Solicitud de afiliación</q-item-section>
              </q-item>
              <q-item v-ripple clickable @click="creditRequest" v-close-popup>
                <q-item-section side>
                  <q-icon name="fas fa-credit-card" />
                </q-item-section>
                <q-item-section>Solicitud de crédito</q-item-section>
              </q-item>
              <q-item v-ripple clickable @click="openDialog('C')" v-close-popup>
                <q-item-section side>
                  <q-icon name="fas fa-paper-plane" />
                </q-item-section>
                <q-item-section>Solicitud de ahorro</q-item-section>
              </q-item>
              <q-item v-ripple clickable @click="requestCheck" v-if="false" v-close-popup>
                <q-item-section side>
                  <q-icon name="fas fa-money-check-alt" />
                </q-item-section>
                <q-item-section>Solicitud de cheque</q-item-section>
              </q-item>
              <q-item v-ripple clickable @click="requestCollectionHome" v-close-popup>
                <q-item-section side>
                  <q-icon name="fas fa-wallet" />
                </q-item-section>
                <q-item-section>Solicitud cobro a domicilio</q-item-section>
              </q-item>
              <q-item v-ripple clickable @click="thirdLoanPayment" v-close-popup>
                <q-item-section side>
                  <q-icon name="fas fa-money-check" />
                </q-item-section>
                <q-item-section>Pago préstamo a tercero</q-item-section>
              </q-item>
              <q-item v-ripple clickable @click="claim" v-close-popup>
                <q-item-section side>
                  <q-icon name="fas fa-exclamation-circle" />
                </q-item-section>
                <q-item-section>Reclamo</q-item-section>
              </q-item>
              <q-item v-ripple clickable @click="product" v-close-popup v-if="false">
                <q-item-section side>
                  <q-icon name="fas fa-pen" />
                </q-item-section>
                <q-item-section>Producto</q-item-section>
              </q-item>
              <q-item v-ripple clickable @click="dialogChangeType = true" v-close-popup>
                <q-item-section side>
                  <q-icon name="fas fa-exchange-alt" />
                </q-item-section>
                <q-item-section>Tipos de cambio</q-item-section>
              </q-item>
              <q-item
                v-ripple
                clickable
                @click="dialogContactNumber = true"
                v-close-popup
              >
                <q-item-section side>
                  <q-icon name="fas fa-phone" />
                </q-item-section>
                <q-item-section>Teléfono de contacto</q-item-section>
              </q-item>
              <q-item v-ripple clickable @click="getBusinessHours" v-close-popup>
                <q-item-section side>
                  <q-icon name="far fa-clock" />
                </q-item-section>
                <q-item-section>Horario de atención</q-item-section>
              </q-item>
              <q-item v-ripple clickable @click="settings" v-close-popup>
                <q-item-section side>
                  <q-icon name="fas fa-cog" />
                </q-item-section>
                <q-item-section>Configuración</q-item-section>
              </q-item>
              <q-item v-ripple clickable @click="contactData" v-close-popup>
                <q-item-section side>
                  <q-icon name="fas fa-mail-bulk" />
                </q-item-section>
                <q-item-section>Datos de contacto</q-item-section>
              </q-item>
              <q-item v-ripple clickable @click="openWhatsApp" v-close-popup>
                <q-item-section side>
                  <q-icon name="fab fa-whatsapp" />
                </q-item-section>
                <q-item-section>WhatsApp</q-item-section>
              </q-item>
              <q-item v-ripple clickable @click="conditions" v-close-popup>
                <q-item-section side>
                  <q-icon name="receipt" />
                </q-item-section>
                <q-item-section>Términos y condiciones</q-item-section>
              </q-item>
              <q-item v-ripple clickable @click="closeSession" v-close-popup>
                <q-item-section side>
                  <q-icon name="fas fa-sign-out-alt" />
                </q-item-section>
                <q-item-section>Cerrar sesión</q-item-section>
              </q-item>
            </q-list>
          </q-scroll-area>

          <q-img
            class="absolute-top"
            src="statics/image/bgHeader.jpg"
            style="height: 150px"
          >
            <div class="absolute-bottom bg-transparent">
              <q-avatar size="56px" class="q-mb-sm">
                <q-icon size="xl" name="account_circle"></q-icon>
              </q-avatar>
              <div class="text-weight-bold">{{ fullName }}</div>
            </div>
          </q-img>
        </q-drawer>

        <q-page-container>
          <q-page>
            <div class="q-pl-md q-pr-md bg-primary q-mt-50" style="height: 190px">
              <div class="container-item" v-if="!loading" style="max-width: 87%">
                <div class="container-progress">
                  <span class="label-description" id="label-header-entry">Ingresos</span>
                  <span class="label-money font-number">
                    Q {{ income.amount }}
                    <span class="decimal">{{ income.cents }}</span>
                  </span>
                </div>
                <div
                  class="progress bg-cyan"
                  :style="{ width: progressEntry + '%' }"
                ></div>
              </div>
              <div class="container-item q-mt-sm" v-if="!loading" style="max-width: 87%">
                <div class="container-progress">
                  <span class="label-description">Gastos</span>
                  <span class="label-money font-number">
                    Q {{ expenditure.amount }}
                    <span class="decimal">{{ expenditure.cents }}</span>
                  </span>
                </div>
                <div
                  class="progress bg-amber"
                  :style="{ width: progressExit + '%' }"
                ></div>
              </div>
            </div>

            <div class="q-ma-sm" v-if="!loading">
              <q-carousel
                v-if="notifications.length > 0"
                v-model="slide"
                transition-prev="scale"
                transition-next="scale"
                swipeable
                animated
                control-color="red"
                navigation
                autoplay
                infinite
                height="100px"
                class="shadow-2 rounded-borders q-mb-md"
              >
                <q-carousel-slide
                  v-for="(item, index) in notifications"
                  :key="index"
                  :name="index"
                  class="column no-wrap flex-center"
                >
                  <div class="q-mb-sm text-center">{{ item.mensajeNta }}</div>
                </q-carousel-slide>
              </q-carousel>
              <div v-else class="q-mt-md q-mb-md text-center" style="font-size: 1.1em">
                Fecha: {{ date }}
              </div>

              <q-carousel
                v-model="slide"
                transition-prev="slide-right"
                transition-next="slide-left"
                swipeable
                animated
                autoplay
                infinite
                class="shadow-2 rounded-borders q-mb-md"
                arrows
                height="200px"
                control-color="#000"
                control-text-color="red"
              >
                <q-carousel-slide
                  v-for="(item, index) in dataDigitalCampaign"
                  :key="index"
                  :name="index"
                  class="column no-wrap flex-center q-pa-none"
                  @click="openDialog(item.page)"
                >
                  <q-carousel-slide name="first" class="full-width" :img-src="item.image">
                  </q-carousel-slide>
                </q-carousel-slide>
              </q-carousel>

              <q-card>
                <q-card-section>
                  <div class="text-h6">Cuentas</div>
                </q-card-section>

                <q-card-section>
                  <q-list>
                    <q-expansion-item
                      v-model="expandedActive"
                      expand-separator
                      icon="check"
                      label="Activas"
                      class="q-mx-none q-px-none"
                    >
                      <q-card>
                        <q-card-section class="q-px-none">
                          <list-item
                            :data="getDataByState(1, 'A')"
                            :isAccount="true"
                            empty-data="No se han encontrado cuentas/prestamos"
                            @getData="getAccounts"
                            @invalidTime="noValidTime"
                          />
                        </q-card-section>
                      </q-card>
                    </q-expansion-item>

                    <q-expansion-item expand-separator icon="close" label="Cancelada">
                      <q-card>
                        <q-card-section>
                          <list-item
                            :data="getDataByState(2, 'C')"
                            :isAccount="true"
                            empty-data="No se han encontrado cuentas/prestamos"
                            @getData="getAccounts"
                            @invalidTime="noValidTime"
                          />
                        </q-card-section>
                      </q-card>
                    </q-expansion-item>

                    <q-expansion-item expand-separator icon="block" label="Inactiva">
                      <q-card>
                        <q-card-section>
                          <list-item
                            :data="getDataByState(4, 'I')"
                            :isAccount="true"
                            empty-data="No se han encontrado cuentas/prestamos"
                            @getData="getAccounts"
                            @invalidTime="noValidTime"
                            @closeAll="close"
                          />
                        </q-card-section>
                      </q-card>
                    </q-expansion-item>
                  </q-list>
                </q-card-section>
              </q-card>
              <q-card class="q-mt-md">
                <q-card-section>
                  <div class="text-subtitle1">{{ notificacionText }}</div>
                </q-card-section>
              </q-card>
            </div>
            <message ref="message"></message>
            <q-dialog v-model="dialogChangeType" full-width>
              <q-card>
                <q-card-section>
                  <div class="text-h6">Tipos de cambio</div>
                </q-card-section>

                <q-card-section class="q-pt-none">
                  <q-list>
                    <q-item v-for="(item, index) in dataChangeType" :key="index">
                      <q-item-section>
                        <q-item-label>{{ item.name }}</q-item-label>
                        <q-item-label caption
                          >Compra: {{ item.buy }}
                          <span class="q-ml-md q-mr-sm">Venta: {{ item.sell }}</span>
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn flat label="Aceptar" color="primary" v-close-popup />
                </q-card-actions>
              </q-card>
            </q-dialog>
            <q-dialog v-model="dialogContactNumber" full-width>
              <q-card>
                <q-card-section>
                  <div class="text-h6">Número de contacto</div>
                </q-card-section>

                <q-card-section class="q-pt-none">
                  <q-item clickable v-ripple>
                    <q-item-section>Teléfonos</q-item-section>
                    <q-item-section side
                      ><q-item-label
                        v-for="(item, index) in contactNumber.split(',')"
                        :key="index"
                        >{{ item }}</q-item-label
                      >
                    </q-item-section>
                  </q-item>
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn flat label="Aceptar" color="primary" v-close-popup />
                </q-card-actions>
              </q-card>
            </q-dialog>
            <q-dialog v-model="dialogBusinessHours" full-width class="dialog-hours">
              <q-card>
                <q-card-section>
                  <div class="text-h6">Horarios de atención</div>
                </q-card-section>

                <q-card-section class="q-pt-none">
                  <q-list>
                    <q-item v-for="(item, index) in dataBusinessHours" :key="index">
                      <q-item-section>
                        <q-item-label>{{ item.name }}</q-item-label>
                        <q-item-label caption>
                          {{ item.departament }}, {{ item.municipality }}
                        </q-item-label>
                        <q-item-label caption>
                          {{ item.direction }}, {{ item.hours }}
                        </q-item-label>
                        <q-item-label caption>
                          {{ item.phone }}
                        </q-item-label>
                      </q-item-section>
                    </q-item>
                  </q-list>
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn flat label="Aceptar" color="primary" v-close-popup />
                </q-card-actions>
              </q-card>
            </q-dialog>
            <settings ref="settings" @invalidTime="validTime = false"></settings>
            <request-product-saving
              ref="requestProduct"
              @invalidTime="validTime = false"
            ></request-product-saving>
            <third-loan-payment
              ref="thirdLoan"
              @invalidTime="validTime = false"
            ></third-loan-payment>
            <request-home
              ref="requestHome"
              @invalidTime="validTime = false"
            ></request-home>
            <request-check
              ref="requestCheck"
              @invalidTime="validTime = false"
            ></request-check>
            <credit-request
              ref="creditRequest"
              @invalidTime="validTime = false"
            ></credit-request>
            <membership-request
              ref="membershipRequest"
              @invalidTime="validTime = false"
            ></membership-request>
            <contact-data
              ref="contactData"
              @invalidTime="validTime = false"
            ></contact-data>
            <claim ref="claim" @invalidTime="validTime = false"></claim>
            <request ref="request" @invalidTime="validTime = false"></request>
          </q-page>
        </q-page-container>
      </q-layout>
    </div>
    <div v-else>
      <div v-if="!$q.loading.isActive">
        <img class="full-width" src="statics/image/empty.svg" alt="IMG_OFFICE" />
        <p class="text-grey text-h6 text-center q-pa-md">
          Lo sentimos, nos encontramos fuera de servicio
        </p>
        <div class="text-center">
          <q-btn
            color="white"
            text-color="blue"
            label="Cerrar sesión"
            @click="closeSession"
          ></q-btn>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ListItem from "../Common/ListItem";
import { URL_BASE, Result } from "../../boot/Constant";
import Util from "../../js/Util";
import Message from "../Common/Message";
import Settings from "./Settings.vue";
import RequestProductSaving from "./RequestProductSaving.vue";
import ThirdLoanPayment from "./ThirdLoanPayment.vue";
import RequestHome from "./RequestHome.vue";
import RequestCheck from "./RequestCheck.vue";
import CreditRequest from "./CreditRequest.vue";
import MembershipRequest from "./MembershipRequest.vue";
import Claim from "./Claim.vue";
import Request from "./Request.vue";
import ContactData from "./ContactData.vue";

export default {
  mixins: [Util],

  created() {
    document.addEventListener(
      "resume",
      function () {
        this.getTime();
      },
      false
    );

    this.getTime();
  },
  components: {
    ListItem,
    Message,
    Settings,
    RequestProductSaving,
    ThirdLoanPayment,
    RequestHome,
    RequestCheck,
    CreditRequest,
    MembershipRequest,
    Claim,
    Request,
    ContactData,
  },
  data: function () {
    return {
      slide: 0,
      date: this.getItemStorage("date"),
      progressEntry: 0,
      progressExit: 0,
      closeItems: false,
      username: this.getName(),
      fullName: this.getItemStorage("fullName"),
      dataAccounts: [],
      dataLoan: [],
      expenditure: {
        amount: 0,
        cents: 0,
      },
      income: {
        amount: 0,
        cents: 0,
      },
      loading: false,
      notifications: [],
      numberWhatsApp: null,
      contactNumber: "",
      notificacionText: null,
      dataChangeType: [],
      dataBusinessHours: [],
      dataDigitalCampaign: [],
      dialogChangeType: false,
      dialogContactNumber: false,
      dialogBusinessHours: false,
      dialogMenu: false,
      title: null,
      productType: null,
      validTime: false,
      firstInit: true,
      expandedActive: true,
    };
  },
  methods: {
    getName() {
      if (this.getItemStorage("name") && this.getItemStorage("name") != "nulll") {
        return this.getItemStorage("name").split(" ")[0];
      } else {
        return "";
      }
    },
    //Obtiene las notificacions
    getNotifications() {
      let url = URL_BASE + "notificacion/all";
      return this.$http
        .post(url)
        .then((response) => {
          this.notifications = response.data;
          return Promise.resolve();
        })
        .catch((error) => {
          this.notifications = [];
          return Promise.resolve();
        });
    },
    //Obtiene todas las cuentas y prestamos del usuario
    getAccounts() {
      var url =
        URL_BASE +
        "cuentasPrestamos?idCli=" +
        this.getItemStorage("idUser") +
        "&nombreCompleto=" +
        this.getItemStorage("fullName") +
        "&noDocumento=" +
        this.getItemStorage("document");
      this.$q.loading.show();
      this.loading = true;

      return this.$http
        .post(url)
        .then((response) => {
          if (!response) return;

          if (response.data.estado == Result.SUCCESS) {
            let dataFormated = this.getFormatData(response.data.data);
            this.dataAccounts = dataFormated[0];
            this.dataLoan = dataFormated[1];
            console.log(this.dataAccounts, this.dataLoan);
          } else {
            this.showMessageErrorServer();
          }
          this.$q.loading.hide();
          this.loading = false;
          return Promise.resolve();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
          this.loading = false;
          return Promise.resolve();
        });
    },

    //le da formato a los datos obtenidos de cuentas y prestamos
    getFormatData(data) {
      let dataAccounts = [];
      let dataLoan = [];
      let allData = [];
      let amountExpenditure = 0;
      let amountIncome = 0;
      let cents = 0;
      data.map((item) => {
        let model = {
          id: item.id,
          title: parseInt(item.id) == 0 ? item.nombre : item.descripcionComercial,
          description: item.numero,
          state: item.estado,
          amount: this.getFormatMoney(item.saldo),
          cents: this.getCents(item.saldo),
          idAccountState: item.idecu,
          product: item.producto,
          special: item.especial,
          company: item.empresa,
          number: item.numero,
          dateCredit: item.fechaCredito,
          joint: item.mancomuncada,
          stateTwo: item.estadoDos,
        };

        if (item.tipo == "F" || item.tipo == "C") {
          // valida si es cuenta
          if (item.estado != "Cancelada") {
            amountIncome =
              parseFloat(amountIncome) + parseFloat(parseFloat(item.saldo).toFixed(2));
          }
          model.type = "ACCOUNT";
          dataAccounts.push(model);
        } else if (item.tipo == "P") {
          model.type = "LOAN";
          dataLoan.push(model);

          amountExpenditure =
            parseFloat(amountExpenditure) + parseFloat(parseFloat(item.saldo).toFixed(2));
        }
      });
      amountIncome = parseFloat(amountIncome).toFixed(2);
      amountExpenditure = parseFloat(amountExpenditure).toFixed(2);

      this.expenditure = {
        amount: this.getFormatMoney(amountExpenditure.toString()),
        cents: amountExpenditure.toString().split(".")[1],
      };

      this.income = {
        amount: this.getFormatMoney(amountIncome.toString()),
        cents: amountIncome.toString().split(".")[1],
      };
      this.sizeProgress();
      allData.push(dataAccounts);
      allData.push(dataLoan);

      return allData;
    },
    //obtiene los ultimos 4 caracters del numero del producto
    getFormatCard(product) {
      if (product) {
        return "***" + product.substring(product.length - 4, product.length);
      } else {
        return "";
      }
    },
    conditions() {
      this.$router.push({ name: "terms", params: { code: 1 } });
    },
    changePassword() {
      this.$router.push("changePassword");
    },
    //borra la informacion almacenada en el local storage y SecureKeyStore
    closeSession() {
      this.$q.loading.show();
      let url = URL_BASE + "cerrarSesion?idUser=" + this.getItemStorage("idUser");
      this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            //Elimina datos almacenados
            this.removeItenStorage("idUser");

            if (this.getItemStorage("rememberPassword") != "true") {
              this.removeItenStorage("username");
              this.removeItenStorage("password");
            }
            this.removeItenStorage("fullName");
            this.removeItenStorage("name");
            this.setItemStorage("firstInitApp", "false");
            this.value = 0;
            //Se direccion a la ruta del login
            this.$router.push("/Login");
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    //le da el procentaje de progreso a las barras de "Ingresos" y "Gastos" (Se muestran en la parte de arriba)
    sizeProgress() {
      let higher = "";

      let expenditureAmount = parseFloat(
        this.expenditure.amount.toString().split(",").join("") +
          "." +
          this.expenditure.cents
      );
      let incomeAmount = parseFloat(
        this.income.amount.toString().split(",").join("") + "." + this.income.cents
      );

      if (expenditureAmount > incomeAmount) {
        higher = "EXPENDITURE";
      } else {
        higher = "INCOME";
      }

      if (higher == "INCOME") {
        this.progressEntry = 100;
        this.progressExit = parseFloat((expenditureAmount * 100) / incomeAmount).toFixed(
          2
        );
      } else {
        this.progressExit = 100;
        this.progressEntry = parseFloat((incomeAmount * 100) / expenditureAmount).toFixed(
          2
        );
      }
    },
    close() {
      this.closeItems = true;
    },
    getNumberWhatsApp() {
      let url = URL_BASE + "numeroWhatsapp";
      return this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            this.numberWhatsApp = response.data.data;
          }
          return Promise.resolve();
        })
        .catch((error) => {
          return Promise.resolve();
        });
    },
    getChageType() {
      let url = URL_BASE + "tiposCambio?idCli=" + this.getItemStorage("idUser");
      return this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            if (response.data.data) {
              this.dataChangeType = [];
              response.data.data.map((item) => {
                let model = {
                  name: item.nombre,
                  buy: parseFloat(item.compra).toFixed(2),
                  sell: parseFloat(item.venta).toFixed(2),
                };
                this.dataChangeType.push(model);
              });
            }
          }
          return Promise.resolve();
        })
        .catch((error) => {
          return Promise.resolve();
        });
    },
    getContactNumber() {
      let url = URL_BASE + "numeroContacto?idCli=" + this.getItemStorage("idUser");
      return this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            this.contactNumber = response.data.data;
          }
          return Promise.resolve();
        })
        .catch((error) => {
          return Promise.resolve();
        });
    },
    getBusinessHours() {
      this.$q.loading.show();
      let url = URL_BASE + "oficina?idCli=" + this.getItemStorage("idUser");
      this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            if (response.data.data) {
              this.dataBusinessHours = [];
              response.data.data.map((item) => {
                let model = {
                  name: item.nombre,
                  departament: item.departamento,
                  municipality: item.municipio,
                  phone: item.telefono,
                  hours: item.horario,
                  direction: item.direccion,
                };
                this.dataBusinessHours.push(model);
              });
            }
            this.dialogBusinessHours = true;
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    getNotifications() {
      let url = URL_BASE + "notificacion?idCli=" + this.getItemStorage("idUser");
      this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            this.notificacionText = response.data.data;
          }
        })
        .catch((error) => {});
    },
    getDititalCampaign() {
      let url = URL_BASE + "campania?idCli=" + this.getItemStorage("idUser");
      return this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            this.dataDigitalCampaign = [];
            response.data.data.map((item) => {
              let model = {
                id: item.id,
                image: "data:image/jpg;base64," + item.imagen,
                description: item.descripcion,
                page: item.pagina,
              };
              this.dataDigitalCampaign.push(model);
            });
          }
          return Promise.resolve();
        })
        .catch((error) => {
          return Promise.resolve();
        });
    },
    openWhatsApp() {
      if (this.numberWhatsApp) {
        if (window.cordova && device.platform == "iOS") {
          window.location.assign(
            "https://api.whatsapp.com/send/?phone=" +
              this.numberWhatsApp +
              "&text=Buenas tardes, tenía una consulta: "
          );
        } else {
          window
            .open(
              "https://api.whatsapp.com/send/?phone=" +
                this.numberWhatsApp +
                "&text=Buenas tardes, tenía una consulta: ",
              "_blank"
            )
            .focus();
        }
      } else {
        this.$refs.message.showMessageError("No se puede enviar mensajes a WhatsApp");
      }
    },
    openDialog(type) {
      //Ahorro
      if (type == "C") {
        this.$refs.requestProduct.show("Solicitud de Ahorro", "A");
      } else {
        this.$refs.requestProduct.show("Solicitud de Préstamo", "P");
      }
    },
    async getTime() {
      let promise = new Promise((resolve, reject) => {
        this.$q.loading.show();
        let url =
          URL_BASE +
          "horario/validar?idCli=" +
          this.getItemStorage("idUser") +
          "&fechaSis=" +
          this.getItemStorage("date");
        this.$http
          .post(url)
          .then(async (response) => {
            if (!response) return;
            if (response.data.estado == 100) {
              this.validTime = true;
              if (this.firstInit) {
                this.firstInit = false;
                await Promise.all([
                  this.getNotifications(),
                  this.getAccounts(),
                  this.getNumberWhatsApp(),
                  this.getChageType(),
                  this.getContactNumber(),
                  this.getDititalCampaign(),
                ]);
                this.$q.loading.hide();
              }
              resolve(true);
            } else if (response.data.estado == 101) {
              this.validTime = false;
              this.$q.loading.hide();
              resolve(false);
            }
          })
          .catch((error) => {
            reject(error);
          });
      });
      return await promise;
    },
    thirdLoanPayment() {
      this.$refs.thirdLoan.show();
    },
    requestCollectionHome() {
      this.$refs.requestHome.show();
    },
    requestCheck() {
      this.$refs.requestCheck.show();
    },
    settings() {
      this.$refs.settings.show();
    },
    contactData() {
      this.$refs.contactData.show();
    },
    creditRequest() {
      this.$refs.creditRequest.show();
    },
    membershipRequest() {
      this.$refs.membershipRequest.show();
    },
    claim() {
      this.$refs.claim.show();
    },
    product() {
      this.$refs.request.show();
    },
    noValidTime() {
      this.validTime = false;
    },
    getDataByState(state, stateDescription) {
      let dataAccounts = this.dataAccounts.filter((item) => item.idAccountState == state);
      let dataLoan = this.dataLoan.filter(
        (item) =>
          item.state && item.stateTwo.toLowerCase() == stateDescription.toLowerCase()
      );

      Array.prototype.push.apply(dataAccounts, dataLoan);
      return dataAccounts;
    },
  },
  mounted() {},
};
</script>
<style lang="stylus">
.container-item {
  height: 50px;
  color: #FFF;
}

.container-progress {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}

.label-description {
  display: flex;
  align-self: center;
}

.label-money {
  // position: absolute;
  right: 0px;
  font-size: 22px;
  margin-right: -18px;
}

.progress {
  height: 13px;
  bottom: 0px;
  min-width: 5px;
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  -o-transform: skew(-30deg);
  transform: skew(-30deg);
  transition: all 1s;
}

.q-mt-item {
  margin-top: 40px;
}

.card-section {
  padding: 16px 8px 16px 8px;
}

.q-carousel__navigation-inner {
  margin-bottom: -8px;
}
.custom-caption
  text-align: center
  padding: 12px
  color: white
  background-color: rgba(0, 0, 0, .3)


.dialog-hours .q-dialog__inner--minimized
  padding: 8px !important
</style>
