<template></template>
<script>
import Util from "../../js/Util";
import { IN_DEVICE } from "../../boot/Constant";
export default {
  mixins: [Util],
  data: function() {
    return {};
  },
  created() {
    //this.exportXLXS();
    // this.exportExcel2();
    if (IN_DEVICE) {
      if (this.getItemStorage("isUserLinked") == "true") {
        if (this.getItemStorage("termsAccepted") == "true") {
          if (this.getItemStorage("idUser"))
            if (this.getItemStorage("changePassword") == "S")
              this.$router.push("changePassword");
            else this.$router.push("Main");
          else this.$router.push("Login");
        } else this.$router.push({ name: "terms", params: { code: 0 } });
      } else this.$router.push("userValidation");
    } else {
      if (this.getItemStorage("idUser")) this.$router.push("Main");
      else this.$router.push("Login");
    }
  },
  methods: {}
};
</script>
