<template>
  <div id="app" style="height : 100vh" class="flex flex-center">
    <div style="margin-top : -50px">
      <Lottie
        class="animation"
        renderer="canvas"
        :loop="true"
        :autoplay="true"
        :animationData="lottieData"
      />

      <p class="q-pa-md text-center q-mt-md">
        Deslize a la izquerida o derecha en cuentas y préstamos para ver las
        acciones que pueda realizar.
      </p>
    </div>

    <q-btn
      color="primary"
      label="Entiendo"
      rounded
      flat
      text-color="white"
      @click="accept"
      class="btn-login bg-blue-grey center-container q-mt-lg q-pa-sm fixed fixed-bottom q-mb-lg"
    ></q-btn>
  </div>
</template>

<script>
import Lottie from "vue-lottie-web";
import lottieData from "../../statics/json/swipe.json";
export default {
  components: {
    Lottie
  },

  name: "app",
  data: () => ({
    lottieData
  }),

  methods: {
    accept() {
      this.$router.push("Main");
    }
  }
};
</script>
<style lang="stylus" scoped>
.swipe-image {
  widows: 300px;
  max-width: 400px;
}
</style>
