<template>
  <div>
    <home></home>
  </div>
</template>
<script>
import Home from "./Home";
import Request from "./Request";
import BottomNavigation from "./BottomNavigation";
import Claim from "./Claim";
import Util from "../../js/Util";
export default {
  mixins: [Util],
  components: {
    Home,
    Request,
    BottomNavigation,
    Claim,
  },
  data: function () {
    return {
      tab: "home",
      showBottomNavigation: true,
    };
  },
  mounted() {
    this.$root.$on("SHOW_KEYBOARD", () => {
      this.showBottomNavigation = false;
    });
    this.$root.$on("HIDE_KEYBOARD", () => {
      this.showBottomNavigation = true;
    });

    this.$root.$on("CHANGE_TAB", (tabName) => {});
  },
  created() {
    this.$root.$emit("show-status-bar");
    this.$root.$emit("dark-status-bar");
    this.$root.$emit("reset-timer");
    this.setItemStorage("firstInitApp", "false");

    if (this.getItemStorage("changePassword") == "S") this.$router.push("changePassword");
  },
  methods: {
    changeTab(tabName) {
      this.tab = tabName;
    },
  },
};
</script>
<style lang="stylus" scoped>
.tab-main {
  padding: 0px;
  margin: 0px;
}

.q-tab-panel {
  padding: 0px;
}
</style>
