<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="scale"
      transition-hide="scale"
    >
      <q-card class="q-mt-58 q-pa-md">
        <div class="bg-primary q-pb-xs q-pt-xs q-pb-xs fixed-top" style="z-index: 1">
          <q-toolbar class="text-white">
            <q-btn flat round dense icon="close" @click="showDialog = false" />
            <q-toolbar-title>Solicitud de afiliación</q-toolbar-title>
            <q-btn flat label="Enviar" text-color="white" @click="sendData"></q-btn>
          </q-toolbar>
        </div>

        <q-form ref="form">
          <q-input
            v-model="object.phone"
            label="Teléfono"
            type="tel"
            prefix="(502) "
            mask="####-####"
            :rules="[
              (val) => !!val || 'Ingrese teléfono',
              (val) => val.length >= 8 || 'Número de teléfono no válido',
            ]"
            lazy-rules
            class="q-mt-md"
          />

          <q-input
            v-model="object.email"
            label="Correo electónico (Opcional)"
            type="email"
            :rules="[isValidEmail]"
          />

          <q-select
            v-model="object.agency"
            :options="optionsAgency"
            label="Agencia más cercana"
            :rules="[(val) => !!val || 'Seleccione agencia más cercana']"
            lazy-rules
          />

          <q-input
            label="Comentario (Opcional)"
            type="text"
            v-model="object.comment"
            maxlength="250"
          />
        </q-form>
        <message ref="message" @hideDialogSuccess="showDialog = false"></message>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { URL_BASE, Result } from "../../boot/Constant";
import Message from "../Common/Message";
import Util from "../../js/Util";
export default {
  mixins: [Util],
  components: {
    Message,
  },
  data: () => ({
    showDialog: false,
    optionsAgency: [],
    object: {
      name: null,
      lastName: null,
      phone: null,
      email: null,
      agency: null,
      comment: null,
    },

    date: null,
  }),
  methods: {
    show() {
      this.showDialog = true;

      if (!this.isAssociated) this.getAcency();
    },
    hideDialog() {
      this.showDialog = false;
    },

    getAcency() {
      if (this.optionsAgency.length == 0) {
        this.$q.loading.show();
        this.$http
          .post(URL_BASE + "oficinas?idCli=" + this.getItemStorage("idUser"))
          .then((response) => {
            if (!response) return;

            if (response.data.estado == 200) {
              this.optionsAgency = [];
              response.data.data.map((item) => {
                this.optionsAgency.push({
                  value: item.id,
                  label: item.descripcion,
                });
              });
            } else {
              this.$refs.message.showMessageErrorServer();
            }
            this.$q.loading.hide();
          })
          .catch((error) => {
            this.$refs.message.showMessageError();
            this.$q.loading.hide();
          });
      }
    },

    sendData() {
      this.$refs.form.validate().then((response) => {
        if (response) {
          let url =
            "solicitudAgente?nombre=" +
            this.getItemStorage("fullName").split(" ")[0] +
            "&apellido=" +
            (this.getItemStorage("fullName").split(" ")[1] || "") +
            "&telefono=(502) " +
            this.object.phone +
            "&idOfiCercana=" +
            this.object.agency.value +
            "&canal=SM&idUsu=" +
            this.getItemStorage("idUser") +
            "&userKey=" +
            this.getItemStorage("userKey") +
            "&fechaSis=" +
            this.getItemStorage("date");

          if (this.object.email) {
            url += "&correo=" + this.object.email;
          }
          if (this.object.comment) {
            url += "&comentario=" + this.object.comment;
          }

          this.$q.loading.show();
          this.$http
            .post(URL_BASE + url)
            .then((response) => {
              if (!response) return;

              if (response.data.estado == 200) {
                this.object = {
                  name: null,
                  lastName: null,
                  phone: null,
                  email: null,
                  agency: null,
                  comment: null,
                };
                this.$refs.message.showMessageSuccess(response.data.data);
                this.$refs.form.resetValidation();
              } else if (response.data.estado == 101) {
                this.$emit("invalidTime");
              } else {
                this.$refs.message.showMessageErrorServer();
              }
              this.$q.loading.hide();
            })
            .catch((error) => {
              this.$refs.message.showMessageError();
              this.$q.loading.hide();
            });
        }
      });
    },
    isValidEmail(val) {
      if (val && val.length > 0) {
        const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
        return emailPattern.test(val) || "Correo no válido";
      } else return true;
    },
    getItem(value) {
      return this.getItemStorage(value);
    },
  },

  watch: {},
};
</script>
