<template>
  <div>
    <q-dialog v-model="dialog" maximized transition-show="scale" transition-hide="scale">
      <q-card>
        <div class="q-mt-50">
          <q-form ref="formRequest" @submit="sendData">
            <div class="bg-primary q-pb-xs q-pt-xs q-pb-xs fixed-top" style="z-index: 1">
              <q-toolbar class="text-white">
                <q-btn flat round dense icon="close" @click="dialog = false" />
                <q-toolbar-title>{{ title }}</q-toolbar-title>
                <q-btn flat label="Enviar" text-color="white" type="submit"></q-btn>
              </q-toolbar>
            </div>

            <div class="q-pa-md p-mt-lg">
              <p class="text-grey text-center q-mb-md">
                {{ getTimeName() }} {{ getItem("name") }}. Favor completa la siguiente
                información:
              </p>
              <q-select
                v-model="request.product"
                :options="optionsProduct"
                label="Tipo de cuenta"
                :rules="[(val) => !!val || 'Seleccione tipo de cuenta']"
                lazy-rules
              />

              <q-input
                ref="phone"
                v-model="request.phone"
                label="Teléfono"
                :rules="[
                  (val) => !!val || 'Ingrese su teléfono',
                  (val) => val.length > 8 || 'Número de teléfono no válido',
                ]"
                maxlength="30"
                class="full-width"
                mask="####-####"
                prefix="(502) "
                type="tel"
                lazy-rules
              ></q-input>

              <q-input
                ref="comentario"
                v-model="request.commentary"
                label="Comentario"
                :rules="[(val) => !!val || 'Ingrese su comentario']"
                maxlength="75"
                class="full-width"
                lazy-rules
              ></q-input>

              <q-dialog v-model="alert">
                <q-card>
                  <q-card-section>
                    <div class="text-h6">Solicitud</div>
                  </q-card-section>

                  <q-card-section class="q-pt-none">
                    <p>Nùmero de solicitud : {{ requestNumber }}</p>
                  </q-card-section>

                  <q-card-actions align="right">
                    <q-btn flat label="OK" color="primary" v-close-popup />
                  </q-card-actions>
                </q-card>
              </q-dialog>
            </div>
          </q-form>
          <message ref="message" @hideDialogSuccess="dialog = false"></message>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { URL_BASE, Result } from "../../boot/Constant";
import Message from "../Common/Message";
import Util from "../../js/Util";
export default {
  mixins: [Util],
  components: {
    Message,
  },
  data: function () {
    return {
      optionsProduct: [],
      alert: false,
      requestNumber: "",
      request: {
        product: "",
        contact: "",
        phone: "",
        name: "",
        commentary: "",
      },
      title: null,
      dialog: false,
      productType: null,
    };
  },
  created() {},
  methods: {
    show(title, productType) {
      this.dialog = true;
      this.changeProduct(productType);
      this.title = title;
      this.productType = productType;
    },
    sendData() {
      this.$refs.formRequest.validate().then((response) => {
        if (response) {
          let url =
            URL_BASE +
            "solicitudProducto?tipoProducto=" +
            this.productType +
            "&idProducto=" +
            this.request.product.value +
            "&telefono=(502) " +
            this.request.phone +
            "&comentario=" +
            this.request.commentary +
            "&tabla=" +
            this.request.product.table +
            "&canal=SM" +
            "&fechaSis=" +
            this.getItemStorage("date");
          this.$q.loading.show();
          this.$http
            .post(url)
            .then((result) => {
              if (!result) return;
              debugger;
              if (result.data.estado == Result.SUCCESS) {
                if (result.data.data.id == 1) {
                  let text = (
                    "Número de solicitud: " +
                    result.data.data.numeroSol +
                    "_" +
                    result.data.data.descripcion
                  ).split("_");
                  this.$refs.message.showMessageSuccess(text, "");

                  this.request = {
                    product: "",
                    contact: "",
                    phone: "",
                    name: "",
                    commentary: "",
                  };

                  this.$refs.formRequest.resetValidation();
                } else {
                  this.$refs.message.showMessageError(result.data.data.descripcion, "");
                }
              } else if (result.data.estado == 101) {
                this.$emit("invalidTime");
              } else {
                this.$refs.message.showMessageErrorServer();
              }

              this.$q.loading.hide();
            })
            .catch((error) => {
              this.$q.loading.hide();
              this.$refs.message.showMessageError();
            });
        } else {
        }
      });
    },
    isValidEmail(val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(val) || "Correo no válido";
    },
    changeProduct(item) {
      this.request.product = null;
      this.$q.loading.show();
      this.$http
        .post(URL_BASE + "productos?tipo=" + item)
        .then((response) => {
          if (!response) return;

          if (response.data.estado == 200) {
            this.optionsProduct = [];
            response.data.data.map((item) => {
              let model = {
                label: item.descripcion,
                value: item.id,
                table: item.tabla,
              };
              this.optionsProduct.push(model);
            });
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    getItem(value) {
      return this.getItemStorage(value);
    },
    getTimeName() {
      var hours = new Date().getHours();
      var hours = (hours + 24 - 2) % 24;
      var mid = "Buen día";
      if (hours == 0) {
        //At 00 hours we need to show 12 am
        hours = 12;
      } else if (hours > 12) {
        hours = hours % 12;
        mid = "Buena tarde";
      }
      return mid;
    },
  },
  watch: {},
};
</script>
