<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="scale"
      transition-hide="scale"
    >
      <q-card class="q-mt-58 q-pa-md">
        <q-form ref="formRequest" @submit="sendData">
          <div class="bg-primary q-pb-xs q-pt-xs q-pb-xs fixed-top" style="z-index: 1">
            <q-toolbar class="text-white">
              <q-btn flat round dense icon="close" @click="showDialog = false" />
              <q-toolbar-title>Solicitud de producto</q-toolbar-title>
              <q-btn flat label="Enviar" text-color="white" type="submit"></q-btn>
            </q-toolbar>
          </div>
          <div class="p-mt-lg">
            <q-select
              class="q-mt-md"
              v-model="request.productType"
              :options="optionsProductType"
              label="Tipo de producto"
              :rules="[(val) => !!val || 'Seleccione tipo producto']"
              @input="changeProduct"
              lazy-rules
            />
            <q-select
              v-model="request.product"
              :options="optionsProduct"
              label="Producto"
              :rules="[(val) => !!val || 'Seleccione producto']"
              lazy-rules
            />
            <q-input
              ref="contact"
              v-model="request.contact"
              label="Correo"
              :rules="[
                (val) => !!val || 'Ingresar correo',
                (val) => !!val || 'Correo no válido',
                isValidEmail,
              ]"
              maxlength="75"
              class="full-width"
              type="email"
              lazy-rules
            ></q-input>

            <q-input
              ref="phone"
              v-model="request.phone"
              label="Teléfono"
              :rules="[
                (val) => !!val || 'Ingrese su teléfono',
                (val) => val.length > 8 || 'Número de teléfono no válido',
              ]"
              maxlength="30"
              class="full-width"
              mask="####-####"
              prefix="(502) "
              type="tel"
              lazy-rules
            ></q-input>

            <q-input
              ref="name"
              v-model="request.name"
              label="Nombre"
              :rules="[(val) => !!val || 'Ingrese nombre']"
              maxlength="30"
              class="full-width"
              lazy-rules
            ></q-input>

            <q-input
              ref="comentario"
              v-model="request.commentary"
              label="Comentario"
              :rules="[(val) => !!val || 'Ingrese su comentario']"
              maxlength="75"
              class="full-width"
              lazy-rules
            ></q-input>

            <q-dialog v-model="alert">
              <q-card>
                <q-card-section>
                  <div class="text-h6">Solicitud</div>
                </q-card-section>

                <q-card-section class="q-pt-none">
                  <p>Nùmero de solicitud : {{ requestNumber }}</p>
                </q-card-section>

                <q-card-actions align="right">
                  <q-btn flat label="OK" color="primary" v-close-popup />
                </q-card-actions>
              </q-card>
            </q-dialog>
          </div>
        </q-form>
        <message ref="message"></message>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { URL_BASE, Result } from "../../boot/Constant";
import Message from "../Common/Message";
import Util from "../../js/Util";
export default {
  mixins: [Util],
  components: {
    Message,
  },
  data: function () {
    return {
      showDialog: false,
      optionsProductType: this.getProductType(),
      optionsProduct: [],
      alert: false,
      requestNumber: "",
      request: {
        productType: "",
        product: "",
        contact: "",
        phone: "",
        name: "",
        commentary: "",
      },
    };
  },
  created() {},
  methods: {
    show() {
      this.showDialog = true;
    },
    close() {
      this.$router.push("Home");
    },
    sendData() {
      this.$refs.formRequest.validate().then((response) => {
        if (response) {
          let url =
            URL_BASE +
            "solicitudProducto?tipoProducto=" +
            this.request.productType.value +
            "&idProducto=" +
            this.request.product.value +
            "&contactos=" +
            this.request.contact +
            "&telefono=(502) " +
            this.request.phone +
            "&nombre=" +
            this.request.name +
            "&comentario=" +
            this.request.commentary +
            "&tabla=" +
            this.request.product.table +
            "&canal=SM" +
            "&fechaSis=" +
            this.getItemStorage("date");

          this.$q.loading.show();
          this.$http
            .post(url)
            .then((result) => {
              if (!result) return;
              if (result.data.estado == Result.SUCCESS) {
                if (result.data.data.id == 1) {
                  let text = (
                    "Número de solicitud: " +
                    result.data.data.numeroSol +
                    "_" +
                    result.data.data.descripcion
                  ).split("_");
                  this.$refs.message.showMessageSuccess(text, "");

                  this.request = {
                    productType: "",
                    product: "",
                    contact: "",
                    phone: "",
                    name: "",
                    commentary: "",
                  };

                  this.$refs.formRequest.resetValidation();
                } else {
                  this.$refs.message.showMessageError(result.data.data.descripcion, "");
                }
              } else if (result.data.estado == 101) {
                this.$emit("invalidTime");
              } else {
                this.$refs.message.showMessageErrorServer();
              }

              this.$q.loading.hide();
            })
            .catch((error) => {
              this.$q.loading.hide();
              this.$refs.message.showMessageError();
            });
        } else {
        }
      });
    },
    isValidEmail(val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(val) || "Correo no válido";
    },
    getProductType() {
      return [
        {
          label: "Ahorro",
          value: "A",
        },
        {
          label: "Certificado",
          value: "C",
        },
        {
          label: "Ahorro cooperativa",
          value: "O",
        },
        {
          label: "Inversiones",
          value: "I",
        },
        {
          label: "Prestamos",
          value: "P",
        },
      ];
    },
    changeProduct(item) {
      this.request.product = null;
      this.$q.loading.show();
      this.$http
        .post(URL_BASE + "productos?tipo=" + item.value)
        .then((response) => {
          if (!response) return;

          if (response.data.estado == 200) {
            this.optionsProduct = [];
            response.data.data.map((item) => {
              let model = {
                label: item.descripcion,
                value: item.id,
                table: item.tabla,
              };
              this.optionsProduct.push(model);
            });
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
  },
  watch: {},
};
</script>
