<template>
  <div>
    <q-dialog v-model="dialog" maximized transition-show="scale" transition-hide="scale">
      <q-card>
        <div class="q-mt-50">
          <q-form ref="formRequest" @submit="sendData">
            <div class="bg-primary q-pb-xs q-pt-xs q-pb-xs fixed-top" style="z-index: 1">
              <q-toolbar class="text-white">
                <q-btn flat round dense icon="close" @click="dialog = false" />
                <q-toolbar-title>Solicitud de cheque</q-toolbar-title>
                <q-btn flat label="Enviar" text-color="white" type="submit"></q-btn>
              </q-toolbar>
            </div>
            <div class="q-pa-md p-mt-lg">
              <q-select
                v-model="request.account"
                :options="optionsAccount"
                label="Cuenta a debitar"
                :rules="[(val) => !!val || 'Seleccione cuenta a debitar']"
                lazy-rules
                @input="getAgency"
              />
              <q-input
                v-model="request.identification"
                label="Número de identificación"
                :rules="[
                  (val) => !!val || 'Debe ingresar número de identificación ',
                  (val) => val.length > 14 || 'Número de identificación no válido',
                ]"
                lazy-rules
                mask="####-#####-####"
              ></q-input>

              <q-input
                v-model="request.beneficiary"
                label="Nombre beneficiario"
                :rules="[(val) => !!val || 'Debe ingresar nombre del beneficiario']"
                maxlength="100"
                lazy-rules
              ></q-input>

              <q-input
                v-model="request.emitDate"
                @click="showPopup('emitDate', 'emitDate')"
                label="Fecha emisión"
                mask="##/##/####"
                :rules="[(val) => !!val || 'Ingrese fecha emisión']"
                lazy-rules
              >
                <template v-slot:append>
                  <q-popup-proxy
                    ref="emitDate"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date
                      v-model="emitDate"
                      @input="() => $refs.emitDate.hide()"
                      :locale="locationES"
                    />
                  </q-popup-proxy>
                </template>
              </q-input>

              <q-input
                v-model="request.amount"
                label="Monto "
                :rules="[
                  (val) => !!val || 'Debe ingresar monto ',
                  (val) =>
                    val.split(',').join('') > 0 || 'El monto debe ser mayor a cero',
                ]"
                maxlength="30"
                lazy-rules
                v-currency="{ currency: null, locale: 'en' }"
                prefix="Q "
              ></q-input>

              <q-input
                v-model="request.phone"
                label="Teléfono a notificar"
                :rules="[
                  (val) => !!val || 'Debe ingresar un número de teléfono',
                  (val) => val.length > 8 || 'Número de teléfono no válido',
                ]"
                maxlength="30"
                class="full-width"
                mask="####-####"
                prefix="(502) "
                type="tel"
                lazy-rules
              ></q-input>

              <q-input
                v-model="request.instructions"
                label="Instrucciones de entrega"
                :rules="[(val) => !!val || 'Ingrese instrucciones de entrega']"
                maxlength="250"
                lazy-rules
              ></q-input>

              <q-select
                v-model="request.agency"
                :options="optionsAgency"
                label="Oficina donde recoger cheque"
                :rules="[(val) => !!val || 'Seleccione oficina']"
                :disable="!request.account"
                lazy-rules
              />

              <q-input
                v-model="request.token"
                label="Token"
                maxlength="10"
                :rules="[(val) => !!val || 'Ingrese token']"
                lazy-rules
              />

              <div class="text-center">
                <q-btn
                  @click="getToken"
                  label="Generar token"
                  flat
                  text-color="red"
                  class="q-mt-lg"
                ></q-btn>
              </div>
            </div>
          </q-form>
          <message ref="message" @hideDialogSuccess="dialog = false"></message>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { URL_BASE, Result } from "../../boot/Constant";
import Message from "../Common/Message";
import Util from "../../js/Util";
export default {
  mixins: [Util],
  components: {
    Message,
  },
  data: function () {
    return {
      optionsAgency: [],
      optionsAccount: [],
      emitDate: null,
      request: {
        account: null,
        identification: null,
        beneficiary: null,
        emitDate: null,
        amount: null,
        phone: null,
        instructions: null,
        agency: null,
        token: null,
      },

      locationES: {
        days: "Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado".split("_"),
        daysShort: "Dom_Lun_Mar_Mié_Jue_Vie_Sáb".split("_"),
        months: "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre".split(
          "_"
        ),
        monthsShort: "Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic".split("_"),
        firstDayOfWeek: 1,
      },
      dialog: false,
    };
  },
  created() {},
  methods: {
    show() {
      this.dialog = true;
      this.getAccounts();
      var date = this.getItemStorage("date").split("/");
      this.emitDate = date[2] + "/" + date[1] + "/" + date[0];
      this.request.emitDate = this.getItemStorage("date");
    },
    getAccounts() {
      this.$q.loading.show();
      this.$http
        .post(URL_BASE + "cuentasOrigenCheque?idCli=" + this.getItemStorage("idUser"))
        .then((response) => {
          if (!response) return;

          if (response.data.estado == 200) {
            this.optionsAccount = [];
            response.data.data.map((item) => {
              let model = {
                label: item.numeroCuenta,
                value: item.id,
                company: item.empresa,
              };
              this.optionsAccount.push(model);
            });
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    getAgency(value) {
      let url = URL_BASE + "oficinas?idEmp=" + value.company;
      this.$q.loading.show();
      this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            response.data.data.map((item) => {
              let model = {
                label: item.descripcion,
                value: item.id,
              };
              this.optionsAgency.push(model);
            });
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    sendData() {
      this.$refs.formRequest.validate().then((response) => {
        if (response) {
          //la fecha emision  y recepciion se pasa al formato dd/MM/yyyy ss:mm:hh
          this.request.emitDate = this.request.emitDate + " 00:00:00";
          this.$q.loading.show();
          let url =
            URL_BASE +
            "solicitudCheque?idCue=" +
            this.request.account.value +
            "&idOfi=" +
            this.request.agency.value +
            "&nombre=" +
            this.request.beneficiary +
            "&fechaEmision=" +
            this.request.emitDate +
            "&insEntrega=" +
            this.request.instructions +
            "&monto=" +
            this.formatFloat(this.request.amount) +
            "&identificacion=" +
            this.request.identification +
            "&token=" +
            this.request.token +
            "&idCli=" +
            this.getItemStorage("idUser") +
            "&fechaSis=" +
            this.getItemStorage("date");

          this.$http
            .post(url)
            .then((response) => {
              if (!response) return;
              if (response.data.estado == Result.TOKEN_ERROR) {
                this.$refs.message.showMessageErrorToken();
              } else if (response.data.estado == Result.SUCCESS) {
                if (response.data.data.id == Result.VALID) {
                  let message =
                    "Fecha resolución : " +
                    response.data.data.fechaRes.split(" ")[0] +
                    "_Número de solicitud " +
                    response.data.data.numeroSol +
                    "_" +
                    response.data.data.descripcion +
                    "";

                  this.request = {
                    account: null,
                    identification: null,
                    beneficiary: null,
                    emitDate: null,
                    amount: null,
                    phone: null,
                    instructions: null,
                    agency: null,
                    token: null,
                  };
                  this.$refs.formRequest.resetValidation();

                  this.$refs.message.showMessageSuccess(message.split("_"));
                } else {
                  this.$refs.message.showMessageError(response.data.data.descripcion);
                }
              } else if (response.data.estado == 101) {
                this.$emit("invalidTime");
              } else {
                this.$refs.message.showMessageErrorServer();
              }
              this.$q.loading.hide();
            })
            .catch((error) => {
              this.$refs.message.showMessageError();
              this.$q.loading.hide();
            });
        } else {
        }
      });
    },
    showPopup(qDate, model) {
      var date = new Date();
      this.$refs[qDate].show();

      if (this.request[model] == "") {
        //fecha con el formato : DD/MM/YYYY
        let month =
          date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;

        let day = date.getDay() < 10 ? "0" + date.getDay() : date.getDay();

        this.request[model] = date.getFullYear() + "/" + month + "/" + day;
      }
    },
    getToken() {
      this.generateToken(this).then((response) => {
        this.request.token = response.data.data;
      });
    },
  },
  watch: {
    emitDate: function (newValue, oldValue) {
      var date = newValue.split("/");
      var date2 = this.getItemStorage("date").split("/");

      let dateSystem = new Date(date2[2] + "/" + date2[1] + "/" + date2[0]);
      if (new Date(newValue) < dateSystem) {
        this.$refs.message.showMessageInfo(
          "La fecha no debe ser menor  a : " + this.getItemStorage("date")
        );

        this.emitDate = oldValue;
      } else {
        if (date.length == 3) {
          this.request.emitDate = date[2] + "/" + date[1] + "/" + date[0];
        }
      }
    },
  },
};
</script>
