<template>
  <div>
    <q-dialog v-model="dialog" maximized transition-show="scale" transition-hide="scale">
      <q-card>
        <div class="q-mt-50">
          <q-form ref="formRequest" @submit="sendData">
            <div class="bg-primary q-pb-xs q-pt-xs q-pb-xs fixed-top" style="z-index: 1">
              <q-toolbar class="text-white">
                <q-btn flat round dense icon="close" @click="dialog = false" />
                <q-toolbar-title>Solicitud cobro a domicilio</q-toolbar-title>
                <q-btn flat label="Enviar" text-color="white" type="submit"></q-btn>
              </q-toolbar>
            </div>
            <div class="q-pa-md p-mt-lg">
              <q-select
                v-model="request.loanType"
                :options="optionsLoanType"
                label="Tipo de préstamo"
                :rules="[(val) => !!val || 'Seleccione tipo de préstamo']"
                lazy-rules
              />
              <q-input
                type="number"
                v-model.number="request.pendingPayment"
                label="Pagos pendientes"
                :rules="[(val) => !!val || 'Debe ingresar pagos pendientes ']"
                maxlength="10"
                lazy-rules
              ></q-input>

              <q-input
                v-model="request.amount"
                label="Monto de pago"
                :rules="[
                  (val) => !!val || 'Debe ingresar monto de pago',
                  (val) =>
                    val.split(',').join('') > 0 || 'El monto debe ser mayor a cero',
                ]"
                maxlength="30"
                lazy-rules
                v-currency="{ currency: null, locale: 'en' }"
                prefix="Q "
              ></q-input>

              <q-select
                v-model="request.days"
                multiple
                :options="optionsDay"
                use-chips
                label="Dias preferencia para visita"
                :rules="[(val) => !!val || 'Debe seleccionar dias para visita']"
                lazy-rules
              />

              <q-input
                label="Horario de visita"
                lazy-rules
                v-model="request.time"
                mask="time"
                @click="$refs.popupTime.show()"
                :rules="[(val) => !!val || 'Debe ingresar horario de visita', 'time']"
              >
                <template v-slot:append>
                  <q-popup-proxy
                    ref="popupTime"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-time v-model="request.time">
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Cerrar" color="primary" flat />
                      </div>
                    </q-time>
                  </q-popup-proxy>
                </template>
              </q-input>

              <q-input
                v-model="request.direction"
                label="Dirección de cobro"
                :rules="[(val) => !!val || 'Ingrese dirección de cobro']"
                maxlength="250"
                lazy-rules
              ></q-input>

              <q-input
                v-model="request.phone"
                label="Teléfono confirmar visita"
                :rules="[
                  (val) => !!val || 'Debe ingresar un número de teléfono',
                  (val) => val.length > 8 || 'Número de teléfono no válido',
                ]"
                maxlength="30"
                class="full-width"
                mask="####-####"
                prefix="(502) "
                type="tel"
                lazy-rules
              ></q-input>

              <q-input
                v-model="request.instructions"
                label="Instrucciones (Ayudar a llegar al lugar de cobro )"
                :rules="[(val) => !!val || 'Debe ingresar instrucciones']"
                maxlength="200"
                lazy-rules
              ></q-input>
            </div>
          </q-form>
          <message ref="message" @hideDialogSuccess="dialog = false"></message>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { URL_BASE, Result } from "../../boot/Constant";
import Message from "../Common/Message";
import Util from "../../js/Util";
export default {
  mixins: [Util],
  components: {
    Message,
  },
  data: function () {
    return {
      optionsLoanType: [],
      optionsDay: [],
      request: {
        loanType: null,
        pendingPayment: null,
        amount: null,
        direction: null,
        phone: null,
        days: null,
        time: null,
        instructions: null,
      },

      dialog: false,
    };
  },
  created() {
    this.optionsDay = [
      {
        label: "Lunes",
        value: "L",
      },
      {
        label: "Martes",
        value: "M",
      },
      {
        label: "Miércoles",
        value: "X",
      },
      {
        label: "Jueves",
        value: "J",
      },
      {
        label: "Viernes",
        value: "V",
      },
      {
        label: "Sábado",
        value: "S",
      },

      {
        label: "Domingo",
        value: "D",
      },
    ];
  },
  methods: {
    show() {
      this.dialog = true;
      this.getProducts("P");
    },
    getProducts(item) {
      this.request.product = null;
      this.$q.loading.show();
      this.$http
        .post(URL_BASE + "productos/cliente?id=" + this.getItemStorage("idUser"))
        .then((response) => {
          if (!response) return;

          if (response.data.estado == 200) {
            this.optionsLoanType = [];
            response.data.data.map((item) => {
              let model = {
                label: item.id + " / " + item.descripcion,
                value: item.id,
                table: item.tabla,
                desc: item.descripcion,
              };
              this.optionsLoanType.push(model);
            });
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    sendData() {
      this.$refs.formRequest.validate().then((response) => {
        if (response) {
          let url =
            URL_BASE +
            "solicitudCobro?tipoPrestamo=" +
            this.request.loanType.value +
            "&descripcion=" +
            this.request.loanType.desc +
            "&pagoPendiente=" +
            this.request.pendingPayment +
            "&montoPago=" +
            this.formatFloat(this.request.amount) +
            "&diasVisita=" +
            this.formatDays(this.request.days) +
            "&horario=" +
            this.request.time +
            "&direccion=" +
            this.request.direction +
            "&telefono=" +
            this.request.phone +
            "&instrucciones=" +
            this.request.instructions +
            "&fechaSis=" +
            this.getItemStorage("date");

          this.$q.loading.show();
          this.$http
            .post(url)
            .then((result) => {
              if (!result) return;
              if (result.data.estado == Result.SUCCESS) {
                if (result.data.data.id == 1) {
                  let text = (
                    "Número de solicitud: " +
                    result.data.data.numeroSol +
                    "_" +
                    result.data.data.descripcion
                  ).split("_");

                  this.$refs.message.showMessageSuccess(text, "");

                  this.request = {
                    loanType: null,
                    pendingPayments: null,
                    amount: null,
                    direction: null,
                    phone: null,
                    days: null,
                    time: null,
                    instructions: null,
                  };

                  this.$refs.formRequest.resetValidation();
                } else {
                  this.$refs.message.showMessageError(result.data.data.descripcion, "");
                }
              } else if (result.data.estado == 101) {
                this.$emit("invalidTime");
              } else {
                this.$refs.message.showMessageErrorServer();
              }

              this.$q.loading.hide();
            })
            .catch((error) => {
              console.log(error);
              this.$q.loading.hide();
              this.$refs.message.showMessageError();
            });
        } else {
        }
      });
    },
    formatDays(model) {
      let temp = [];
      model.map((item) => {
        temp.push(item.value);
      });
      return temp;
    },
  },
  watch: {},
};
</script>
