<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card>
        <div class="q-mt-50">
          <div class="bg-primary q-pb-xs q-pt-xs q-pb-xs fixed-top" style="z-index: 1">
            <q-toolbar class="text-white">
              <q-btn flat round dense icon="arrow_back" @click="dialog = false" />
              <q-toolbar-title>Configuración</q-toolbar-title>
            </q-toolbar>
          </div>
          <q-form ref="form">
            <q-card class="q-ma-sm q-mt-md">
              <q-card-section>
                <div class="text-h6 q-mb-none">Envío de notificaciones</div>
              </q-card-section>
              <q-card-section>
                <q-option-group
                  :options="optionsContacts"
                  type="radio"
                  v-model="object.notification"
                />
                <q-form ref="form1">
                  <div class="row">
                    <q-input
                      v-model="object.token1"
                      label="Token"
                      maxlength="10"
                      :rules="[(val) => !!val || 'Ingrese token']"
                      lazy-rules
                      class="col"
                    />

                    <q-btn
                      @click="getToken('token1')"
                      label="Generar"
                      falt
                      unelevated
                      text-color="red"
                    ></q-btn>
                  </div>
                  <div class="text-center">
                    <q-btn
                      label="Actualizar"
                      @click="sendData('notification', 'form1')"
                      flat
                      text-color="red"
                    ></q-btn>
                  </div>
                </q-form>
              </q-card-section>
            </q-card>
            <q-card class="q-ma-sm q-mt-md">
              <q-card-section>
                <div class="text-h6 q-mb-none">Monto máximo en transferencias</div>
              </q-card-section>
              <q-card-section>
                <q-form ref="form2">
                  <q-input
                    v-model="object.amountDialy"
                    label="Diario"
                    maxlength="30"
                    :rules="[(val) => !!val || 'Ingrese monto diario']"
                    lazy-rules
                    v-currency="{ currency: null, locale: 'en' }"
                  />

                  <q-input
                    v-model="object.amountMonthly"
                    label="Mensual"
                    maxlength="30"
                    :rules="[(val) => !!val || 'Ingrese monto mensual']"
                    lazy-rules
                    v-currency="{ currency: null, locale: 'en' }"
                  />

                  <q-input
                    v-model="object.amountOperation"
                    label="En una sola operación"
                    maxlength="30"
                    :rules="[(val) => !!val || 'Ingrese monto en una operación']"
                    lazy-rules
                    v-currency="{ currency: null, locale: 'en' }"
                  />
                  <div class="row">
                    <q-input
                      v-model="object.token2"
                      label="Token"
                      maxlength="10"
                      :rules="[(val) => !!val || 'Ingrese token']"
                      lazy-rules
                      class="col"
                    />

                    <q-btn
                      @click="getToken('token2')"
                      label="Generar"
                      falt
                      unelevated
                      text-color="red"
                    ></q-btn>
                  </div>
                  <div class="text-center">
                    <q-btn
                      label="Actualizar"
                      @click="sendData('amount', 'form2')"
                      flat
                      text-color="red"
                    ></q-btn>
                  </div>
                </q-form>
              </q-card-section>
            </q-card>
            <q-card class="q-ma-sm q-mt-md">
              <q-card-section>
                <div class="text-h6 q-mb-none">Imagen de inicio</div>
              </q-card-section>
              <q-card-section class="images">
                <vue-select-image
                  :key="keyImage"
                  :dataImages="dataImages"
                  @onselectimage="onSelectImage"
                  :selectedImages="object.selecedImage"
                >
                </vue-select-image>
                <q-form ref="form3">
                  <div class="row">
                    <q-input
                      v-model="object.token3"
                      label="Token"
                      maxlength="10"
                      :rules="[(val) => !!val || 'Ingrese token']"
                      lazy-rules
                      class="col"
                    />

                    <q-btn
                      @click="getToken('token3')"
                      label="Generar"
                      falt
                      unelevated
                      text-color="red"
                    ></q-btn>
                  </div>
                  <div class="text-center">
                    <q-btn
                      label="Actualizar"
                      @click="sendData('image', 'form3')"
                      flat
                      text-color="red"
                    ></q-btn>
                  </div>
                </q-form>
              </q-card-section>
            </q-card>

            <q-card class="q-ma-sm q-mt-md" v-if="false">
              <q-card-section>
                <div class="text-h6 q-mb-none">Token</div>
              </q-card-section>
              <q-card-section>
                <q-input
                  v-model="object.token"
                  label="Token"
                  maxlength="10"
                  :rules="[(val) => !!val || 'Ingrese token']"
                  lazy-rules
                />

                <div class="text-center">
                  <q-btn
                    @click="getToken()"
                    label="Generar token"
                    flat
                    text-color="red"
                  ></q-btn>
                </div>
              </q-card-section>
            </q-card>

            <div class="text-center q-mt-lg q-mb-lg">
              <q-btn
                @click="dialogPassowrd = true"
                label="Cambiar contraseña"
                rounded
                color="primary"
                unelevated
              ></q-btn>
            </div>
          </q-form>
        </div>
        <message ref="message"></message>
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialogPassowrd" maximized>
      <q-card>
        <change-password
          :fromSettings="true"
          @hide="dialogPassowrd = false"
        ></change-password>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { URL_BASE, Result } from "../../boot/Constant";
import Message from "../Common/Message";
import Util from "../../js/Util";
import ChangePassword from "../Security/ChangePassword.vue";
require("vue-select-image/dist/vue-select-image.css");
export default {
  mixins: [Util],
  components: {
    Message,
    ChangePassword,
  },

  data: () => ({
    dialog: false,
    group: null,
    optionsContacts: [],
    object: {
      id: null,
      token1: null,
      token2: null,
      token3: null,
      notification: null,
      selecedImage: null,
      password: null,
      newPassword: null,
      repeatPassword: null,
      amountDialy: null,
      amountMonthly: null,
      amountOperation: null,
    },
    dataImages: [],
    initialSelectedImage: [],
    keyImage: 0,
    dialogPassowrd: false,
  }),
  async created() {},

  methods: {
    async show() {
      this.dialog = true;
      await this.getImages();
      await this.getContacts();
      this.getData();
    },
    getToken(model) {
      this.generateToken(this).then((response) => {
        this.object[model] = response.data.data;
      });
    },
    getData() {
      this.$q.loading.show();
      let url = URL_BASE + "datosSeguridad?idCli=" + this.getItemStorage("idUser");
      this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            if (response.data.data) {
              this.object.id = response.data.data.id;
              this.object.amountDialy = response.data.data.montoDiario;
              this.object.amountMonthly = response.data.data.montoMensual;
              this.object.amountOperation = response.data.data.montoTransaccion;

              if (response.data.data.tipo == "T") {
                this.object.notification = this.optionsContacts.filter(
                  (item) =>
                    item.type == "T" && item.value == response.data.data.idTelefono
                )[0].value;
              } else {
                this.object.notification = this.optionsContacts.filter(
                  (item) => item.type == "C" && item.value == response.data.data.idEmail
                )[0].value;
              }

              this.object.selecedImage = [];
              this.object.selecedImage.push({ id: response.data.data.idImagen });
              this.keyImage++;
              console.log(this.object, this.optionsContacts, this.initialSelectedImage);
            }
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          console.log(error);
          this.$q.loading.hide();
          this.$refs.message.showMessageError();
        });
    },
    async getImages() {
      if (this.dataImages.length == 0) {
        this.$q.loading.show();
        return this.$http
          .post(URL_BASE + "imagenes")
          .then((response) => {
            if (!response) return;
            if (response.data.estado == Result.SUCCESS) {
              this.dataImages = [];
              response.data.data.map((item) => {
                let model = {
                  id: item.id,
                  src: "data:image/jpg;base64," + item.img,
                  alt: item.nombre,
                };
                this.dataImages.push(model);
              });
            }
            this.$q.loading.hide();
            return Promise.resolve();
          })
          .catch((error) => {
            this.$q.loading.hide();
            this.$refs.message.showMessageError();
            return Promise.resolve();
          });
      }
      return Promise.resolve();
    },
    async getContacts() {
      if (this.optionsContacts.length == 0) {
        this.$q.loading.show();
        let url = URL_BASE + "contactos/all?idCli=" + this.getItemStorage("idUser");
        return this.$http
          .post(url)
          .then((response) => {
            if (!response) return;
            if (response.data.estado == Result.SUCCESS) {
              this.optionsContacts = [];
              response.data.data.map((item) => {
                let model = {
                  label: item.contacto,
                  value: item.idContacto,
                  type: item.tipo,
                };
                this.optionsContacts.push(model);
              });
            }
            this.$q.loading.hide();
            return Promise.resolve();
          })
          .catch((error) => {
            this.$q.loading.hide();
            this.$refs.message.showMessageError();
            return Promise.resolve();
          });
      }
      return Promise.resolve();
    },
    onSelectImage(image) {
      this.object.selecedImage = [];
      this.object.selecedImage.push(image);
    },
    sendData(section, form) {
      let url = "";
      if (section == "notification") {
        let phone = 0;
        let email = 0;
        let notification = this.optionsContacts.filter(
          (item) => item.value == this.object.notification
        )[0];
        if (notification.type == "T") phone = notification.value;
        else email = notification.value;

        url +=
          URL_BASE +
          "envioNotificacion/upd?id=" +
          (this.object.id || 0) +
          "&tipo=" +
          notification.type +
          "&idTelefono=" +
          phone +
          "&idEmail=" +
          email +
          "&token=" +
          this.object.token1 +
          "&fechaSis=" +
          this.getItemStorage("date");
      } else if (section == "amount") {
        url +=
          URL_BASE +
          "montoTransaccion/upd?id=" +
          (this.object.id || 0) +
          "&montoTransaccion=" +
          this.formatFloat(this.object.amountOperation) +
          "&montoDiario=" +
          this.formatFloat(this.object.amountDialy) +
          "&montoMensual=" +
          this.formatFloat(this.object.amountMonthly) +
          "&token=" +
          this.object.token2 +
          "&fechaSis=" +
          this.getItemStorage("date");
      } else if (section == "image") {
        url +=
          URL_BASE +
          "imagen/upd?id=" +
          (this.object.id || 0) +
          "&idImagen=" +
          this.object.selecedImage[0].id +
          "&token=" +
          this.object.token3 +
          "&fechaSis=" +
          this.getItemStorage("date");
      }

      this.$refs[form].validate().then((response) => {
        if (response) {
          this.$q.loading.show();

          this.$http
            .post(url)
            .then((response) => {
              if (!response) return;
              if (response.data.estado == Result.SUCCESS) {
                this.object.token1 = null;
                this.object.token2 = null;
                this.object.token3 = null;

                this.$refs.form1.resetValidation();
                this.$refs.form2.resetValidation();
                this.$refs.form3.resetValidation();
                this.$refs.message.showMessageSuccess("Datos actualizados correctamente");
              } else if (response.data.estado == 101) {
                this.$emit("invalidTime");
              } else {
                this.$refs.message.showMessageError(
                  "Se ha producido un error al actualizar datos"
                );
              }
              this.$q.loading.hide();
            })
            .catch((error) => {
              console.log(error);
              this.$q.loading.hide();
              this.$refs.message.showMessageError();
            });
        }
      });
    },
    /*     sendData(section) {
      let flag = false;
      if (
        this.formatFloat(this.object.amountOperation) <=
        this.formatFloat(this.object.amountDialy)
      ) {
        if (
          this.formatFloat(this.object.amountDialy) <=
          this.formatFloat(this.object.amountMonthly)
        ) {
          if (this.object.token) {
            flag = true;
          } else this.$refs.message.showMessageError("Debe generar token");
        } else
          this.$refs.message.showMessageError(
            "El monto diario debe ser menor al monto mensual"
          );
      } else
        this.$refs.message.showMessageError(
          "El monto en una sola operación debe ser menor al monto diario "
        );

      if (flag) {
        this.$refs.form.validate().then((response) => {
          if (response) {
            this.$q.loading.show();
            let phone = 0;
            let email = 0;
            let notification = this.optionsContacts.filter(
              (item) => item.value == this.object.notification
            )[0];
            console.log(this.optionsContacts);
            if (notification.type == "T") phone = notification.value;
            else email = notification.value;
            let url =
              URL_BASE +
              "datosSeguridad/upd?id=" +
              (this.object.id || 0) +
              "&tipo=" +
              notification.type +
              "&idTelefono=" +
              phone +
              "&idEmail=" +
              email +
              "&montoTransaccion=" +
              this.formatFloat(this.object.amountOperation) +
              "&montoDiario=" +
              this.formatFloat(this.object.amountDialy) +
              "&montoMensual=" +
              this.formatFloat(this.object.amountMonthly) +
              "&idImagen=" +
              this.object.selecedImage[0].id +
              "&token=" +
              this.object.token;
            this.$http
              .post(url)
              .then((response) => {
                if (!response) return;
                if (response.data.estado == Result.SUCCESS) {
                  this.object.token = null;
                  this.$refs.message.showMessageSuccess(
                    "Datos actualizados correctamente"
                  );
                } else {
                  this.$refs.message.showMessageError(
                    "Se ha producido un error al actulizar datos"
                  );
                }
                this.$q.loading.hide();
              })
              .catch((error) => {
                console.log(error);
                this.$q.loading.hide();
                this.$refs.message.showMessageError();
              });
          }
        });
      }
    }, */
    changePassword() {
      let currentPassword = this.getItemStorage("password");
      if (currentPassword === this.object.password) {
        if (this.object.newPassword === this.object.repeatPassword) {
          this.$q.loading.show();
          let url = URL_BASE + "cambioPass";
          this.$http
            .post(url)
            .then((response) => {
              if (!response) return;
              if (response.data.estado == Result.SUCCESS) {
              }
              this.$q.loading.hide();
            })
            .catch((error) => {
              console.log(error);
              this.$q.loading.hide();
              this.$refs.message.showMessageError();
            });
        } else {
          this.$refs.message.showMessageError("Las contraseñas no coinciden ");
        }
      } else {
        this.$refs.message.showMessageError("Contraseña acutal incorrecta");
      }
    },
  },
};
</script>
<style lang="stylus">
.images .vue-select-image__thumbnail--selected {
  background: $red-5;
}

.images .vue-select-image__item {
  width: 50%;
  margin: 0px;
}

.images .vue-select-image__wrapper {
  display: flex;
  flex-wrap: wrap;
}
</style>
