<template>
  <div class="bg-primary heigh-100vh center-img" transition-show="fade">
    <img src="statics/image/share2.png" alt="IMG_LOGO" class="center-container img-login" />

    <q-spinner-tail color="white" size="3em" />
  </div>
</template>
<script>
export default {
  data: function() {
    return {};
  },
  created() {
    setTimeout(() => {
      this.$router.push("Login");
    }, 3000);
  },
  methods: {}
};
</script>
<style lang="stylus">
.center-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
</style>
