<template>
  <div>
    <q-dialog v-model="dialog" maximized transition-show="scale" transition-hide="scale">
      <q-card>
        <div class="q-mt-50">
          <div class="bg-primary q-pb-xs q-pt-xs q-pb-xs fixed-top" style="z-index: 1">
            <q-toolbar class="text-white">
              <q-btn flat round dense icon="close" @click="dialog = false" />
              <q-toolbar-title>Pago préstamo a tercero</q-toolbar-title>
              <q-btn flat label="Aceptar" text-color="white" @click="sendData"></q-btn>
            </q-toolbar>
          </div>
          <div class="q-pa-md">
            <q-form ref="form" class="q-mb-xl q-pb-lg">
              <q-input
                ref="loan"
                v-model="object.loan"
                label="Préstamo"
                :rules="[(val) => !!val || 'Ingrese préstamo']"
                maxlength="200"
                class="full-width"
                lazy-rules
                @blur="validLoan"
              ></q-input>

              <q-input
                v-model="object.client"
                label="Asociado"
                :rules="[(val) => !!val || 'Ingrese asociado']"
                class="full-width"
                lazy-rules
                :readonly="true"
              ></q-input>

              <q-input
                v-model="object.amount"
                label="Monto a pagar"
                maxlength="12"
                :rules="[
                  (val) => !!val || 'Ingrese monto a pagar',
                  (val) =>
                    val.split(',').join('') > 0 || 'El monto debe ser mayor a cero',
                ]"
                lazy-rules
                v-currency="{ currency: null, locale: 'en' }"
              ></q-input>

              <q-select
                v-model="object.account"
                :options="optionsAcccount"
                label="Cuenta a debitar"
                :rules="[(val) => !!val || 'Seleccione cuenta a debitar']"
                lazy-rules
              />

              <q-input
                v-model="object.token"
                label="Token"
                :rules="[(val) => !!val || 'Ingrese token']"
                maxlength="30"
                lazy-rules
              >
              </q-input>

              <q-input
                v-model="object.comment"
                label="Comentario"
                maxlength="100"
                :rules="[(val) => !!val || 'Ingrese comentario']"
                lazy-rules
              ></q-input>

              <div class="text-center">
                <q-btn
                  @click="getToken"
                  label="Generar token"
                  flat
                  text-color="red"
                  class="q-mt-lg"
                ></q-btn>
              </div>
            </q-form>
          </div>
          <message ref="message"></message>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { URL_BASE, Result } from "../../boot/Constant";
import Message from "../Common/Message";
import Util from "../../js/Util";
export default {
  mixins: [Util],
  components: {
    Message,
  },
  data: function () {
    return {
      dialog: false,
      optionsAcccount: [],
      isValidLoan: false,
      object: {
        loan: null,
        client: null,
        currency: null,
        balance: null,
        quote: null,
        amount: null,
        token: null,
        account: null,
        comment: null,
      },
    };
  },
  created() {},
  methods: {
    show() {
      this.dialog = true;
      this.isValidLoan = false;
      this.getAccounts();
    },
    sendData() {
      this.$refs.form.validate().then((response) => {
        if (response) {
          if (this.isValidLoan) {
            let url =
              URL_BASE +
              "cuentasPagoPrestamoTercero?idCue=" +
              this.object.account.value +
              "&prestamo=" +
              this.object.loan +
              "&valor=" +
              this.formatFloat(this.object.amount) +
              "&token=" +
              this.object.token +
              "&fechaSis=" +
              this.getItemStorage("date") +
              "&comentario=" +
              this.object.comment;

            this.$q.loading.show();
            this.$http
              .post(url)
              .then((response) => {
                if (!response) return;
                if (response.data.estado == Result.SUCCESS) {
                  this.$refs.form.resetValidation();
                  this.object = {
                    loan: null,
                    client: null,
                    currency: null,
                    balance: null,
                    quote: null,
                    amount: null,
                    token: null,
                    account: null,
                  };
                  this.$refs.message.showMessageSuccess(
                    (
                      "Pago realizado correctamente" +
                      "_" +
                      "Fecha proximo pago: " +
                      response.data.data.fechaProxPago +
                      "_" +
                      "Titular: " +
                      response.data.data.nombreTitular +
                      ""
                    ).split("_")
                  );
                  this.isValidLoan = false;
                  this.$refs.message.showMessageSuccess("Pago realizado correctamente");
                } else if (response.data.estado == 101) {
                  this.$emit("invalidTime");
                } else {
                  this.$refs.message.showMessageError(response.data.data.descripcion);
                }
                this.$q.loading.hide();
              })
              .catch((error) => {
                this.$refs.message.showMessageError();
                this.$q.loading.hide();
              });
          } else {
            this.$refs.message.showMessageError("Préstamo inválido");
          }
        }
      });
    },

    getAccounts() {
      let url = URL_BASE + "cuentasOrigenPrestamo?idCli=" + this.getItemStorage("idUser");
      this.$q.loading.show();
      this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            this.optionsAcccount = [];
            response.data.data.map((item) => {
              let model = {
                label: item.numero + " - " + item.nombre,
                value: item.id,
                type: item.tipo,
              };
              this.optionsAcccount.push(model);
            });
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    validLoan() {
      let url =
        URL_BASE +
        "prestamo/val?prestamo=" +
        this.object.loan +
        "&nombreCompleto=" +
        this.getItemStorage("fullName") +
        "&noDocumento=" +
        this.getItemStorage("document");
      this.$q.loading.show();
      this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            this.object.client = response.data.data.cliente;
            this.object.currency = response.data.data.moneda;
            this.object.balance = this.getFormatMoney(
              parseFloat(response.data.data.saldo).toFixed(2)
            );
            this.isValidLoan = true;
          } else {
            this.$refs.message.showMessageError(response.data.mensaje);
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    getToken() {
      this.generateToken(this).then((response) => {
        this.object.token = response.data.data;
      });
    },
  },
};
</script>
