// app global css in Sass form
//@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html, body , #q-app
  height 100%
  overflow-y auto


@font-face {
    font-family: Montserrat;
    src: url("./Montserrat-Light.otf") format("opentype");
}

.full-width
    width : 100%

.margin-auto
    margin: auto

.fixed-top 
  z-index 100
  
.parent 
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  height: 100vh

.heigh-100vh
    height: 100vh

.center-container 
  display: block
  margin-left: auto
  margin-right: auto

.text-faded
    color : $faded


/*
.q-field--outlined .q-field__control 
  height: 40px

.q-field__marginal 
  height: 40px;

  */

.img-login
    width 150px
    max-width: 300px


.pagination .q-btn-item
  width: 40px
  height 40px
 // border-radius: 50%
  
.text-grey 
  color: $grey-8

.font-number
  font-family: 'Montserrat', sans-serif;


.q-mt-58
  padding-top: 58px

.q-mt-50
  padding-top: 50px

.q-tab__indicator
  height 3px

.decimal
  font-size: 12px;
  margin-top: -1px;
  margin-left: 3px;


.size-fab
  height 55px;
  width: 55px;

.btn-login
    width 100%
    max-width: 300px

.q-tabs--vertical .q-tab
  padding: 0px 8px 0px 0px


#container-tabs-vertical .q-tab-panel
  padding: 8px 0px 8px 8px

.padding-left-0
    padding-left: 0

.padding-right-0
    padding-right: 0

.money-balance 
  color: #333;
  font-size: 22px

.hideSearch
  opacity : 0
  visibility hidden
  

.showSeach 
  opacity 1
  visibility visible
 
  
.transtition-search
    -webkit-transition: all .5s ease-in
    -moz-transition: all .5s ease-in
    -o-transition: all .5s ease-in
    -ms-transition: all .5s ease-in
    transition: all .5s ease-in;
   
.rolldate-panel
    border-radius 15px
    z-index 10000 !important


.rolldate-mask
  z-index: 9999 !important

.rolldate-container .mask-bottom
  width: 80% !important
  margin-left: 10%
   

.rolldate-container .mask-top
  width: 80% !important
  margin-left: 10%
   
.rolldate-container header
  border-bottom: none !important

.snackbar
  width 100% !important
  text-align: center !important
  z-index 10000000 !important
  padding-top : 22px !important 
  padding-bottom : 22px !important

.success-snackbar
  background: $positive !important

.error-snackbar
  background: $red !important

.decimal
  font-size : 16px;
  position : relative;
  top  : -6px;
  right : 5px


.padding-0
  padding: 0px !important 


.margin-0
  margin : 0px !important


.pagination .q-btn-item 
  border-radius: 50%