<template>
  <div id="containerListItem">
    <!-- Input para fecha-->
    <input readonly type="hidden" id="date" placeholder />

    <swipe-list
      ref="list"
      class="card"
      :disabled="!enabled"
      :items="data"
      item-key="id"
      :threshold="shold"
      @swipeout:click="itemClick"
      @active="activeItem"
      v-if="data.length > 0"
    >
      <template v-slot="{ item, revealLeft, revealRight }">
        <div class="card-content">
          <q-item style="padding: 15px 0px">
            <q-item-section class="q-ml-sm">
              <q-item-label style="font-size: 15px" lines="1">
                {{ item.title }}
              </q-item-label>
              <q-item-label caption lines="2">
                {{ item.description }}
              </q-item-label>
              <q-item-label caption v-if="item.id != '0'">
                <span v-if="item.joint == 'S'">Mancomuncada</span>
                <span v-else>Individual</span>
              </q-item-label>
            </q-item-section>

            <q-item-section side top class="money-content q-mr-sm">
              <q-item-label class="label-money-swipe font-number">
                Q {{ item.amount }}
                <span class="decimal">{{ item.cents }}</span>
              </q-item-label>
              <q-item-label caption v-if="item.state">
                {{ item.state }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </div>
      </template>

      <template v-slot:left="{ item }">
        <div
          v-if="isAccount"
          class="swipeout-action bg-red q-pl-sm q-pr-sm"
          style="width: 90px"
          title="remove"
          @click="showComponent('movementsAccount', item)"
        >
          <q-btn class="text-white full-width q-pt-sm" icon="fas fa-random" flat></q-btn>
          <div class="text-white label-action-swipe text-center">Mov.</div>
        </div>
        <div
          v-else
          class="swipeout-action bg-red q-pl-sm q-pr-sm"
          style="width: 90px"
          title="remove"
          @click="showComponent('movementsLoan', item)"
        >
          <q-btn class="text-white full-width q-pt-sm" icon="fas fa-random" flat></q-btn>
          <div class="text-white label-action-swipe text-center">Mov.</div>
        </div>

        <div
          class="swipeout-action bg-red item-action-swipe"
          title="remove"
          @click="showComponent('personalize', item)"
        >
          <q-btn class="text-white full-width q-pt-sm" icon="fas fa-user" flat></q-btn>
          <div class="text-white text-center label-action-swipe text-center">Person.</div>
        </div>

        <div
          v-if="!isAccount"
          class="swipeout-action bg-red item-action-swipe"
          title="remove"
          @click="showComponent('group', item)"
        >
          <q-btn class="text-white full-width q-pt-sm" icon="fas fa-users" flat></q-btn>
          <div class="text-white text-center label-action-swipe">Grupo</div>
        </div>
      </template>

      <template v-slot:right="{ item }" v-if="isAccount" class="bg-primary">
        <div
          class="swipeout-action bg-red q-pl-sm q-pr-sm"
          style="width: 90px"
          title="remove"
          @click="showComponent('saldoAccount', item)"
          v-if="item.state != 'Cancelada'"
        >
          <q-btn
            class="text-white full-width q-pt-sm"
            icon="fas fa-money-bill-alt"
            flat
          ></q-btn>
          <div class="text-white text-center label-action-swipe">Saldos</div>
        </div>

        <div
          v-if="
            item.joint != 'S' &&
            item.idAccountState == 1 &&
            item.product == 'A' &&
            item.special == 'N' &&
            item.state != 'Cancelada' &&
            validAmount(item.amount, item.cents)
          "
          class="swipeout-action bg-red item-action-swipe"
          title="remove"
          @click="showComponent('transfer', item)"
        >
          <q-btn
            class="text-white full-width q-pt-sm"
            icon="fas fa-exchange-alt"
            flat
          ></q-btn>
          <div class="text-white text-center label-action-swipe">Transf.</div>
        </div>
        <div
          class="swipeout-action bg-red item-action-swipe"
          title="remove"
          @click="showComponent('checkRequest', item)"
          v-if="
            item.joint != 'S' &&
            item.idAccountState == 1 &&
            item.product == 'A' &&
            item.special == 'N' &&
            item.state != 'Cancelada' &&
            validAmount(item.amount, item.cents)
          "
        >
          <q-btn
            class="text-white full-width q-pt-sm"
            icon="fas fa-money-check"
            flat
          ></q-btn>
          <div class="text-white text-center label-action-swipe">S. Cheque</div>
        </div>
      </template>

      <template v-slot:right="{ item }" v-else class="bg-primary">
        <div
          class="swipeout-action bg-red q-pl-sm q-pr-sm"
          style="width: 90px"
          title="remove"
          @click="showComponent('saldoLoan', item)"
          v-if="item.state != 'Cancelada' && item.joint != 'S'"
        >
          <q-btn
            class="text-white full-width q-pt-sm"
            icon="fas fa-money-bill-alt"
            flat
          ></q-btn>
          <div class="text-white text-center label-action-swipe">Saldos</div>
        </div>

        <div
          class="swipeout-action bg-red item-action-swipe"
          title="remove"
          @click="showComponent('loanPayment', item)"
          v-if="item.state != 'Cancelada'"
        >
          <q-btn
            class="text-white full-width q-pt-sm"
            icon="fas fa-hand-holding-usd"
            flat
          ></q-btn>
          <div class="text-white text-center label-action-swipe">Pago</div>
        </div>
        <div
          class="swipeout-action bg-red item-action-swipe"
          title="remove"
          @click="showComponent('paymentPlan', item)"
          v-if="item.state != 'Cancelada' && item.joint != 'S'"
        >
          <q-btn
            class="text-white full-width q-pt-sm"
            icon="fas fa-file-invoice-dollar"
            flat
          ></q-btn>
          <div class="text-white text-center label-action-swipe">Plan pago</div>
        </div>
      </template>
      <template v-slot:empty></template>
    </swipe-list>
    <div v-else>
      <p class="text-center">{{ emptyData }}</p>
    </div>
    <movements-account
      ref="movementsAccount"
      @picker="showDatePicker"
      :item="currentItem"
      @closeActions="closeActions"
    ></movements-account>
    <personalize
      ref="personalize"
      @closeActions="closeActions"
      @getData="getData"
      @invalidTime="noValidTime"
    ></personalize>
    <transfer
      ref="transfer"
      :item="currentItem"
      @getData="getData"
      @closeActions="closeActions"
      @invalidTime="$emit('invalidTime')"
    ></transfer>
    <check-request
      ref="checkRequest"
      :item="currentItem"
      @closeActions="closeActions"
      @getData="getData"
      @invalidTime="$emit('invalidTime')"
    ></check-request>
    <saldo-account
      ref="saldoAccount"
      :item="currentItem"
      @closeActions="closeActions"
    ></saldo-account>
    <movements-loan
      :item="currentItem"
      ref="movementsLoan"
      @picker="showDatePickerYear"
      @closeActions="closeActions"
    ></movements-loan>
    <saldo-loan
      ref="saldoLoan"
      :item="currentItem"
      @closeActions="closeActions"
    ></saldo-loan>
    <loan-payment
      ref="loanPayment"
      :item="currentItem"
      @closeActions="closeActions"
      @getData="getData"
    ></loan-payment>
    <group ref="group" :item="currentItem" @closeActions="closeActions"></group>
    <payment-plan
      ref="paymentPlan"
      :item="currentItem"
      @closeActions="closeActions"
    ></payment-plan>
  </div>
</template>
<script>
//Importar los componentes necesarios
import { SwipeList, SwipeOut } from "vue-swipe-actions";
import "vue-swipe-actions/dist/vue-swipe-actions.css";
import MovementsAccount from "../Actions/MovementsAccount";
import Personalize from "../Actions/Personalize";
import Transfer from "../Actions/Transfer";
import CheckRequest from "../Actions/CheckRequest";
import SaldoAccount from "../Actions/SaldoAccount";
import MovementsLoan from "../Actions/MovementsLoan";
import SaldoLoan from "../Actions/SaldoLoan";
import LoanPayment from "../Actions/LoanPayment";
import Group from "../Actions/Group";
import PaymentPlan from "../Actions/PaymentPlan";
import Rolldate from "rolldate";
import Message from "../Common/Message";
import Util from "../../js/Util";
export default {
  mixins: [Util],
  //Registrar los componentes
  components: {
    SwipeOut,
    SwipeList,
    MovementsAccount,
    Personalize,
    Transfer,
    CheckRequest,
    SaldoAccount,
    MovementsLoan,
    SaldoLoan,
    LoanPayment,
    Group,
    PaymentPlan,
  },
  props: {
    data: Array,
    emptyData: String,
    isAccount: Boolean,
  },
  data() {
    return {
      enabled: true,
      shold: 45,

      currentItem: {},
      currentIdInput: null,
    };
  },
  methods: {
    showComponent(componentName, item) {
      this.currentItem = item;
      this.$refs[componentName].show(item);
      //  this.$refs.list.closeActions();
    },
    closeActions() {
      this.$refs.list.closeActions();
    },
    getData() {
      this.$emit("getData");
    },
    revealLeft() {
      // this.$refs.list.closeActions();

      this.$refs.list.closeActions();
      this.$root.$emit("reset-timer");
    },
    revealRight() {
      this.$root.$emit("reset-timer");
    },

    itemClick() {
      this.$refs.list.closeActions();
    },
    activeItem() {
      this.$emit("closeAll");
      this.$refs.list.closeActions();
    },
    showDatePicker(removeInput) {
      var date = this.getItemStorage("date").split("/");
      var context = this.$refs;
      if (this.currentIdInput != null && removeInput) {
        var oldInput = document.getElementById(this.currentIdInput);
        oldInput.remove();
        this.currentIdInput = null;
      }
      if (this.currentIdInput == null) {
        var id = "_" + Math.random().toString(36).substr(2, 9);
        this.currentIdInput = id;
        var input = document.createElement("INPUT");
        input.setAttribute("type", "hidden");
        input.setAttribute("id", id);

        var container = document.getElementById("containerListItem");
        container.prepend(input);
      }

      new Rolldate({
        el: "#" + this.currentIdInput,
        format: "MM-YYYY",
        value: date[1] + "-" + date[1] + "-" + date[2],
        lang: {
          title: "Selecione fecha",
          confirm: "Aceptar",
          cancel: "",
          year: "",
          month: "",
        },
        confirm: function (date) {
          context.movementsAccount.setDate(date);
        },
        cancel: function () {},
      }).show();

      this.addHeaderCalendar("Año", "Mes");
    },
    //Mostrar picker para seleccionar año
    showDatePickerYear(removeInput) {
      var date = this.getItemStorage("date").split("/");

      if (this.currentIdInput != null && removeInput) {
        var oldInput = document.getElementById(this.currentIdInput);
        oldInput.remove();
        this.currentIdInput = null;
      }
      if (this.currentIdInput == null) {
        var id = "_" + Math.random().toString(36).substr(2, 9);
        this.currentIdInput = id;
        var input = document.createElement("INPUT");
        input.setAttribute("type", "hidden");
        input.setAttribute("id", id);

        var container = document.getElementById("containerListItem");
        container.prepend(input);
      }

      var context = this.$refs;
      var a = new Rolldate({
        el: "#" + this.currentIdInput,
        format: "YYYY",
        value: (parseInt(date[2]) + 1).toString(),
        lang: {
          title: "Selecione fecha",
          confirm: "Aceptar",
          cancel: "",
          year: "",
          month: "",
        },
        confirm: function (date) {
          context.movementsLoan.searchByYear(date);
        },
        cancel: function () {},
      });

      a.show();
      this.addHeaderCalendar("Año");
    },
    addHeaderCalendar(year, month) {
      if (document.getElementsByClassName("rolldate-content").length > 0) {
        var nodeContainer = document.createElement("div");
        var node = document.createElement("div");

        if (month) {
          var textnodeMonth = document.createTextNode(month);

          node.appendChild(textnodeMonth);
          node.className = "header-item";
          nodeContainer.append(node);
        }

        node = document.createElement("div");
        var textnodeYear = document.createTextNode(year);
        if (month) {
          node.className = "header-item";
        } else {
          node.className = "full-width text-center";
        }

        node.appendChild(textnodeYear);

        nodeContainer.append(node);
        nodeContainer.className = "header-calendar";

        document
          .getElementsByClassName("rolldate-content")[0]
          .insertAdjacentElement("beforebegin", nodeContainer);
      }
    },

    //Valdiar el monoto de la cuetna o prestamo
    validAmount(amount, cents) {
      let tempAmount = parseFloat(amount.replace(",", "") + "." + cents).toFixed(2);
      if (tempAmount > 0) {
        return true;
      } else {
        return false;
      }
    },
    noValidTime() {
      debugger;
      this.$emit("invalidTime");
    },
  },
  watch: {},
};
</script>
<style lang="stylus">
.header-calendar {
  display: flex;
}

.header-item {
  width: 50%;
  color: #222;
}

.item-action-swipe {
  width: 82px;
}

.label-action-swipe {
  margin-top: -5px;
}

.label-money-swipe {
  font-size: 22px;
}

.money-content .text-caption {
  margin-top: 0px;
}
</style>
