<template>
  <div>
    <q-dialog
      v-model="dialogSuccess"
      transition-show="scale"
      transition-hide="scale"
      @hide="$emit('hideDialogSuccess')"
    >
      <q-card class="" style="width: 300px">
        <q-card-section>
          <Lottie
            className="animation"
            renderer="canvas"
            :loop="false"
            :autoplay="true"
            :animationData="lottieSuccess"
            class="center-container lottie-anim"
          />
        </q-card-section>
        <q-card-section class="q-pt-none text-center">
          <div v-if="Array.isArray(messageDialog)">
            <div v-for="(item, index) in messageDialog" :key="index" class="q-mt-sm">
              {{ item }}
            </div>
          </div>
          <div v-else>
            {{ messageDialog }}
          </div>
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-blue">
          <q-btn flat label="Aceptar" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog
      v-model="dialogError"
      transition-show="scale"
      transition-hide="scale"
      @hide="$emit('hideDialogError')"
    >
      <q-card class="" style="width: 300px">
        <q-card-section>
          <Lottie
            className="animation"
            renderer="canvas"
            :loop="false"
            :autoplay="true"
            :animationData="lottieError"
            class="center-container"
          />
        </q-card-section>
        <q-card-section class="q-pt-none text-center">
          <div v-if="Array.isArray(messageDialog)">
            <div v-for="(item, index) in messageDialog" :key="index" class="q-mt-sm">
              {{ item }}
            </div>
          </div>
          <div v-else>
            {{ messageDialog }}
          </div>
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-blue">
          <q-btn flat label="Aceptar" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog
      v-model="dialogNoAvailableService"
      transition-show="scale"
      transition-hide="scale"
      @hide="$emit('hideDialogNoAvailableService')"
    >
      <q-card class="" style="width: 300px">
        <q-card-section>
          <Lottie
            className="animation"
            renderer="canvas"
            :loop="false"
            :autoplay="true"
            :animationData="lottieError"
            class="center-container"
          />
        </q-card-section>
        <q-card-section class="q-pt-none text-center">
          <div v-if="Array.isArray(messageDialog)">
            <div v-for="(item, index) in messageDialog" :key="index" class="q-mt-sm">
              {{ item }}
            </div>
          </div>
          <div v-else>
            {{ messageDialog }}
          </div>
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-blue">
          <q-btn flat label="Aceptar" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog
      v-model="dialogErrorServer"
      transition-show="scale"
      transition-hide="scale"
      @hide="$emit('hideDialogErrorServer')"
    >
      <q-card class="" style="width: 300px">
        <q-card-section>
          <Lottie
            className="animation"
            renderer="canvas"
            :loop="false"
            :autoplay="true"
            :animationData="lottieError"
            class="center-container"
          />
        </q-card-section>
        <q-card-section>
          <div class="text-h6 text-center">{{ titleDialog }}</div>
        </q-card-section>
        <q-card-section class="q-pt-none text-center">
          <div v-if="Array.isArray(messageDialog)">
            <div v-for="(item, index) in messageDialog" :key="index" class="q-mt-xs">
              {{ item }}
            </div>
          </div>
          <div v-else>
            {{ messageDialog }}
          </div>
        </q-card-section>
        <q-card-actions align="right" class="bg-white text-blue">
          <q-btn flat label="Aceptar" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog
      v-model="dialogInfo"
      transition-show="scale"
      transition-hide="scale"
      @hide="$emit('hideDialogInfo')"
    >
      <q-card class="" style="width: 300px">
        <q-card-section>
          <Lottie
            className="animation"
            renderer="canvas"
            :loop="false"
            :autoplay="true"
            :animationData="lottieInfo"
            class="center-container lottie-anim"
          />
        </q-card-section>

        <q-card-section class="q-pt-none text-center">
          <div v-if="Array.isArray(messageDialog)">
            <div v-for="(item, index) in messageDialog" :key="index" class="q-mt-sm">
              {{ item }}
            </div>
          </div>
          <div v-else>
            {{ messageDialog }}
          </div>
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="Aceptar" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import Lottie from "vue-lottie-web";
import lottieSuccess from "../../statics/json/success.json";
import lottieError from "../../statics/json/error.json";
import lottieErrorServer from "../../statics/json/errorServer.json";
import lottieInfo from "../../statics/json/info.json";
export default {
  components: {
    Lottie,
  },
  data: () => ({
    dialogSuccess: false,
    dialogError: false,
    dialogInfo: false,
    dialogErrorServer: false,
    dialogNoAvailableService: false,
    messageDialog: "",
    lottieSuccess,
    lottieError,
    lottieErrorServer,
    lottieInfo,
    titleDialog: "",
  }),
  methods: {
    //Esta funcion muestra el componente SnackBar para darle un mensaje al usuario
    showMessageSuccess(message, titleMessage) {
      let text = "Operación realizada con exito";

      this.titleDialog = titleMessage ? titleMessage : "";
      // context.$snack["success"](config);
      this.messageDialog = message ? message : text;
      this.dialogSuccess = true;
    },

    showMessageInfo(message, titleMessage) {
      // context.$snack["success"](config);
      this.titleDialog = titleMessage ? titleMessage : "";
      this.messageDialog = message;
      this.dialogInfo = true;
    },
    //Muestara el componente qDialog, cuando ocurre un error del lado del servidor
    showMessageErrorServer(titleMessage) {
      let text = "¡Lo sentimos! ha ocurrido un error en el servidor";
      this.titleDialog = titleMessage ? titleMessage : "Error";
      this.messageDialog = text;
      this.dialogErrorServer = true;

      //  context.$snack["success"](config);
    },
    //Muestra el componente SnackBar, cuando ocurre algun error, en general.
    showMessageError(message, titleMessage) {
      this.titleDialog = titleMessage ? titleMessage : "Error";
      let text = "¡Lo sentimos! ha ocurrido un error";

      this.messageDialog = message ? message : text;
      this.dialogError = true;

      // context.$snack["success"](config);
    },
    showMessageNoAvailableServer(message, titleMessage) {
      this.titleDialog = titleMessage ? titleMessage : "Error";
      let text = "¡Lo sentimos! Los servicios no estan disponibles";

      this.messageDialog = message ? message : text;
      this.dialogNoAvailableService = true;
      // context.$snack["success"](config);
    },
    showMessageErrorToken() {
      this.titleDialog = "";
      this.messageDialog = "El token no es válido";
      this.dialogError = true;

      // context.$snack["success"](config);
    },
    showMessageErrorKey() {
      this.titleDialog = "";
      this.messageDialog = "Error en la autenticación del usuario";
      this.dialogError = true;

      // context.$snack["success"](config);
    },
  },
};
</script>
<style lang="stylus" scoped>
.lottie-anim{
    width : 100%;
    max-width : 220px
  }
</style>
