<template>
  <div>
    <div
      v-for="(item, index) in items"
      :key="index"
      :class="{ 'text-item': textMedium }"
      :style="styles"
    >
      <div :class="[dense ? 'q-mb-sm' : 'q-pb-lg q-pt-lg', '']">
        <span class="text-grey">{{ item.label }}</span>
        <span class="float-right" :class="{ 'font-number': item.isNumber }">
          {{
          item.value
          }}
        </span>
      </div>
      <div v-if="item.separatorMiddle">
        <q-separator style="width : 50%" class="float-right q-mb-md"></q-separator>
      </div>
      <div v-if="separator">
        <q-separator></q-separator>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    items: Array,
    dense: Boolean,
    separator: Boolean,
    textMedium: Boolean,
    styles: String
  },
  data: function() {
    return {};
  },
  created() {},
  methods: {}
};
</script>
<style lang="stylus" scoped>
.text-item {
  font-size: 16px;
}
</style>
