<template>
  <div
    id="q-app"
    @mousedown="resetTimer"
    @click="resetTimer"
    @mouseup="resetTimer"
    @keypress="resetTimer"
    @scroll="resetTimer"
  >
    <router-view @scroll="resetTimer" />
    <q-dialog
      v-model="persistent"
      persistent
      transition-show="scale"
      transition-hide="scale"
    >
      <q-card class style="width: 300px">
        <q-card-section>
          <div class="text-h6">Sesión</div>

          <q-circular-progress
            reverse
            :value="value"
            size="100px"
            :thickness="1"
            color="deep-orange"
            track-color="grey-4"
            class="q-ma-md center-container"
          />
        </q-card-section>

        <q-card-section class="q-pt-none text-center"
          >Cerrando sesión por inactividad</q-card-section
        >

        <q-card-actions align="right" class="text-red">
          <q-btn flat label="Cancelar" v-close-popup @click="cancelCloseSession()" />
          <q-btn
            flat
            label="Aceptar"
            v-close-popup
            @click="
              persistent = false;
              closeSession();
            "
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <message ref="message" @hideDialogNoAvailableService="toLogin"></message>
  </div>
</template>

<script>
import Vue from "vue";
import Util from "./js/Util";
import { URL_BASE, Result, IN_DEVICE } from "./boot/Constant";
import Message from "./components/Common/Message";
export default {
  name: "App",
  components: {
    Message,
  },
  mixins: [Util],
  data: function () {
    return {
      persistent: false,
      value: 0,
      time: null,
      timeOutSession: null,

      counterTimer: 0,
    };
  },
  beforeCreate() {},
  created() {
    if (!this.getItemStorage("idUser")) {
      // this.$router.push("Login");
    }
    if (window.cordova) {
      StatusBar.show();
    }

    //Escucha del evneto cuando esta listo el dispositivo
    document.addEventListener("deviceready", this.onDeviceReady.bind(this), false);

    document.addEventListener("scroll", this.handleScroll.bind(this), false);

    if (window.cordova) {
      StatusBar.backgroundColorByHexString("#CF112B");

      var context = this.$root;

      window.addEventListener("keyboardDidShow", function () {
        console.log("Keyboard show");

        context.$emit("SHOW_KEYBOARD");
      });

      window.addEventListener("keyboardDidHide", function () {
        console.log("keyboard hide");

        context.$emit("HIDE_KEYBOARD");
      });
      window.addEventListener("native.keyboardshow", function () {
        console.log("Keyboard show");
        context.$emit("SHOW_KEYBOARD");
      });
      window.addEventListener("native.keyboardhide", function () {
        console.log("Keyboard hide");
        context.$emit("HIDE_KEYBOARD");
      });
    }
    this.resetTimer();
  },
  methods: {
    clickAction() {},
    handleScroll(event) {
      this.$root.$emit("reset-timer");
    },
    onDeviceReady() {
      var context = this;
      //Este listener esta a la escucha de cualqueir SMS que llega la dispositivo
      //Este listener es activa cuando se llama a  :  SMSReceive.stopWatch
      document.addEventListener("onSMSArrive", function (e) {
        var IncomingSMS = e.data;
        //Se emite a cualquier componente secundario el mensaje del SMS
        context.$root.$emit("token", IncomingSMS.body);

        //Se para el SMS recive, para optimizar recursos y dejar de escuchar los mensaje que entran
        //en el dispositivo
        SMSReceive.stopWatch(
          function () {},
          function () {}
        );
      });
    },
    //Esta funcion le da el porcentaje de progreso al CircularProgress, que se muestra
    //despues de 10 minutos de inactividad del usuario
    timeOut(counter) {
      var context = this;
      if (counter <= 30) {
        context.timeOutSession = setTimeout(function () {
          //Se calcula el porcentaje
          context.value = ((counter * 100) / 60) * 2;
          context.counterTimer = counter;
          counter++;
          if (counter == 30) {
            if (context.persistent) {
              context.closeSession();
              context.persistent = false;
            }
          }

          context.timeOut(counter);
        }, 1000);
      }
    },
    //Cierra sesion del usuario
    closeSession() {
      this.$q.loading.show();
      let url = URL_BASE + "cerrarSesion?idUser=" + this.getItemStorage("idUser");
      this.$http
        .post(url)
        .then((response) => {
          if (response.data.estado == Result.SUCCESS) {
            //Elimina datos almacenados
            this.removeItenStorage("idUser");

            if (this.getItemStorage("rememberPassword") != "true") {
              this.removeItenStorage("username");
              this.removeItenStorage("password");
            }
            this.removeItenStorage("fullName");
            this.removeItenStorage("name");
            this.setItemStorage("firstInitApp", "false");
            this.value = 0;
            //Se direccion a la ruta del login
            this.$router.push("/Login");
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    //Reinicio del timer cuando hay alguna interaccion del usaurio con el UI
    resetTimer() {
      //Obtiene el valor del timer, que es alamcenado cuando se inicio sesion
      if (this.getItemStorage("timer")) {
        //Para el timer
        clearTimeout(this.time);
        var context = this.$router;
        var ctx = this;
        //Se inicia nuevamente el tiemr, validando la ruta en que se encunta

        this.time = setTimeout(
          function () {
            if (
              context.currentRoute.path != "/Login" &&
              context.currentRoute.path != "/userValidation" &&
              context.currentRoute.path != "/" &&
              context.currentRoute.path != "/termsConditions/0" &&
              context.currentRoute.path != "/changePassword" &&
              context.currentRoute.path != "/ForgotPassword"
            ) {
              ctx.persistent = true;
              ctx.timeOut(0);
              console.log("clear time out");
            }
          },
          //Se le asigna el valor del tiempo en milisegundos
          parseInt(this.getItemStorage("timer")) * 60000 //convertir a milisegundos
        ); // time is in milliseconds (1000 is 1 second)
      }
    },
    cancelCloseSession() {
      this.persistent = false;
    },
    toLogin() {
      return;
      this.removeItenStorage("idUser");

      if (this.getItemStorage("rememberPassword") != "true") {
        this.removeItenStorage("username");
        this.removeItenStorage("password");
      }
      this.removeItenStorage("fullName");
      this.removeItenStorage("name");
      this.setItemStorage("firstInitApp", "false");

      this.$router.push("/Login");
    },
  },

  mounted() {
    var http = this.$http;
    var context = this;

    http.interceptors.request.use(function (config) {
      console.log(config);
      if (
        !config.url.includes("tipoReclamo") &&
        !config.url.includes("imagenes") &&
        !config.url.includes("numeroWhatsapp") &&
        !config.url.includes("notificacion/all") &&
        !config.url.includes("pais/all") &&
        !config.url.includes("region/all") &&
        !config.url.includes("depto/all") &&
        !config.url.includes("municipio/all") &&
        !config.url.includes("aldea/all") &&
        !config.url.includes("telefonica/all") &&
        !config.url.includes("tipoTelefono/all")
      ) {
        let value = context.getItemStorage("userKey");
        if (value) {
          config.url += "&userKey=" + value;
          if (!config.url.includes("idCli")) {
            if (context.getItemStorage("idUser")) {
              config.url += "&idCli=" + context.getItemStorage("idUser");
            }
          }
        }
      }
      console.log(config.url);
      return config;
    });
    var context = this;
    http.interceptors.response.use(
      function (response) {
        if (response.data.estado == Result.USER_KEY_INVALID) {
          context.$q.loading.hide();
          context.$refs.message.showMessageErrorKey();
          return;
        }
        console.log(response);
        return response;
      },
      function (error) {
        console.log(error);
        context.$refs.message.showMessageNoAvailableServer(
          "Estimado usuario_Temporalmente el servicio móvil esta sin conexión o en mantenimiento, favor intente más tarde.".split(
            "_"
          )
        );
        context.$q.loading.hide();

        return;
      }
    );

    Vue.prototype.$http = http;

    if (window.cordova) {
      //Cuando se recive el evneto dark-status-bar, cambia del color del StatusBar a #b80c26
      this.$root.$on("dark-status-bar", () => {
        StatusBar.backgroundColorByHexString("#b80c26");
      });
      //Oculta el status bar
      this.$root.$on("hide-status-bar", () => {
        StatusBar.hide();
      });
      //Muestra el status bar
      this.$root.$on("show-status-bar", () => {
        StatusBar.show();
      });
      //Reinicia el timer
      this.$root.$on("reset-timer", () => {
        this.resetTimer();
      });
    }
    //Cierra sesion del usuario
    this.$root.$on("close-session", () => {
      this.closeSession();
    });
  },
  destroyed() {},
  watch: {
    persistent: function (newValue, oldValue) {
      if (newValue == false) {
        clearTimeout(this.timeOutSession);
        clearTimeout(this.time);
        this.value = 0;
        this.time = 0;
        this.timeOutSession = 0;
        this.resetTimer();
        this.counterTimer = 0;
      } else {
        if (this.counterTimer > 0) {
          clearTimeout(this.timeOutSession);
          clearTimeout(this.time);
          this.value = 0;
          this.time = 0;
          this.timeOutSession = 0;
          this.resetTimer();
          this.counterTimer = 0;
        }
      }
    },
    //Valida la ruta cada que se cambia
    $route(to, from) {
      if (to.path == from.path) {
        return;
      }

      //Si no esta almacenada el idUser en el dispositivo se redirecciona al Login
      if (IN_DEVICE) {
        if (!this.getItemStorage("idUser")) {
          if (
            to.path != "/Login" &&
            to.path != "/userValidation" &&
            to.path != "/termsConditions/0" &&
            to.path != "/ForgotPassword"
          ) {
            this.$router.push("Login");
          }
        }
      } else {
        if (!this.getItemStorage("idUser")) {
          if (
            to.path != "/Login" &&
            to.path != "/termsConditions/0" &&
            to.path != "/ForgotPassword"
          ) {
            this.$router.push("Login");
          }
        }
      }
    },
  },
};
</script>
