<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />
    <link rel="icon" type="image/png" sizes="128x128" href="statics/icons/share.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/share.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/share.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/share.png">
 
    <script type="text/javascript" src="statics/secure-ls.min.js"></script>
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
