<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58" style="padding-bottom: 75px">
        <div class="bg-primary q-pb-xs q-sm-md q-pt-xs q-pb-xs fixed-top">
          <q-toolbar class="text-white">
            <q-btn flat round dense icon="arrow_back" @click="showDialog = false" />
            <q-toolbar-title>Solicitud de cheque</q-toolbar-title>
            <q-btn flat label="Confirmar" @click="sendData"></q-btn>
          </q-toolbar>
        </div>
        <div>
          <q-form ref="formCheck">
            <q-card class="q-ma-sm">
              <q-card-section>
                <div class="text-h6">Cheque</div>
              </q-card-section>
              <q-card-section>
                <div class style="font-size: 16px">
                  <div class="q-mb-md">
                    <span class="text-grey q-mb-md">Número de cuenta</span>
                    <div class="float-right">{{ currentItem.number }}</div>
                  </div>
                  <div class="q-mb-md">
                    <span class="text-grey q-mb-md">Cuenta</span>
                    <div class="float-right">{{ currentItem.title }}</div>
                  </div>
                  <div class="q-mb-xs">
                    <span class="text-grey q-mb-md">Saldo</span>
                    <div class="float-right">
                      Q {{ currentItem.amount }}.{{ currentItem.cents }}
                    </div>
                  </div>
                </div>

                <q-input
                  class="q-mb-md"
                  v-model.number="check.amount"
                  label="Monto del cheque"
                  maxlength="12"
                  type="number"
                  prefix="Q "
                  @input="change"
                  :rules="[
                    (val) => !!val || 'Ingrese monto',
                    (val) => val > 0 || 'El monto ingresado no es válido',
                  ]"
                />
              </q-card-section>
            </q-card>
            <q-card class="q-ml-sm q-mr-sm q-mt-sm">
              <q-card-section>
                <div class="text-h6">Beneficiario</div>
              </q-card-section>
              <q-card-section>
                <q-input
                  v-model="beneficiary.name"
                  label="Nombre"
                  maxlength="50"
                  :rules="[(val) => !!val || 'Ingrese nombre']"
                />

                <q-input
                  v-model="beneficiary.emitDate"
                  @click="showPopup('emitDate', 'emitDate')"
                  label="Fecha emisión"
                  mask="##/##/####"
                  :rules="[(val) => !!val || 'Ingrese fecha emisión']"
                >
                  <template v-slot:append>
                    <q-popup-proxy
                      ref="emitDate"
                      transition-show="scale"
                      transition-hide="scale"
                    >
                      <q-date
                        v-model="emitDate"
                        @input="() => $refs.emitDate.hide()"
                        :locale="locationES"
                      />
                    </q-popup-proxy>
                  </template>
                </q-input>
                <q-input
                  bottom-slots
                  v-model="beneficiary.id"
                  label="DPI"
                  :rules="[
                    (val) => !!val || 'Ingrese su DPI',
                    (val) => val.length > 14 || 'DPI no válido',
                  ]"
                  maxlength="30"
                  class="full-width"
                  lazy-rules
                  type="tel"
                  mask="####-#####-####"
                ></q-input>
                <q-input
                  :rules="[(val) => !!val || 'Ingrese instrucciones entrega']"
                  v-model="beneficiary.deliveryInstructions"
                  label="Instrucciones entrega"
                  maxlength="200"
                />

                <q-select
                  v-model="beneficiary.agency"
                  :options="optionsAgency"
                  label="Agencia donde recoger cheque"
                  :rules="[(val) => !!val || 'Seleccione agencia']"
                />

                <q-input
                  v-model="beneficiary.token"
                  label="Token"
                  maxlength="10"
                  :rules="[(val) => !!val || 'Ingrese token']"
                />

                <div class="text-center">
                  <q-btn
                    @click="getToken"
                    label="Generar token"
                    flat
                    text-color="red"
                    class="q-mt-lg"
                  ></q-btn>
                </div>
              </q-card-section>
            </q-card>
          </q-form>
        </div>
      </q-card>
    </q-dialog>
    <message ref="message" @hideDialogSuccess="onHideDialogSuccess"></message>
  </div>
</template>
<script>
import { URL_BASE, Result } from "../../boot/Constant";
import Message from "../Common/Message";
import Util from "../../js/Util";
export default {
  mixins: [Util],
  components: {
    Message,
  },
  data: function () {
    return {
      date: this.getItemStorage("date"),
      //Modelo de opciones de Origen de cheque y Agencia donde recoger cheque
      optionsOrigin: [],
      optionsAgency: [],
      //modelo para cheques
      check: {
        origin: "",
        amount: "",
      },
      currentItem: {},
      receptionDate: null,
      emitDate: null,
      //modelo para beneficiario
      beneficiary: {
        name: "",
        emitDate: "",
        receptionDate: "",
        id: "",
        deliveryInstructions: "",
        agency: "",
        token: "",
      },
      showDialog: false,
      //Modelo para cambiar de idioma el calendario
      locationES: {
        days: "Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado".split("_"),
        daysShort: "Dom_Lun_Mar_Mié_Jue_Vie_Sáb".split("_"),
        months: "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre".split(
          "_"
        ),
        monthsShort: "Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic".split("_"),
        firstDayOfWeek: 1,
      },
    };
  },
  created() {},
  methods: {
    change(newValue) {
      let temp = newValue.toString().split(".");

      if (temp[1]) {
        if (temp[1].length >= 2) {
          temp[1] = temp[1].substring(0, 2);
        }
      }

      this.check.amount = parseFloat(temp[0] + "." + temp[1]).toFixed(2);
    },

    show(item) {
      //Al mostrar esta ventana se resetean los valores de las variables
      this.check = {
        origin: "",
        amount: "",
      };
      (this.currentItem = {}),
        (this.receptionDate = null),
        (this.emitDate = null),
        (this.beneficiary = {
          name: "",
          emitDate: "",
          receptionDate: "",
          id: "",
          deliveryInstructions: "",
          agency: "",
          token: "",
        }),
        (this.showDialog = true);
      this.currentItem = item;
      this.check.origin = {
        label: item.number,
        value: item.id,
      };
      this.getDestination(item);
      this.getAgency(item);
      var date = this.getItemStorage("date").split("/");
      this.receptionDate = date[2] + "/" + date[1] + "/" + date[0];
      this.emitDate = date[2] + "/" + date[1] + "/" + date[0];
      this.beneficiary.receptionDate = this.getItemStorage("date");
      this.beneficiary.emitDate = this.getItemStorage("date");
    },

    sendData() {
      this.$refs.formCheck.validate().then((response) => {
        if (response) {
          //la fecha emision  y recepciion se pasa al formato dd/MM/yyyy ss:mm:hh
          this.beneficiary.emitDate = this.beneficiary.emitDate + " 00:00:00";
          this.$q.loading.show();
          //Se crea la url para la solicitud de cheque
          let url =
            URL_BASE +
            "solicitudCheque?idCue=" +
            this.check.origin.value +
            "&idOfi=" +
            this.beneficiary.agency.value +
            "&nombre=" +
            this.beneficiary.name +
            "&fechaEmision=" +
            this.beneficiary.emitDate +
            "&insEntrega=" +
            this.beneficiary.deliveryInstructions +
            "&monto=" +
            this.check.amount +
            "&identificacion=" +
            this.beneficiary.id +
            "&token=" +
            this.beneficiary.token +
            "&idCli=" +
            this.getItemStorage("idUser") +
            "&fechaSis=" +
            this.getItemStorage("date");

          this.$http
            .post(url)
            .then((response) => {
              if (!response) return;
              if (response.data.estado == Result.TOKEN_ERROR) {
                this.$refs.message.showMessageErrorToken();
              } else if (response.data.estado == Result.SUCCESS) {
                if (response.data.data.id == Result.VALID) {
                  let message =
                    "Fecha resolución : " +
                    response.data.data.fechaRes.split(" ")[0] +
                    "_Número de solicitud " +
                    response.data.data.numeroSol +
                    "_" +
                    response.data.data.descripcion +
                    "";

                  this.$refs.message.showMessageSuccess(message.split("_"));
                } else {
                  this.$refs.message.showMessageError(response.data.data.descripcion);
                }
              } else {
                this.$refs.message.showMessageErrorServer();
              }
              this.$q.loading.hide();
            })
            .catch((error) => {
              this.$refs.message.showMessageError();
              this.$q.loading.hide();
            });
        } else {
        }
      });
    },
    //funcion para mostrar el calendio
    showPopup(qDate, model) {
      var date = new Date();
      this.$refs[qDate].show();

      if (this.beneficiary[model] == "") {
        //fecha con el formato : DD/MM/YYYY
        let month =
          date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;

        let day = date.getDay() < 10 ? "0" + date.getDay() : date.getDay();

        this.beneficiary[model] = date.getFullYear() + "/" + month + "/" + day;
      }
    },
    //Obtiene todas las cuentas de destino
    getDestination(item) {
      this.origin = {
        label: item.description,
        value: item.id,
      };
      let url = URL_BASE + "cuentasOrigen?idCli=" + this.getItemStorage("idUser");

      this.$q.loading.show();
      this.$http
        .post(url)
        .then((response) => {
          if (response.data.estado == Result.SUCCESS) {
            this.optionsOrigin = [];
            //Se mapea la informacion obtenida, agreando a la variable optionsOrigin cada una de las cuetnas
            response.data.data.map((item) => {
              let model = {
                label: item.numero + " - " + item.nombre,
                value: item.id,
                type: item.tipo,
              };
              this.optionsOrigin.push(model);
            });
          } else {
            this.$refs.message.showMessageErrorServer();
          }

          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    //Obtiene todas las agencias donde recoger cheuqe
    getAgency(item) {
      let url = URL_BASE + "oficinas?idEmp=" + item.company;
      this.$q.loading.show();
      this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            //Se mapea la informacion , agregando a la variable optionsAgnecy cada una de las agencias obtnidas
            response.data.data.map((item) => {
              let model = {
                label: item.descripcion,
                value: item.id,
              };
              this.optionsAgency.push(model);
            });
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    onHideDialogSuccess() {
      this.$emit("getData");
      this.showDialog = false;
    },
    //Retorna fecha con el formato dd/mm/yyy ss:mm:hh
    getFormatDate(date) {
      let d = date.split("/");
      return d[2] + "/" + d[1] + "/" + d[0] + " 00:00:00";
    },

    getToken() {
      this.generateToken(this).then((response) => {
        this.beneficiary.token = response.data.data;
      });
    },
  },
  watch: {
    showDialog: function (newValue, oldValue) {
      if (!newValue) {
        this.$emit("closeActions");
      }
    },

    receptionDate: function (newValue, oldValue) {
      var date = newValue.split("/");
      var date2 = this.getItemStorage("date").split("/");
      let dateSystem = new Date(date2[2] + "/" + date2[1] + "/" + date2[0]);
      if (new Date(newValue) < dateSystem) {
        this.$refs.message.showMessageInfo(
          "La fecha no debe ser menor  a : " + this.getItemStorage("date")
        );

        this.receptionDate = oldValue;
      } else {
        if (date.length == 3) {
          this.beneficiary.receptionDate = date[2] + "/" + date[1] + "/" + date[0];
        }
      }
    },
    emitDate: function (newValue, oldValue) {
      var date = newValue.split("/");
      var date2 = this.getItemStorage("date").split("/");

      let dateSystem = new Date(date2[2] + "/" + date2[1] + "/" + date2[0]);
      if (new Date(newValue) < dateSystem) {
        this.$refs.message.showMessageInfo(
          "La fecha no debe ser menor  a : " + this.getItemStorage("date")
        );

        this.emitDate = oldValue;
      } else {
        if (date.length == 3) {
          this.beneficiary.emitDate = date[2] + "/" + date[1] + "/" + date[0];
        }
      }
    },
  },
  mounted() {
    //Este evento es para cuando llega el SMS del token al dispositivo
    this.$root.$on("token", (token) => {
      this.beneficiary.token = token;
    });
  },
};
</script>
