<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58">
        <div class="bg-primary q-pb-xs q-sm-md q-pt-xs q-pb-xs fixed-top">
          <q-toolbar class="text-white">
            <q-btn flat round dense icon="arrow_back" @click="showDialog = false" />
            <q-toolbar-title>Grupo</q-toolbar-title>
          </q-toolbar>
        </div>

        <div class="q-ml-md q-mr-md">
          <simple-list
            class="q-mt-lg"
            :items="items"
            :dense="false"
            :textMedium="true"
            :separator="true"
          ></simple-list>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import SimpleList from "../Common/SimpleList";
import { URL_BASE, Result } from "../../boot/Constant";
import Util from "../../js/Util";
import Message from "../Common/Message";
export default {
  components: {
    SimpleList
  },
  data: function() {
    return {
      newName: "",
      token: "",
      showDialog: false,
      items: []
    };
  },
  created() {},
  methods: {
    show(item) {
      this.showDialog = true;
      this.getData(item);
    },
    getData(item) {
      this.$q.loading.show();
      let url = URL_BASE + "consultaPrestamo?noPrestamo=" + item.number +"&fechaCredito=" + item.dateCredit;
      this.$http
        .post(url)
        .then(response => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            let group = response.data.data.detalle;
            this.items = [
              {
                label: "Nombre",
                value: group.gr_nom ? group.gr_nom : ""
              },
              {
                label: "Dia de reunión",
                value: group.gr_diar ? group.gr_diar : ""
              },
              {
                label: "Hora de reunión",
                value: group.gr_horar ? group.gr_horar : ""
              },
              {
                label: "Lugar de reunión",
                value: group.gr_lugr ? group.gr_lugr : ""
              },
              {
                label: "Teléfono contacto",
                value: group.gr_telr ? group.gr_telr : ""
              }
            ];
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.showDialog = true;
          this.$q.loading.hide();
        })
        .catch(error => {
          this.$q.loading.hide();
          this.$refs.message.showMessageError();
        });
    }
  },
  watch: {
    showDialog: function(newValue, oldValue) {
      if (!newValue) {
        this.$emit("closeActions");
      }
    }
  }
};
</script>
