<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-md" style="padding-bottom : 75px">
        <div class="bg-primary q-pb-xs q-sm-md q-pt-xs q-pb-xs fixed-top">
          <q-toolbar class="text-white">
            <q-btn flat round dense icon="arrow_back" @click="showDialog = false" />
            <q-toolbar-title>Pagos</q-toolbar-title>
            <q-btn flat label="ENIVAR" @click="sendData"></q-btn>
          </q-toolbar>
        </div>
        <q-form ref="formPayment">
          <q-select
            v-model="loan"
            disable
            label="Préstamo"
            :rules="[val => !!val || 'Seleccione préstamo']"
          />

          <simple-list :items="items" :dense="false" :separator="true" :textMedium="true"></simple-list>

          <q-select
            class="q-mt-md"
            v-model="accountPayment"
            :options="optionsOrigin"
            label="Cuenta para pago"
            :rules="[val => !!val || 'Seleccione cuenta ']"
          />
          <q-input
            ref="amountPaid"
            v-model.number="amountPaid"
            label="Valor a pagar"
            :rules="[val => !!val || 'Ingrese valor a pgar']"
            maxlength="12"
            prefix="Q "
            type="number"
            class="full-width q-mt-sm"
            @input="change"
          ></q-input>

          <q-input
            ref="token"
            v-model="token"
            label="Token"
            :rules="[val => !!val || 'Ingrese token']"
            maxlength="10"
            class="full-width"
          ></q-input>
        </q-form>

        <div class="text-center">
          <q-btn label="Generar token" flat text-color="red" @click="getToken" class="q-mt-lg"></q-btn>
        </div>
      </q-card>
    </q-dialog>
    <message ref="message" @hideDialogSuccess="onHideDialogSuccess"></message>
  </div>
</template>
<script>
import SimpleList from "../Common/SimpleList";
import { URL_BASE, Result } from "../../boot/Constant";
import Util from "../../js/Util";
import Message from "../Common/Message";
export default {
  mixins: [Util],
  components: {
    SimpleList,
    Message
  },
  data: function() {
    return {
      showDialog: false,
      optionsOrigin: [],
      accountPayment: "",
      loan: "",
      amountPaid: 0,
      token: "",
      currentItem: {},

      items: []
    };
  },
  created() {},
  methods: {
    change(newValue) {
      let temp = newValue.toString().split(".");

      if (temp[1]) {
        if (temp[1].length >= 2) {
          temp[1] = temp[1].substring(0, 2);
        }
      }

      this.amountPaid = parseFloat(temp[0] + "." + temp[1]).toFixed(2);
    },

    show(item) {
      this.accountPayment = "";
      this.loan = "";
      this.amountPaid = "";
      this.token = "";
      this.currentItem = {};

      this.items = [];

      this.showDialog = true;
      this.getOrigin(item);
      this.getDetail(item);
      this.currentItem = item;
      this.loan = {
        label: item.title,
        value: item.title
      };
    },
    //Realiza el pago del prestamo
    sendData() {
      this.$refs.formPayment.validate().then(response => {
        if (response) {
          //url para el paeticion al servidor
          let url =
            URL_BASE +
            "cuentasPagoPrestamo?idCue=" +
            this.accountPayment.value +
            "&noPrestamo=" +
            this.currentItem.number +
            "&monto=" +
            this.amountPaid +
            "&token=" +
            this.token +
            "&idCli=" +
            this.getItemStorage("idUser");
          this.$q.loading.show();

          this.$http
            .post(url)
            .then(response => {
              if (!response) return;
              if (response.data.estado == Result.TOKEN_ERROR) {
                this.$refs.message.showMessageErrorToken();
              } else if (response.data.estado == Result.SUCCESS) {
                //Valida si se ejecuto correctamente la peticon
                if (response.data.data.id == Result.VALID) {
                  this.$refs.message.showMessageSuccess(
                    "Pago de préstamo realizado correctamente"
                  );
                } else {
                  this.$refs.message.showMessageError(
                    response.data.data.descripcion
                  );
                }
              } else {
                this.$refs.message.showMessageErrorServer();
              }

              this.$q.loading.hide();
            })
            .catch(error => {
              this.$refs.message.showMessageError();
              this.$q.loading.hide();
            });
        } else {
        }
      });
    },
    //Obtiene las cuentas de origen
    getOrigin(item) {
      let url =
        URL_BASE +
        "cuentasOrigen?idCli=" +
        this.getItemStorage("idUser") +
        "&token=" +
        this.token;

      this.$q.loading.show();

      this.$http
        .post(url)
        .then(response => {
          if (!response) return;
          if (response.data.estado == Result.TOKEN_ERROR) {
            this.$refs.message.showMessageErrorToken();
          } else if (response.data.estado == Result.SUCCESS) {
            this.optionsOrigin = [];
            response.data.data.map(item => {
              let model = {
                label: item.numero + " - " + item.nombre,
                value: item.id,
                type: item.tipo
              };
              this.optionsOrigin.push(model);
            });
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch(error => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    //Obtiene toda la informacion detallada del prestamo
    getDetail(item) {
      let url = URL_BASE + "consultaPrestamo?noPrestamo=" + item.number + "&fechaCredito=" + item.dateCredit;

      this.$q.loading.show();

      this.$http
        .post(url)
        .then(response => {
          if (response.data.estado == Result.SUCCESS) {
            this.items = [
              {
                label: "Cliente",
                value: response.data.data.detalle.pre_cln
              },
              {
                label: "Moneda",
                value: "QTZ"
              },
              {
                label: "Saldo",
                value: response.data.data.detalle.pre_mon
              },
              {
                label: "Cuota a pagar",
                value: response.data.data.detalle.cuota
              }
            ];
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch(error => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    onHideDialogSuccess() {
      this.$emit("getData");
      this.showDialog = false;
    },
    getToken() {
      this.generateToken(this).then(response => {
        this.token = response.data.data;
      });
    }
  },
  watch: {
    showDialog: function(newValue, oldValue) {
      if (!newValue) {
        this.$emit("closeActions");
      }
    }
  },
  mounted() {
    this.$root.$on("token", token => {
      this.token = token;
    });
  }
};
</script>
