<template>
  <div>
    <q-dialog
      maximized
      v-model="showDialog"
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58" style="padding-bottom : 120px">
        <div
          :class="[showSearch ? 'showSearch' : 'hideSearch', '']"
          class=" bg-white hola-mundo fixed fixed-top  transtition-search"
          style="z-index : 1000"
        >
          <q-input
            ref="inputSearch"
            borderless
            v-model="search"
            placeholder="Buscar..."
            type="search"
            class="  shadow-3 q-pb-xs q-pl-md q-pr-md"
            @input="searchMovement"
          >
            <template v-slot:before>
              <q-btn
                flat
                round
                dense
                icon="arrow_back"
                @click="
                  showSearch = false;
                  searchMovement('');
                "
              />
            </template>
            <template v-slot:append>
              <q-icon name="search" @click="searchMovement" />
            </template>
          </q-input>
        </div>

        <div class="bg-primary q-pb-xs q-pt-xs q-pb-xs fixed-top">
          <q-toolbar class="text-white">
            <q-btn
              flat
              round
              dense
              icon="arrow_back"
              @click="
                currentDate = null;
                showDialog = false;
              "
            />
            <q-toolbar-title>Movimientos </q-toolbar-title>
            <q-btn text-color="white" flat icon="more_vert">
              <q-menu
                v-model="menu"
                :content-style="{ minWidth: '150px' }"
                transition-show="jump-down"
                transition-hide="jump-up"
              >
                <q-list>
                  <q-item clickable @click="searchIcon">
                    <q-item-section>Buscar</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </q-toolbar>
        </div>

        <q-btn
          label="Seleccionar fecha"
          flat
          id="example"
          text-color="red"
          class="full-width shadow-1 q-pt-xs q-pb-xs"
          @click="showDatePicker"
        ></q-btn>

        <q-list class="q-ma-md" separator v-if="data.length > 0">
          <q-item
            v-for="(item, index) in data"
            :key="index"
            class="q-pt-md q-pb-md padding-left-0 padding-right-0"
          >
            <q-item-section avatar class="text-centr flex flex-center">
              <div class="text-center">{{ item.day }}</div>
              <div class="text-center">{{ item.month }}</div>
            </q-item-section>
            <q-item-section>
              <q-item-label lines="2">{{ item.title }}</q-item-label>
              <q-item-label caption lines="2">{{ item.type }}</q-item-label>
            </q-item-section>

            <q-item-section
              side
              center
              class="flex flex-row"
              style="flex-direction : row; align-items  : center"
            >
              <q-item-label style="font-size:20px" class="font-number">
                <div>
                  <span>
                    <q-icon
                      name="add"
                      color="positive"
                      v-if="item.type == 'Ingreso'"
                    ></q-icon>
                    <q-icon name="remove" color="negative" v-else></q-icon>
                  </span>
                  Q {{ item.amount }}
                  <span class="decimal">{{ item.cents }}</span>
                </div>
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
        <div v-else>
          <p class="text-center q-mt-lg text-faded">
            No se ha encontrado ningún movimiento
          </p>
        </div>
        <div>
          <div
            class="flex flex-center q-mt-sm fixed-bottom q-pb-md q-pt-md shadow-2 bg-white"   v-if="allData.length >= 10 && maxPagination > 0"
          >
            <q-pagination
              v-if="allData.length >= 10 && maxPagination > 0"
              v-model="currentPage"
              color="primary"
              class="pagination bg-white"
              input-class="button-pagination"
              :max="maxPagination"
              :max-pages="4"
              :boundary-numbers="false"
              :direction-links="true"
              @input="changePage"
            ></q-pagination>
          </div>
        </div>
      </q-card>
    </q-dialog>
    <message ref="message"></message>
  </div>
</template>
<script>
import Rolldate from "rolldate";
import { URL_BASE, Result } from "../../boot/Constant";
import Util from "../../js/Util";
import Message from "../Common/Message";
export default {
  mixins: [Util],
  props: {},
  components: {
    Message
  },
  data: function() {
    return {
      month: 100,
      day: "customValue0",

      menu: false,
      search: "",
      showDialog: false,
      showSearch: false,
      currentPage: 1,
      tab: "saldos",
      data: [],
      currentDate: null,
      currentItem: {},
      allData: [],
      maxPagination: 3,
      dataPagination: [],
      counterSearch: 0
    };
  },
  created() {},
  methods: {
    show(item) {
      this.currentItem = item;
      this.counterSearch = 0;
      this.getData(item);
    },

    //Obtiene los movimientos de una cuenta, filtrando por mes y anio
    getData(item) {
      let urlComplement = "";
      if (this.currentDate != null) {
        let month = this.currentDate.split("-")[0];
        let year = this.currentDate.split("-")[1];
        urlComplement = "&mes=" + month + "&anio=" + year;
      }

      this.$q.loading.show();
      let url =
        URL_BASE +
        "cuentasMovimientos?idCue=" +
        item.id +
        urlComplement +
        "&idCli=" +
        this.getItemStorage("idUser") +
        "&userKey=" +
        this.getItemStorage("userKey");
      this.$http
        .post(url)
        .then(response => {
         if(!response) return
          if (response.data.estado == Result.SUCCESS) {
            let transactions = [];
            response.data.data.map(item => {
              let amount = this.getAmountFormat(
                item.total,
                item.impuesto,
                item.comision
              );
            
              let model = {
                title: item.descripcion,
                amount: amount[0],
                cents: amount[1],
                day: this.getDayFormat(item.fecha, "-"),
                month: this.getMonthFormat(item.fecha, "-")
              };
              //Valida si el estado es de tipo Ingreso o Retiro
              if (item.estado == 1) {
                if (item.tipomov == "I") {
                  model.type = "Ingreso";
                } else {
                  model.type = "Retiro";
                }
              } else if (item.estado == 2) {
                if (item.tipomov == "I") {
                  model.type = "Retiro";
                } else {
                  model.type = "Ingreso";
                }
              }
              transactions.push(model);
            });
            this.data = transactions;
            this.allData = transactions;

            if (!this.showDialog) {
              this.showDialog = true;
            }
            this.pagination();
          } else {
            this.$refs.message.showMessageErrorServer();
          }

          this.$q.loading.hide();
        })
        .catch(error => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
   
    searchMovement(query) {
      if (query == "") {
        this.pagination();
        return;
      }

      let tempData = [];
      //Busqueda por monto y fecha y nombre
      this.allData.map(item => {
        let model = item;
        if (
          item.amount
            .replace(",", "")
            .toUpperCase()
            .includes(query.toUpperCase()) ||
          item.title.toUpperCase().includes(query.toUpperCase()) ||
          (item.day + " " + item.month)
            .toUpperCase()
            .includes(query.toUpperCase())
        ) {
          tempData.push(item);
        }
      });
      this.pagination(tempData);
    },
    //Separa la data para generar la paginacion
    pagination(data) {
      let counter = 0;
      let singlePage = [];
      this.dataPagination = [];
      let movements = [];
      if (data) {
        movements = data;
      } else {
        movements = this.allData;
      }
      if (movements.length > 0) {
        movements.map((item, index) => {
          counter++;
          singlePage.push(item);
          if (counter == 10) {
            this.dataPagination.push(singlePage);
            singlePage = [];
            counter = 0;
          }
          //Si llega al final de la data , se agrgan los datos que contiene la variable singlePage
          if (index == movements.length - 1) {
            this.dataPagination.push(singlePage);
          }
        });
        //Si la informacion tiene mas de 10 items
        if (movements.length >= 10) {
          //Se selecciona la primera pagina
          this.currentPage = 1;
          //a Data se le asigna el primer array que contiene dataPagination
          this.data = this.dataPagination[0];
          //Al numero maximo de paginas se le asigna el numero de arryas que contenga DataPagination
          this.maxPagination = this.dataPagination.length;
        } else {
          this.currentPage = 1;
          this.data = movements;
          this.maxPagination = 0;
        }
      } else {
        this.currentPage = 0;
        this.data = [];
        this.maxPagination = 0;
      }
    },
    getAmountFormat(total, impuesto, comision) {
      //al total se le reata el impuesto y la comision
      var tempTotal = (
        parseFloat(total) -
        (parseFloat(impuesto) + parseFloat(comision))
      ).toFixed(2);

      return [this.getFormatMoney(tempTotal), tempTotal.split(".")[1]];
    },

    getDataFormatXLSX() {
      let dataFormat = [];
      this.allData.map(item => {
        let model = {
          date: item.day + " " + item.month,
          name: item.title,
          type: item.description,
          amount: item.amount + "." + item.cents
        };

        dataFormat.push(model);
      });
      return dataFormat;
    },
   
    showDatePicker() {
      var flag;
      if (this.counterSearch == 0) {
        flag = true;
      } else {
        flag = false;
      }
      //Emite evento al componente ListItem
      this.$emit("picker", flag);
    },
    setDate(date) {
      this.counterSearch += 1;
      this.currentDate = date;
    },
    changePage(page) {
      this.data = this.dataPagination[page - 1];
    },
    searchIcon() {
      this.showSearch = true;
      this.menu = false;
      this.search = "";
      this.$refs.inputSearch.focus();
    },
  
  },

  mounted() {},
  watch: {
    currentDate: function(newValue, oldValue) {
      if (newValue != null) {
        this.showSearch = false;

        this.getData(this.currentItem);
      }
    },
    showSearch(newValue, oldValue) {
      if (newValue) {
        this.search = "";
      }
    },
    showDialog: function(newValue, oldValue) {
      if (!newValue) {
        this.$emit("closeActions");
      }
    }
  }
};
</script>
<style lang="stylus" scoped>
.header {
  height: 300px;
}

.card-saldo {
  width: 45%;
}

.card-money{

  }
.pagination {
  margin: auto;
  text-align: center;
}
</style>
