<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58" style="padding-bottom : 106px">
        <div
          :class="[showSearch ? 'showSearch' : 'hideSearch', '']"
          class="bg-white hola-mundo fixed fixed-top transtition-search"
          style="z-index : 1000"
        >
          <q-input
            ref="inputSearch"
            borderless
            v-model="search"
            placeholder="Buscar..."
            type="search"
            class="shadow-3 q-pb-xs q-pl-md q-pr-md"
            @input="searchMovement"
          >
            <template v-slot:before>
              <q-btn
                flat
                round
                dense
                icon="arrow_back"
                @click="
                  showSearch = false;
                  searchByYear(new Date().getFullYear());
                "
              />
            </template>
            <template v-slot:append>
              <q-icon name="search" @click="searchMovement" />
            </template>
          </q-input>
        </div>

        <div class="bg-primary q-pb-xs q-pt-xs q-pb-xs fixed-top">
          <q-toolbar class="text-white">
            <q-btn flat round dense icon="arrow_back" @click="showDialog = false" />
            <q-toolbar-title>Movimientos</q-toolbar-title>
            <q-btn text-color="white" flat icon="more_vert" v-if="tab == 'movements'">
              <q-menu
                v-model="menu"
                :content-style="{ minWidth: '150px' }"
                transition-show="jump-down"
                transition-hide="jump-up"
              >
                <q-list>
                  <q-item clickable @click="searchIcon">
                    <q-item-section>Buscar</q-item-section>
                  </q-item>
                  <q-item clickable @click=" movementsDialog ">
                    <q-item-section>Exportar a Excel</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </q-toolbar>
        </div>

        <q-card style="height : 100%">
          <q-tabs
            v-model="tab"
            class="text-grey"
            active-color="primary"
            indicator-color="primary"
            align="justify"
            narrow-indicator
          >
            <q-tab name="info" label="Informacion" />
            <q-tab name="movements" label="Movimientos" />
          </q-tabs>

          <q-tab-panels v-model="tab" animated style="height : 100%">
            <q-tab-panel name="info">
              <div class="text-center text-h6 text-faded q-sm-lg q-mt-sm">{{ productNumber }}</div>
              <div class="row q-mt-md q-mr-sm q-ml-sm" v-for="(item, index) in saldos" :key="index">
                <q-card class="col card-money item-card">
                  <div class="money-balance text-center q-mt-lg font-number">
                    Q {{ item.amount }}
                    <span class="decimal">{{ item.cents }}</span>
                  </div>
                  <div class="money-label-balance text-center text-faded">{{ item.label }}</div>
                </q-card>
              </div>

              <div class="q-pa-md text-center">
                <p class="q-mt-lg q-mb-lg q-caption">Asesor : {{ adviser }}</p>
                <q-separator inset />

                <p
                  class="q-mt-md text-faded"
                  v-if="refinanciamiento == 'S'"
                >Tienes autorizado un refinanciamiento.</p>
                <p class="text-faded" v-if="saldoVencido == 'S'">
                  Su credito tiene saldos vencidos, evite recargos efectuando el
                  pago de inmediato.
                </p>
              </div>
            </q-tab-panel>

            <q-tab-panel name="movements" style="height :100%">
              <q-btn
                label="Seleccionar año"
                flat
                color="white"
                text-color="primary"
                class="full-width shadow-1 q-pt-xs"
                @click="showPicker"
              ></q-btn>

              <q-list class="q-mt-md" separator v-if="data.length > 0">
                <q-item v-for="(item, index) in data" :key="index" class="q-pt-md q-pb-md">
                  <q-item-section avatar class="text-centr flex flex-center">
                    <div class="text-center">{{ item.day }}</div>
                    <div class="text-center">{{ item.month }}</div>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>{{ item.title }}</q-item-label>
                    <q-item-label caption lines="2">
                      {{
                      item.type
                      }}
                    </q-item-label>
                  </q-item-section>

                  <q-item-section side center>
                    <q-item-label style="font-size:20px" class="font-number">
                      Q {{ item.amount }}
                      <span class="decimal">
                        {{
                        item.cents
                        }}
                      </span>
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
              <div v-else>
                <p class="text-center q-mt-lg text-faded">No se ha encontrado ningún movimiento</p>
              </div>

              <div class="flex flex-center q-mt-sm fixed-bottom q-pb-md q-pt-md shadow-2 bg-white">
                <q-pagination
                  v-if="allData.length >= 10 && maxPagination > 0"
                  v-model="currentPage"
                  color="primary"
                  class="pagination bg-white"
                  input-class="button-pagination"
                  :max="maxPagination"
                  :max-pages="6"
                  :boundary-numbers="false"
                  :direction-links="true"
                  @input="changePage"
                ></q-pagination>
              </div>
            </q-tab-panel>
          </q-tab-panels>
        </q-card>
      </q-card>
    </q-dialog>
    <message ref="message"></message>

    <template>
   
      <q-dialog v-model="dialogPath" persistent transition-show="scale" transition-hide="scale">
        <q-card>
          <q-card-section>
            <div class="text-h6">Exportar a excel</div>
          </q-card-section>
          <q-card-section class="q-pt-none">Seleccione una ruta para gurdar el archivo.</q-card-section>
          <q-card-actions align="right" class="text-blue">
            <q-btn flat label="ACEPTAR" v-close-popup @click="exportExcelStateAccount" />
          </q-card-actions>
        </q-card>
      </q-dialog>
     
    </template>
    <template>
    
        <q-dialog v-model="dialogIOS" persistent transition-show="scale" transition-hide="scale">
          <q-card>
            <q-card-section>
              <div class="text-h6">Exportar a excel</div>
            </q-card-section>
            <q-card-section class="q-pt-none">{{messageIOS}} </q-card-section>
            <q-card-actions align="right" class="text-blue">
              <q-btn flat label="ACEPTAR" v-close-popup />
            </q-card-actions>
          </q-card>
        </q-dialog>
   
    </template>
  </div>
</template>


<script>
import { URL_BASE, Result } from "../../boot/Constant";
import Message from "../Common/Message";
import Util from "../../js/Util";
export default {
  mixins: [Util],
  components: {
    Message
  },
  data: function() {
    return {
      showDialog: false,
      tab: "info",
      search: "",
      currentPage: 1,
      current: 1,
      productNumber: "",
      data: [],
      allData: [],
      saldos: [],
      adviser: "",
      saldoVencido: "N",
      refinanciamiento: "N",
      maxPagination: 3,
      currentYear: "",
      dataPagination: [],
      menu: false,
      showSearch: false,
      counterSearch: 0,
      dialogPath: false,
    dialogIOS: false,
    messageIOS: '',
    
    };
  },
  created() {},
  methods: {
    show(item) {
      this.productNumber = item.description;
      this.counterSearch = 0;
      this.getData(item);
    },
    movementsDialog(){
        if(window.cordova){
          if(device.platform == "iOS"){
                this.writeFile( cordova.file.documentsDirectory)
          }else{
              this.dialogPath = true; 
              this.menu = false;
          }

        }
    },
    //Obtiene toda la informacion de los perstamos
    getData(item) {
      this.$q.loading.show();
      let url = URL_BASE + "consultaPrestamo?noPrestamo=" + item.number + "&fechaCredito=" + item.dateCredit;
      this.$http
        .post(url)
        .then(response => {
          if (!response) return;
          if (response.data.estado == 200) {
            let date = response.data.data.detalle.pre_fe;

            this.adviser = response.data.data.detalle.ase;
            this.saldoVencido = response.data.data.detalle.sal_ven;
            this.refinanciamiento = response.data.data.detalle.ref;
            //  this.data = response.data.data.detalle.movs;
            this.data = this.getMovementsFormat(
              response.data.data.detalle.movs
            );

            this.saldos = this.getSaldoFormat(
              response.data.data.detalle.sal,
              date
            );
            this.searchByYear(new Date().getFullYear());
          } else {
            this.$refs.message.showMessageErrorSever();
          }
          this.showDialog = true;
          this.$q.loading.hide();
        })
        .catch(error => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    showPicker() {
      var flag;

      if (this.counterSearch == 1) {
        flag = true;
      } else {
        flag = false;
      }

      this.$emit("picker", flag);
    },
    changePage(page) {
      this.data = this.dataPagination[page - 1];
    },
    getMovementsFormat(data) {
      let formattedData = [];

      Object.keys(data).forEach(e => {
        var item = data[e];
        let model = {
          title: item[0].doc,
          amount: this.getFormatMoney(item[0].mon.toString()),
          cents: this.getCents(item[0].mon.toString()),
          day: this.getDayFormat(item[0].fec, "/"),
          month: this.getMonthFormat(item[0].fec, "/"),
          date: item[0].fec
        };

        formattedData.push(model);
        this.allData = formattedData;
      });

      return formattedData;
    },
    //Separar por paginas la informacion
    pagination(data) {
      let counter = 0;
      let singlePage = [];
      this.dataPagination = [];
      let movements = [];
      if (data) {
        movements = data;
      } else {
        movements = this.allData;
      }
      if (movements.length > 0) {
        movements.map((item, index) => {
          counter++;
          singlePage.push(item);
          if (counter == 10) {
            this.dataPagination.push(singlePage);
            singlePage = [];
            counter = 0;
          }

          if (index == movements.length - 1) {
            this.dataPagination.push(singlePage);
          }
        });
        if (movements.length >= 10) {
          this.currentPage = 1;
          this.data = this.dataPagination[0];
          this.maxPagination = this.dataPagination.length;
        } else {
          this.currentPage = 1;
          this.data = movements;
          this.maxPagination = 0;
        }
      } else {
        this.currentPage = 0;
        this.data = [];
        this.maxPagination = 0;
      }
    },

    getSaldoFormat(data, date) {
      return [
        {
          amount: this.getFormatMoney(data.sal_venc.total.toString()),
          cents: this.getCents(data.sal_venc.total.toString()),
          label: "Saldos vencidos"
        },
        {
          amount: this.getFormatMoney(data.can_ant.total.toString()),
          cents: this.getCents(data.can_ant.total.toString()),
          label: "Cancelación anticipada"
        },

        {
          amount: this.getFormatMoney(data.sal_tot.total.toString()),
          cents: this.getCents(data.sal_tot.total.toString()),
          label: " Saldo total a " + date
        }
      ];
    },
    searchByYear(date) {
      this.counterSearch += 1;
      let tempData = [];
      this.allData.map(item => {
        if (item.date.split("/")[2] == date) {
          tempData.push(item);
        }
      });
      this.pagination(tempData);
    },
    //Busca los movimientos   de la cuenta
    searchMovement(query) {
      if (query == "") {
        this.searchByYear(new Date().getFullYear());
        return;
      }

      let tempData = [];
      //Busqueda por monto y fecha
      this.allData.map(item => {
        let model = item;
        if (
          (
            item.amount.replace(",", "").toUpperCase() +
            item.cents.toUpperCase()
          ).includes(query.toUpperCase()) ||
          item.title.toUpperCase().includes(query.toUpperCase()) ||
          (item.day + " " + item.month)
            .toUpperCase()
            .includes(query.toUpperCase())
        ) {
          tempData.push(item);
        }
      });
      this.pagination(tempData);
    },

    searchIcon() {
      this.showSearch = true;
      this.menu = false;
      this.search = "";
      this.$refs.inputSearch.focus();
    },
    dialogFileIOS(message){
        this.dialogIOS = true 
        this.messageIOS = "El arhivo se ha guardado en sus documentos" 
    },

    exportExcelStateAccount() {
      //Mostrar el "Folder picker", para que el usuario seleccione la ruta par guardar el  archivo
      var context = this;
      window.OurCodeWorld.Filebrowser.folderPicker.single({
        success: function(data) {
          if (!data.length) {
            return;
          }
          context.writeFile(data[0]);
        }
      });
    },
    writeFile(path) {
      var context = this;

      var fileName = 'EstadoDeCuenta'+ new Date().getTime() +'.xlsx'
      const XlsxPopulate = require("xlsx-populate");
      window.resolveLocalFileSystemURL(path, function(dir) {
        dir.getFile(
          //Nombre del archivo

          "EstadoDeCuenta.xlsx",
          {
            create: true
          },
          function(file) {
            var logOb = file;
            if (!logOb) {
              return;
            }
            //Escribir en el archivo
            logOb.createWriter(
              function(fileWriter) {
                fileWriter.seek(fileWriter.length);
                //Crear archivo XLSX en blanco
                XlsxPopulate.fromBlankAsync().then(workbook => {
                  //Estilos para el titulo

                  workbook
                    .sheet(0)
                    .cell("A1")
                    .style("horizontalAlignment", "center");

                  workbook
                    .sheet(0)
                    .cell("A1")
                    .style("fontSize", 16);

                  workbook
                    .sheet(0)
                    .cell("A6")
                    .style("fontSize", 13);

                  workbook
                    .sheet(0)
                    .cell("A6")
                    .style("horizontalAlignment", "center");

                  workbook
                    .sheet(0)
                    .cell("H10")
                    .style("horizontalAlignment", "center");

                  workbook
                    .sheet(0)
                    .cell("H3")
                    .style("horizontalAlignment", "center");

                  //Unir celas
                  let ranges = [
                    "A1:Q1",
                    "H3:J3",
                    "A6:D6",
                    "H10:I10",
                    "A7:C7",
                    "A8:C8",
                    "A9:C9"
                  ];
                  context.mergeCells(workbook, ranges);

                  //Encabezado

                  let headers = [
                    {
                      cell: "A1",
                      value: "ESTADO DE CUENTA"
                    },

                    {
                      cell: "A6",
                      value: "Saldos"
                    },

                    {
                      cell: "A7",
                      value: "Saldos vencidos"
                    },

                    {
                      cell: "A8",
                      value: "Cancelacion anticipada"
                    },
                    {
                      cell: "A9",
                      value: "Saldo capital a la fecha"
                    },
                    {
                      cell: "A13",
                      value: "Documento"
                    },
                    {
                      cell: "F13",
                      value: "Fecha"
                    },

                    {
                      cell: "P13",
                      value: "Total pagado"
                    },
                    {
                      cell: "H10",
                      value: "Pagos efectuados"
                    }
                  ];

                  context.writeCells(workbook, headers, true);

                  let data = [
                    {
                      cell: "H3",
                      value: context.getItemStorage("date")
                    },
                    {
                      cell: "D7",
                      value:
                        "Q " +
                        context.saldos[0].amount +
                        "." +
                        context.saldos[0].cents
                    },
                    {
                      cell: "D8",
                      value:
                        "Q " +
                        context.saldos[1].amount +
                        "." +
                        context.saldos[1].cents
                    },
                    {
                      cell: "D9",
                      value:
                        "Q " +
                        context.saldos[2].amount +
                        "." +
                        context.saldos[2].cents
                    }
                  ];
                  context.writeCells(workbook, data, false);
                  context.writeDetailAccount(workbook, context.allData);

                  //Convertir el archivo a BLOB y almacenadrlo en el dispositivo
                  workbook.outputAsync().then(function(blob) {
                    fileWriter.write(blob);
                    console.log('succes write')
                    if(device.platform == "iOS")
                      context.dialogFileIOS(path + fileName )
                    console.log(path + fileName)
                  });
                });
              },
              function(error) {
                console.log('error wrhite')
              }
            );
          }
        );
      });
    },
    writeDetailAccount(workbook, data) {
      //Dar anncho a las columnas
      workbook
        .sheet(0)
        .column("A")
        .width(15);

      workbook
        .sheet(0)
        .column("F")
        .width(15);
      workbook
        .sheet(0)
        .column("P")
        .width(15);

      let total = 0;

      data.map((item, index) => {
        this.writeCell(workbook, "A" + (index + 14), item.title);
        this.writeCell(workbook, "F" + (index + 14), item.date);
        this.writeCell(
          workbook,
          "P" + (index + 14),
          item.amount + "." + item.cents
        );

        workbook
          .sheet(0)
          .cell("P" + (index + 14))
          .style("horizontalAlignment", "right");

        total += parseFloat(item.amount.replace(",", "") + "." + item.cents);
      });
      this.writeCell(workbook, "P" + (data.length + 14), total);
      workbook
        .sheet(0)
        .cell("P" + (data.length + 14))
        .style("bold", true);

      let ranges = [
        "A" + (data.length + 20) + ":P" + (data.length + 20),
        "A" + (data.length + 21) + ":P" + (data.length + 21)
      ];

      this.mergeCells(workbook, ranges);

      this.writeCell(
        workbook,
        "A" + (data.length + 20),
        "*Saldos del crédito sujeto a variación por ajustes administrativos"
      );
      this.writeCell(
        workbook,
        "A" + (data.length + 21),
        "“SU CREDITO TIENE SALDOS VENCIDOS, EVITE RECARGOS EFECTUANDO EL PAGO DE INMEDIATO”"
      );

      workbook
        .sheet(0)
        .cell("A" + (data.length + 21))
        .style("fontColor", "F44336");

      workbook
        .sheet(0)
        .cell("A" + (data.length + 21))
        .style("horizontalAlignment", "center");

      workbook
        .sheet(0)
        .cell("A" + (data.length + 20))
        .style("horizontalAlignment", "center");
    }
  },
  mounted() {},
  watch: {
    showDialog: function(newValue, oldValue) {
      if (!newValue) {
        this.$emit("closeActions");
      }
    }
  }
};
</script>
<style scoped>
.item-card {
  height: 100px;
}
.money-balance {
  color: #333;
  font-size: 25px;
}
.q-tab-panel {
  padding: 0px 8px 8px 8px;
}
.image-no-movements {
  width: 100%;
  max-width: 200px;
}
</style>
