<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
      style="height : 100%"
    >
      <q-card style="padding-bottom : 175px; padding-top : 120px; height : 100%">
        <div
          :class="[showSearch ? 'showSearch' : 'hideSearch', '']"
          class="bg-white hola-mundo fixed fixed-top transtition-search"
          style="z-index : 1000"
        >
          <q-input
            borderless
            v-model="search"
            placeholder="Buscar..."
            type="search"
            class="shadow-3 q-pb-xs q-pl-md q-pr-md"
          >
            <template v-slot:before>
              <q-btn flat round dense icon="arrow_back" @click="showSearch = false" />
            </template>
            <template v-slot:append>
              <q-icon name="search" />
            </template>
          </q-input>
        </div>

        <div class="bg-primary q-pb-xs q-pr-md q-pt-xs q-pb-xs fixed-top" style="z-index : 10">
          <q-toolbar class="text-white">
            <q-btn flat round dense icon="arrow_back" @click="showDialog = false" />
            <q-toolbar-title>Plan de pagos</q-toolbar-title>

            <q-btn text-color="white" flat icon="more_vert">
              <q-menu
                v-model="menu"
                :content-style="{ minWidth: '150px' }"
                transition-show="jump-down"
                transition-hide="jump-up"
              >
                <q-list>
                  <q-item clickable @click="movementsDialog ">
                    <q-item-section>Exportar a Excel</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </q-toolbar>
        </div>

        <q-card style="height : 100%">
          <q-tabs
            v-model="tab"
            class="text-grey tabs-plan"
            active-color="primary"
            indicator-color="primary"
            align="justify"
            narrow-indicator
          >
            <q-tab name="info" label="Información" />
            <q-tab name="paymentPlan" label="Plan de pagos" />
          </q-tabs>

          <q-tab-panels v-model="tab" animated style=" padding: 0px">
            <q-tab-panel name="info">
              <div class="text-center text-h6 text-faded q-sm-lg q-mt-sm">{{ productNumber }}</div>
              <div class="row q-ma-sm" v-for="(item, index) in information" :key="index">
                <q-card
                  class="col q-mr-xs q-ml-xs card-money item-card"
                  v-for="(element, index) in item"
                  :key="index"
                >
                  <div class="money-balance text-center q-mt-lg font-number">{{ element.value }}</div>
                  <div class="money-label-balance text-center text-grey">{{ element.label }}</div>
                </q-card>
              </div>
            </q-tab-panel>
            <q-tab-panel name="paymentPlan" style="height : 100%">
              <q-list class="q-ma-md" separator style="height : 100%">
                <q-item
                  v-for="(item, index) in data"
                  :key="index"
                  class="q-pt-lg q-pb-lg padding-left-0 padding-right-0"
                >
                  <q-item-section avatar class="text-centr flex flex-center">
                    <div class="text-center">{{ item.id }}</div>
                  </q-item-section>
                  <q-item-section>
                    <q-item-label>{{ item.date }}</q-item-label>
                  </q-item-section>

                  <q-item-section side center>
                    <q-item-label style="font-size:20px" class="font-number">
                      Q {{ item.amount }}
                      <span class="decimal">{{ item.cents }}</span>
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>

              <div class="bg-white" style="bottom : 60px !important;">
                <q-separator></q-separator>
                <div class="q-mt-md q-pb-md q-ma-md">
                  <span class>Total cuotas</span>
                  <span class="float-right font-number" style="font-size:20px">
                    Q {{ totalPaymentPlan.amount }}
                    <span class="decimal">
                      {{
                      totalPaymentPlan.cents
                      }}
                    </span>
                  </span>
                </div>
              </div>

              <div>

              </div>
              <div class="flex flex-center q-mt-sm fixed-bottom q-pb-md q-pt-md shadow-2 bg-white" v-if="allData.length >= 10 && maxPagination > 0">
                <q-pagination
                  v-if="allData.length >= 0"
                  v-model="currentPage"
                  color="primary"
                  class="pagination bg-white"
                  input-class="button-pagination"
                  :max="maxPagination"
                  :max-pages="6"
                  :boundary-numbers="false"
                  :direction-links="true"
                  @input="changePage"
                ></q-pagination>
              </div>
            </q-tab-panel>
          </q-tab-panels>
        </q-card>
      </q-card>
    </q-dialog>
    <message ref="message"></message>

    <template>
  
        <q-dialog v-model="dialogPath" persistent transition-show="scale" transition-hide="scale">
          <q-card>
            <q-card-section>
              <div class="text-h6">Exportar a excel</div>
            </q-card-section>
            <q-card-section class="q-pt-none">Seleccione una ruta para gurdar el archivo.</q-card-section>
            <q-card-actions align="right" class="text-blue">
              <q-btn flat label="ACEPTAR" v-close-popup @click="exportExcelStateAccount" />
            </q-card-actions>
          </q-card>
        </q-dialog>
     
    </template>
     <template>
    
        <q-dialog v-model="dialogIOS" persistent transition-show="scale" transition-hide="scale">
          <q-card>
            <q-card-section>
              <div class="text-h6">Exportar a excel</div>
            </q-card-section>
            <q-card-section class="q-pt-none">{{messageIOS}} </q-card-section>
            <q-card-actions align="right" class="text-blue">
              <q-btn flat label="ACEPTAR" v-close-popup  />
            </q-card-actions>
          </q-card>
        </q-dialog>
      
    </template>
  </div>
</template>
  </div>
</template>

<script>
import { URL_BASE, Result } from "../../boot/Constant";
import Message from "../Common/Message";
import Util from "../../js/Util";
export default {
  mixins: [Util],
  components: {
    Message
  },
  data: function() {
    return {
      showSearch: false,
      showDialog: false,
      tab: "paymentPlan",
      currentPage: 1,
      search: "",
      totalPaymentPlan: {
        amount: 0,
        cents: 0,
        value: 0
      },

      data: [],
      allData: [],
      information: [],
      maxPagination: 0,
      productNumber: 0,
      menu: false,
      dialogPath: false,
      adviser: "",
       dialogIOS: false,
    messageIOS: '',
    };
  },
  created() {},
  methods: {
    show(item) {
      this.getData(item);
      this.productNumber = item.description;
    },
    getData(item) {
      this.$q.loading.show();
      let url = URL_BASE + "consultaPrestamo?noPrestamo=" + item.number + "&fechaCredito=" + item.dateCredit;
      this.$http
        .post(url)
        .then(response => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            this.adviser = response.data.data.detalle.ase;
            this.data = this.getFormattedData(
              response.data.data.detalle.pl_pag
            );
            this.information = this.getFormattedInformation(
              response.data.data.detalle
            );

            this.pagination(this.data);
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.showDialog = true;
          this.$q.loading.hide();
        })
        .catch(error => {
          this.$q.loading.hide();
          this.$refs.message.showMessageError();
        });
    },
    getFormattedData(data) {
      let formatted = [];
      Object.keys(data).forEach(e => {
        var item = data[e];

        let model = {
          id: item[0].num,
          date: item[0].fec,
          amount: this.getFormatMoney(item[0].mon.toString()),
          cents: this.getCents(item[0].mon.toString())
        };
        formatted.push(model);
        this.totalPaymentPlan.value =
          parseFloat(parseFloat(this.totalPaymentPlan.value).toFixed(2)) +
          parseFloat(parseFloat(item[0].mon).toFixed(2));
      });

      this.totalPaymentPlan.amount = this.getFormatMoney(
        this.totalPaymentPlan.value.toString()
      );
      this.totalPaymentPlan.cents = this.getCents(
        this.totalPaymentPlan.value.toString()
      );
      return formatted;
    },
    getFormattedInformation(data) {
      return [
        [
          {
            label: "Monto",
            value: data.cuota
          },
          {
            label: "Entrega",
            value: data.dia_ven
          }
        ],
        [
          {
            label: "Plazo",
            value: data.pre_pl
          },
          {
            label: "Destino",
            value: data.pre_ds
          }
        ],
        [
          {
            label: "Taza de interés",
            value: data.pre_ts
          },
          {
            label: "Modalidad",
            value: data.pre_mod
          }
        ]
      ];
    },
    changePage(page) {
      this.data = this.dataPagination[page - 1];
    },
    pagination(data) {
      let counter = 0;
      let singlePage = [];
      this.dataPagination = [];
      let movements = [];
      if (data) {
        movements = data;
      } else {
        movements = this.allData;
      }
      if (movements.length > 0) {
        movements.map((item, index) => {
          counter++;
          singlePage.push(item);
          if (counter == 10) {
            this.dataPagination.push(singlePage);
            singlePage = [];
            counter = 0;
          }

          if (index == movements.length - 1) {
            this.dataPagination.push(singlePage);
          }
        });
        if (movements.length >= 10) {
          this.currentPage = 1;
          this.data = this.dataPagination[0];
          this.maxPagination = this.dataPagination.length;
        }
      } else {
        this.currentPage = 0;
        this.data = [];
        this.maxPagination = 0;
      }
    },
     movementsDialog(){
        if(window.cordova){
          if(device.platform == "iOS"){
                this.writeFile( cordova.file.documentsDirectory)
          }else{
              this.dialogPath = true; 
              this.menu = false;
          }

        }
    },
     dialogFileIOS(message){
        this.dialogIOS = true 
        this.messageIOS = "El arhivo se ha guardado en sus documentos" 
    },

    exportExcelStateAccount() {
      //Mostrar el "Folder picker", para que el usuario seleccione la ruta par guardar el  archivo
      var context = this;
      window.OurCodeWorld.Filebrowser.folderPicker.single({
        success: function(data) {
          if (!data.length) {
            return;
          }
          context.writeFile(data[0]);
        }
      });
    },
    writeFile(path) {
      var context = this;
      const XlsxPopulate = require("xlsx-populate");
      window.resolveLocalFileSystemURL(path, function(dir) {
        dir.getFile(
          //Nombre del archivo

          "PlanDePagos.xlsx",
          {
            create: true
          },
          function(file) {
            var logOb = file;
            if (!logOb) {
              return;
            }
            //Escribir en el archivo
            logOb.createWriter(
              function(fileWriter) {
                fileWriter.seek(fileWriter.length);
                //Crear archivo XLSX en blanco
                XlsxPopulate.fromBlankAsync().then(workbook => {
                  //Estilos para el titulo

                  workbook
                    .sheet(0)
                    .cell("A1")
                    .style("horizontalAlignment", "center");

                  workbook
                    .sheet(0)
                    .cell("A1")
                    .style("fontSize", 16);

                  workbook
                    .sheet(0)
                    .cell("H13")
                    .style("horizontalAlignment", "center");

                  //Unir celas
                  let ranges = [
                    "A1:Q1",
                    "A7:C7",
                    "A8:C8",
                    "A9:C9",
                    "A10:C10",
                    "A11:C11",
                    "N3:O3",
                    "N4:O4",
                    "H13:I13"
                  ];
                  context.mergeCells(workbook, ranges);

                  //Encabezado

                  let headers = [
                    {
                      cell: "A1",
                      value: "PLAN DE PAGOS"
                    },
                    {
                      cell: "N3",
                      value: "Asesor"
                    },

                    {
                      cell: "A7",
                      value: "Péstamo No."
                    },

                    {
                      cell: "A8",
                      value: "Monto"
                    },
                    {
                      cell: "A9",
                      value: "Plazo"
                    },
                    {
                      cell: "A10",
                      value: "Taza de interes"
                    },
                    {
                      cell: "A11",
                      value: "Modalidad de pago"
                    },

                    {
                      cell: "G7",
                      value: "Fecha entrega"
                    },
                    {
                      cell: "G8",
                      value: "Destino"
                    },
                    {
                      cell: "H13",
                      value: "Plan de pagos"
                    },

                    {
                      cell: "A15",
                      value: "No."
                    },

                    {
                      cell: "F15",
                      value: "Fecha"
                    },
                    {
                      cell: "P15",
                      value: "Total cuotas"
                    }
                  ];

                  context.writeCells(workbook, headers, true);

                  let data = [
                    {
                      cell: "P3",
                      value: context.adviser
                    },

                    {
                      cell: "A6",
                      value: context.getItemStorage("fullName")
                    },
                    {
                      cell: "D7",
                      value: context.productNumber
                    },
                    {
                      cell: "D8",
                      value: context.information[0][0].value //Monto
                    },
                    {
                      cell: "D9",
                      value: context.information[1][0].value // Plazo
                    },
                    {
                      cell: "D10",
                      value: context.information[2][0].value // Taza de interes
                    },
                    {
                      cell: "D11",
                      value: context.information[2][1].value //Modalidad
                    },
                    {
                      cell: "I7",
                      value: context.information[0][1].value // Entrega
                    },
                    {
                      cell: "I8",
                      value: context.information[1][1].value // Destino
                    }
                  ];
                  context.writeCells(workbook, data, false);

                  context.writeDetail(workbook, context.data);

                  //Convertir el archivo a BLOB y almacenadrlo en el dispositivo
                  workbook.outputAsync().then(function(blob) {
                    fileWriter.write(blob);
                      console.log('succes write')
                    if(device.platform == "iOS")
                      context.dialogFileIOS(path + fileName )
                    console.log(path + fileName)
                  });
                });
              },
              function(error) {}
            );
          }
        );
      });
    },
    writeDetail(workbook, data) {
      //Dar anncho a las columnas
      workbook
        .sheet(0)
        .column("A")
        .width(15);

      workbook
        .sheet(0)
        .column("F")
        .width(15);
      workbook
        .sheet(0)
        .column("P")
        .width(15);

      let total = 0;

      data.map((item, index) => {
        this.writeCell(workbook, "A" + (index + 16), parseInt(item.id));
        this.writeCell(workbook, "F" + (index + 16), item.date);
        this.writeCell(
          workbook,
          "P" + (index + 16),
          item.amount + "." + item.cents
        );

        workbook
          .sheet(0)
          .cell("P" + (index + 16))
          .style("horizontalAlignment", "right");

        total += parseFloat(item.amount.replace(",", "") + "." + item.cents);
      });
      this.writeCell(workbook, "P" + (data.length + 16), total);
      workbook
        .sheet(0)
        .cell("P" + (data.length + 16))
        .style("bold", true);
    }
  },
  mounted() {},
  watch: {
    showDialog: function(newValue, oldValue) {
      if (!newValue) {
        this.$emit("closeActions");
      }
    }
  }
};
</script>
<style scoped>
.item-card {
  height: 100px;
}
.money-balance {
  color: #333;
  font-size: 20px;
}
.q-tab-panel {
  padding: 0px;
}
.tabs-plan {
  position: fixed;
  top: 55px;
  z-index: 1;
  background: #fff;
  width: 100%;
}
</style>
