<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58">
        <div class="bg-primary q-pb-xs q-sm-md q-pt-xs q-pb-xs fixed-top">
          <q-toolbar class="text-white">
            <q-btn flat round dense icon="arrow_back" @click="showDialog = false" />
            <q-toolbar-title>Personalizar</q-toolbar-title>
            <q-btn flat label="Confirmar" @click="sendData"></q-btn>
          </q-toolbar>
        </div>

        <div class="q-ml-md q-mr-md">
          <simple-list
            class="q-mt-lg"
            :items="items"
            :dense="false"
            :textMedium="true"
            :separator="true"
          ></simple-list>
          <q-form ref="formPersonalize">
            <q-input
              class="q-mt-md"
              v-model="newName"
              label="Nuevo nombre"
              maxlength="100"
              :rules="[(val) => !!val || 'Ingresar nuevo nombre']"
            />
            <q-input
              v-model="token"
              label="Token"
              maxlength="100"
              :rules="[(val) => !!val || 'Ingresar token']"
            />
          </q-form>

          <div class="text-center">
            <q-btn
              label="Generar token"
              flat
              text-color="red"
              class="q-mt-lg"
              @click="getToken"
            ></q-btn>
          </div>
        </div>
      </q-card>
    </q-dialog>
    <message ref="message" @hideDialogSuccess="onHideDialogSuccess"></message>
  </div>
</template>
<script>
import { URL_BASE, Result } from "../../boot/Constant";
import Util from "../../js/Util";
import SimpleList from "../Common/SimpleList";
import Message from "../Common/Message";
export default {
  mixins: [Util],
  components: {
    SimpleList,
    Message,
  },
  data: function () {
    return {
      newName: "",
      token: "",
      showDialog: false,
      items: [
        {
          label: "Cuenta",
          value: "",
        },
        {
          label: "Nombre actual",
          value: "",
        },
      ],
      currentId: "",
      currentType: "",
      currentItem: "",
    };
  },
  created() {},
  methods: {
    show(item) {
      this.currentName = null;
      this.currentType = null;
      this.currentItem = null;
      this.items[0].value = item.description;
      this.items[1].value = item.title;
      this.showDialog = true;
      this.currentType = item.type;
      this.currentId = item.id;

      this.currentItem = item;
    },
    sendData() {
      //validacion del formulario
      this.$refs.formPersonalize.validate().then((result) => {
        if (result) {
          this.$q.loading.show();

          var idParametter;
          var id;
          if (this.currentItem.type == "ACCOUNT") {
            idParametter = "idCue";
            id = this.currentItem.id;
          } else {
            idParametter = "noPrestamo";
            id = this.currentItem.number;
          }

          let url =
            URL_BASE +
            "cuentasCambioNombre?" +
            idParametter +
            "=" +
            id +
            "&nombre=" +
            this.newName +
            "&token=" +
            this.token +
            "&idCli=" +
            this.getItemStorage("idUser") +
            "&fechaSis=" +
            this.getItemStorage("date");

          this.$http
            .post(url)
            .then((response) => {
              if (!response) return;

              if (response.data.estado == Result.TOKEN_ERROR) {
                this.$refs.message.showMessageErrorToken();
              } else if (response.data.estado == Result.SUCCESS) {
                if (this.currentItem.type == "ACCOUNT") {
                  this.$refs.message.showMessageSuccess(
                    "Nombre de cuenta cambiado correctamente"
                  );
                } else {
                  this.$refs.message.showMessageSuccess(
                    "Nombre de préstamo cambiado correctamente"
                  );
                }
              } else if (response.data.estado == 101) {
                this.$emit("invalidTime");
                this.showDialog = false;
              } else {
                this.$refs.message.showMessageErrorServer();
              }
              this.$q.loading.hide();
            })
            .catch((error) => {
              this.$refs.message.showMessageError();

              this.$q.loading.hide();
            });
        } else {
        }
      });
    },
    onHideDialogSuccess() {
      this.showDialog = false;
      this.$emit("getData");
    },
    getToken() {
      this.generateToken(this).then((response) => {
        this.token = response.data.data;
      });
    },
  },
  watch: {
    showDialog: function (newValue, oldValue) {
      if (!newValue) {
        this.$emit("closeActions");
      }
    },
  },
  mounted() {
    //Este evento es para cuando llega el SMS del token al dispositivo
    this.$root.$on("token", (token) => {
      this.token = token;
    });
  },
};
</script>
