<template>
  <div>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
      :key="key"
    >
      <q-card class="q-mt-58">
        <div class="bg-primary q-pb-xs q-pr-md q-pt-xs q-pb-xs fixed-top">
          <q-toolbar class="text-white">
            <q-btn flat round dense icon="arrow_back" @click="showDialog = false" />
            <q-toolbar-title>Saldos</q-toolbar-title>
          </q-toolbar>
        </div>

        <div class="text-center text-h6 text-grey q-mt-lg q-mb-lg">Cuenta : {{ accountNumber }}</div>
        <div class="row q-ma-sm" v-if="data.length > 0">
          <q-card class="col q-mr-sm card-money item-card">
            <div class="money-balance text-center q-mt-lg font-number">
              Q {{ data[0].amount }}
              <span class="decimal">{{ data[0].cents }}</span>
            </div>
            <div class="money-label-balance text-center text-grey">{{ data[0].name }}</div>
          </q-card>

          <q-card class="col card-money item-card">
            <div class="money-balance text-center q-mt-lg font-number">
              Q {{ data[1].amount }}
              <span class="decimal">{{ data[1].cents }}</span>
            </div>
            <div class="money-label-balance text-center text-grey">{{ data[1].name }}</div>
          </q-card>
        </div>

        <div class="row q-ma-sm" v-if="data.length > 0">
          <q-card class="col q-mr-sm card-money item-card">
            <div class="money-balance text-center q-mt-lg font-number">
              Q {{ data[2].amount }}
              <span class="decimal">{{ data[2].cents }}</span>
            </div>
            <div class="money-label-balance text-center text-grey">{{ data[2].name }}</div>
          </q-card>

          <q-card class="col card-money item-card">
            <div class="money-balance text-center q-mt-lg font-number">
              Q {{ data[3].amount }}
              <span class="decimal">{{ data[3].cents }}</span>
            </div>
            <div class="money-label-balance text-center text-grey">{{ data[3].name }}</div>
          </q-card>
        </div>

        <div class="row q-ma-sm" v-if="data.length > 0">
          <q-card class="col q-mr-sm card-money item-card">
            <div class="money-balance text-center q-mt-lg font-number">
              Q {{ data[4].amount }}
              <span class="decimal">{{ data[4].cents }}</span>
            </div>
            <div class="money-label-balance text-center text-grey">{{ data[4].name }}</div>
          </q-card>

          <q-card class="col card-money item-card">
            <div class="money-balance text-center q-mt-lg font-number">
              Q {{ data[5].amount }}
              <span class="decimal">{{ data[5].cents }}</span>
            </div>
            <div class="money-label-balance text-center text-grey">{{ data[5].name }}</div>
          </q-card>
        </div>

        <div class="row q-ma-sm" v-if="data.length > 0">
          <q-card class="col q-mr-sm card-money item-card">
            <div class="money-balance text-center q-mt-lg font-number">
              Q {{ data[6].amount }}
              <span class="decimal">{{ data[6].cents }}</span>
            </div>
            <div class="money-label-balance text-center text-grey">{{ data[6].name }}</div>
          </q-card>

          <q-card class="col card-money item-card">
            <div class="money-balance text-center q-mt-lg font-number">
              Q {{ data[7].amount }}
              <span class="decimal">{{ data[7].cents }}</span>
            </div>
            <div class="money-label-balance text-center text-grey">{{ data[7].name }}</div>
          </q-card>
        </div>
      </q-card>
    </q-dialog>
    <message ref="message"></message>
  </div>
</template>
<script>
import { URL_BASE, Result } from "../../boot/Constant";
import Util from "../../js/Util";
import Message from "../Common/Message";
export default {
  mixins: [Util],
  components: {
    Message
  },
  data: function() {
    return {
      showDialog: false,
      key: 0,
      data: [],
      accountNumber: ""
    };
  },
  created() {},
  methods: {
    //Obtener los saldos de una cuenta
    show(item) {
      let url =
        URL_BASE +
        "cuentasSaldos?idCue=" +
        item.id +
        "&idCli=" +
        this.getItemStorage("idUser") +
        "&userKey=" +
        this.getItemStorage("userKey");
      this.accountNumber = item.description;
      this.$q.loading.show();
      this.$http
        .post(url)
        .then(response => {
          if (!response) return;
          let data = response.data.data;
          if (response.data.estado == Result.SUCCESS) {
            let saldos = [];
            data.map(item => {
              let model = {};
              if (item.id == 1) {
                model.name = "Saldo en libros";
                model.amount = this.getFormatMoney(item.saldo);
                model.cents = this.getCents(item.saldo);
              } else if (item.id == 2) {
                model.name = "Saldo disponible";
                model.amount = this.getFormatMoney(item.saldo);
                model.cents = this.getCents(item.saldo);
              } else if (item.id == 3) {
                model.name = "Saldo bloqueado";
                model.amount = this.getFormatMoney(item.saldo);
                model.cents = this.getCents(item.saldo);
              } else if (item.id == 4) {
                model.name = "Saldo embargado ";
                model.amount = this.getFormatMoney(item.saldo);
                model.cents = this.getCents(item.saldo);
              } else if (item.id == 5) {
                model.name = "Saldo pignorado";
                model.amount = this.getFormatMoney(item.saldo);
                model.cents = this.getCents(item.saldo);
              } else if (item.id == 6) {
                model.name = "Saldo en reserva ";
                model.amount = this.getFormatMoney(item.saldo);
                model.cents = this.getCents(item.saldo);
              } else if (item.id == 8) {
                model.name = " Intereses del mes calculados";
                model.amount = this.getFormatMoney(item.saldo);
                model.cents = this.getCents(item.saldo);
              } else if (item.id == 9) {
                model.name = " Intereses del mes pagados";
                model.amount = this.getFormatMoney(item.saldo);
                model.cents = this.getCents(item.saldo);
              }

              if (model.name) {
                saldos.push(model);
              }
            });

            this.data = saldos;
          } else {
            this.$refs.messsage.showMessageErrorServer();
          }

          this.$q.loading.hide();
          this.showDialog = true;
        })
        .catch(error => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    }
  },
  watch: {
    showDialog: function(newValue, oldValue) {
      if (!newValue) {
        this.$emit("closeActions");
      }
    }
  }
};
</script>
<style scoped>
.item-card {
  height: 115px;
}
.money-balance {
  color: #333;
  font-size: 20px;
}
</style>
