<template>
  <div style>
    <q-dialog
      v-model="showDialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58" style="padding-bottom : 75px">
        <div class="bg-primary q-pb-xs q-pr-md q-pt-xs q-pb-xs fixed-top">
          <q-toolbar class="text-white">
            <q-btn flat round dense icon="arrow_back" @click="showDialog = false" />
            <q-toolbar-title>Saldos</q-toolbar-title>
          </q-toolbar>
        </div>

        <div>
          <div class="text-center text-h6 text-faded q-mt-sm">{{ productNumber }}</div>

          <q-card class="q-ma-sm">
            <q-card-section>
              <simple-list :items="itemsHeader" :dense="true" :separator="false"></simple-list>
            </q-card-section>
          </q-card>

          <q-card class="q-ma-sm" v-for="(item, index) in data" :key="index">
            <q-card-section>
              <div class="text-h6">{{ item.title }}</div>
            </q-card-section>

            <q-card-section>
              <div v-for="(detail, indexDetail) in item.details" :key="indexDetail">
                <div
                  class="q-mb-md"
                  :class="{
                    'q-mt-lg':
                      detail.label == 'Sub total' ||
                      detail.label == 'Pago inmediato' ||
                      detail.label == 'Saldo total'
                  }"
                >
                  <span class="text-grey">{{ detail.label }}</span>
                  <span class="float-right font-number number-detail">
                    Q {{ detail.amount
                    }}
                    <span class="float-right number-decimal-detail">{{ detail.cents }}</span>
                  </span>
                </div>
                <q-separator
                  style="width : 50%"
                  class="float-right"
                  v-if="detail.label == 'Mora' || detail.label == 'Otros'"
                />
              </div>
            </q-card-section>
          </q-card>
        </div>
      </q-card>
    </q-dialog>
    <message ref="message"></message>
  </div>
</template>
<script>
import SimpleList from "../Common/SimpleList";
import { URL_BASE } from "../../boot/Constant";
import Util from "../../js/Util";
import Message from "../Common/Message";
export default {
  mixins: [Util],
  components: {
    SimpleList,
    Message
  },

  data: function() {
    return {
      showDialog: false,
      data: [],
      productNumber: "",
      itemsHeader: []
    };
  },
  created() {},
  methods: {
    show(item) {
      this.productNumber = item.description;
      this.getData(item);
    },
    getData(item) {
      this.$q.loading.show();
      let url = URL_BASE + "consultaPrestamo?noPrestamo=" + item.number + "&fechaCredito=" + item.dateCredit;
      this.$http
        .post(url)
        .then(response => {
          if (!response) return;
          if (response.data.estado == 200) {
            this.data = this.getDetails(response.data.data.detalle.sal);
            this.itemsHeader = [
              {
                label: "Útimo día pago",
                value: response.data.data.detalle.ult_dia
              },
              {
                label: "Día vencimiento",
                value: response.data.data.detalle.dia_ven
              },
              {
                label: "Último pago",
                value: response.data.data.detalle.ult_pago
              },
              {
                label: "Cuota a pagar",
                value: response.data.data.detalle.cuota
              }
            ];
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.showDialog = true;
          this.$q.loading.hide();
        })
        .catch(error => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    getDetails(data) {
      let allDetails = [];
      allDetails.push(this.getDetailSaldo(data.sal_venc, "Saldos vencidos")[0]);
      allDetails.push(
        this.getDetailSaldo(data.can_ant, "Cancelación anticipada")[0]
      );
      allDetails.push(this.getDetailSaldo(data.sal_tot, "Saldo total")[0]);
      return allDetails;
    },
    getDetailSaldo(saldo, title) {
      let labelTotal = "Saldo total";
      if (title == "Saldos vencidos") {
        labelTotal = "Pago inmediato";
      }
      return [
        {
          title: title,
          details: [
            {
              label: "Capital",
              amount: this.getFormatMoney(saldo.cap.toString()),
              cents: this.getCents(saldo.cap.toString())
            },
            {
              label: "Intereses S/pp",
              amount: this.getFormatMoney(saldo.int_pp.toString()),
              cents: this.getCents(saldo.int_pp.toString())
            },
            {
              label: "Int. complementarios",
              amount: this.getFormatMoney(saldo.int_comp.toString()),
              cents: this.getCents(saldo.int_comp.toString())
            },
            {
              label: "Otros",
              amount: this.getFormatMoney(saldo.otros.toString()),
              cents: this.getCents(saldo.otros.toString())
            },

            {
              label: "Sub total",
              amount: this.getFormatMoney(saldo.sub.toString()),
              cents: this.getCents(saldo.sub.toString())
            },
            {
              label: "Mora",
              amount: this.getFormatMoney(saldo.mora.toString()),
              cents: this.getCents(saldo.mora.toString())
            },
            {
              label: labelTotal,
              amount: this.getFormatMoney(saldo.total.toString()),
              cents: this.getCents(saldo.total.toString())
            }
          ]
        }
      ];
    }
  },
  watch: {
    showDialog: function(newValue, oldValue) {
      if (!newValue) {
        this.$emit("closeActions");
      }
    }
  }
};
</script>
<style lang="stylus">
.number-detail {
  font-size: 18px;
}

.number-decimal-detail {
  font-size: 14px !important;
  margin-top: -5px;
  margin-left: 3px;
}

.q-mt-35 {
  margin-top: 35px;
}
</style>
