q-input
<template>
  <q-dialog
    v-model="showDialog"
    maximized
    transition-show="slide-left"
    transition-hide="slide-right"
  >
    <q-card class="q-mt-58" style="padding-bottom: 75px">
      <div class="bg-primary q-pb-xs q-sm-md q-pt-xs q-pb-xs fixed-top">
        <q-toolbar class="text-white">
          <q-btn flat round dense icon="arrow_back" @click="showDialog = false" />
          <q-toolbar-title>Transferencia</q-toolbar-title>
          <q-btn flat label="Confirmar" @click="sendData"></q-btn>
        </q-toolbar>
      </div>
      <div class="q-mr-md q-ml-md q-mt-xs">
        <div class="q-mt-md" style="font-size: 16px">
          <div class="q-mb-md">
            <span class="text-grey q-mb-md">Número de cuenta</span>
            <div class="float-right">{{ currentItem.description }}</div>
          </div>
          <div class="q-mb-md">
            <span class="text-grey q-mb-md">Cuenta</span>
            <div class="float-right">{{ currentItem.title }}</div>
          </div>
          <div class="q-mb-md">
            <span class="text-grey q-mb-md">Saldo</span>
            <div class="float-right">
              Q {{ currentItem.amount }}.{{ currentItem.cents }}
            </div>
          </div>
        </div>
        <q-input
          ref="amount"
          prefix="Q "
          class="q-mt-sm"
          bottom-slots
          v-model="amount"
          label="Monto a transferir"
          @input="change"
          maxlength="12"
          type="number"
          :rules="[
            (val) => !!val || 'Ingrese monto',
            (val) => val > 0 || 'El monto ingresado no es válido',
          ]"
        ></q-input>

        <div>
          <q-splitter v-model="splitterModel">
            <template v-slot:before>
              <q-tabs v-model="tab" vertical active-color="primary">
                <q-tab name="own" label="Propias" class="flex-left" />
                <q-tab name="third" label="Terceros" class="flex-left" />
                <q-tab name="ACH" label="ACH" class="flex-left" />
              </q-tabs>
            </template>

            <template v-slot:after>
              <q-tab-panels
                v-model="tab"
                animated
                transition-prev="jump-up"
                transition-next="jump-up"
                id="container-tabs-vertical"
              >
                <q-tab-panel name="own">
                  <p class="title-tab text-center">Propias</p>

                  <q-form ref="formOwn">
                    <q-select
                      v-model="own.destination"
                      :options="optionsOrigin"
                      label="Destino"
                      :rules="[(val) => !!val || 'Seleccione destino']"
                    />
                    <q-input
                      bottom-slots
                      v-model="own.token"
                      label="Token"
                      maxlength="40"
                      :rules="[(val) => !!val || 'Ingrese token']"
                    />
                    <div class="text-center">
                      <q-btn
                        label="Generar token"
                        flat
                        text-color="red"
                        class="q-mt-lg"
                        @click="getToken"
                      ></q-btn>
                    </div>
                  </q-form>
                </q-tab-panel>

                <q-tab-panel name="third">
                  <p class="title-tab text-center">Terceros</p>

                  <q-form ref="formThird">
                    <q-input
                      :rules="[
                        (val) => !!val || 'Ingrese cuenta',
                        (val) => val.length > 13 || 'Número de cuenta no válido',
                      ]"
                      v-model="third.account"
                      label="Número cuenta"
                      maxlength="30"
                      mask="########-#####"
                      fill-mask
                      type="tel"
                      lazy-rules
                    />

                    <q-input
                      :rules="[rulePhone]"
                      v-model="third.phone"
                      label="Teléfono"
                      maxlength="100"
                      lazy-rules
                      prefix="(502)"
                      mask="########"
                      type="tel"
                      ref="phoneThird"
                    />

                    <q-input
                      v-if="third.phone.length > 0"
                      :rules="[(val) => !!val || 'Ingresar mensaje']"
                      v-model="third.message"
                      label="Mensaje"
                      maxlength="30"
                    />
                    <q-input
                      :rules="[(val) => !!val || 'Ingresar token']"
                      v-model="third.token"
                      label="Token"
                      maxlength="30"
                    />
                    <div class="text-center">
                      <q-btn
                        label="Generar token"
                        flat
                        text-color="red"
                        class="q-mt-lg"
                        @click="getToken"
                      ></q-btn>
                    </div>
                  </q-form>
                </q-tab-panel>

                <q-tab-panel name="ACH">
                  <p class="title-tab text-center">ACH</p>
                  <q-form ref="formACH">
                    <q-select
                      v-model="ach.bank"
                      :options="optionsBank"
                      label="Banco"
                      @input="changeBank"
                      :rules="[(val) => !!val || 'Seleccione banco']"
                    />
                    <q-select
                      v-model="ach.typeProduct"
                      :options="optionsTypeProduct"
                      label="Tipo producto"
                      @input="changeTypeProduct"
                      :rules="[(val) => !!val || 'Seleccione tipo producto']"
                    />

                    <q-input
                      :rules="[(val) => !!val || 'Ingresar nombre de cuenta']"
                      v-model="ach.accountName"
                      label="Nombre cuenta"
                      maxlength="50"
                    />
                    <q-input
                      :rules="[
                        (val) => !!val || 'Ingrese número de cuenta',
                        (val) =>
                          val.length > currentMask.length - 1 ||
                          'Número de cuenta no válido',
                      ]"
                      v-model="ach.accountNumber"
                      label="Número de cuenta"
                      maxlength="50"
                      :mask="currentMask"
                      lazy-rules
                    />

                    <q-input
                      ref="username"
                      bottom-slots
                      v-model="ach.id"
                      label="DPI"
                      :rules="[
                        (val) => !!val || 'Ingrese su DPI',
                        (val) => val.length > 14 || 'DPI no válido',
                      ]"
                      maxlength="30"
                      class="full-width"
                      lazy-rules
                      type="tel"
                      mask="####-#####-####"
                    ></q-input>

                    <q-input
                      lazy-rules
                      :rules="[rulePhone]"
                      v-model="ach.phone"
                      label="Teléfono"
                      maxlength="100"
                      prefix="(502)"
                      mask="########"
                      type="tel"
                    />
                    <q-input
                      v-if="ach.phone.length > 0"
                      :rules="[(val) => !!val || 'Ingrese mensaje']"
                      v-model="ach.message"
                      label="Mensaje"
                      maxlength="100"
                    />
                    <!-- 
                    <q-input
                      v-model="ach.receptionDate"
                      @click="showPopup('receptionDate', 'receptionDate')"
                      label="Fecha recepcion"
                      mask="##/##/####"
                      :rules="[val => !!val || 'Ingrese fecha recepción']"
                    >
                      <template v-slot:append>
                        <q-popup-proxy
                          ref="receptionDate"
                          transition-show="scale"
                          transition-hide="scale"
                        >
                          <q-date
                            :locale="locationES"
                            v-model="receptionDate"
                            @input="() => $refs.receptionDate.hide()"
                          />
                        </q-popup-proxy>
                      </template>
                    </q-input>-->

                    <q-input
                      :rules="[(val) => !!val || 'Ingrese token']"
                      v-model="ach.token"
                      label="Token"
                      maxlength="30"
                    />
                    <div class="text-center">
                      <q-btn
                        label="Generar token"
                        flat
                        text-color="red"
                        class="q-mt-sm"
                        @click="getToken"
                      ></q-btn>
                    </div>
                  </q-form>
                </q-tab-panel>
              </q-tab-panels>
            </template>
          </q-splitter>
        </div>
      </div>
    </q-card>
    <message ref="message" @hideDialogSuccess="onHideDialogSuccess"></message>
  </q-dialog>
</template>
<script>
import { URL_BASE, Result } from "../../boot/Constant";
import SimpleList from "../Common/SimpleList";
import Util from "../../js/Util";
import Message from "../Common/Message";
export default {
  mixins: [Util],
  components: {
    SimpleList,
    Message,
  },
  data: function () {
    return {
      currentMask: "",
      showDialog: false,
      date: "2019/02/01",
      optionsOrigin: [],

      //modelo para transferencias propias
      own: {
        destination: "",
        token: "",
      },
      //modelo para transferencia a terceros
      third: {
        account: "",
        phone: "",
        message: "",
        token: "",
      },
      //modelo para transferencia ACH
      ach: {
        bank: "",
        typeProduct: "",
        accountType: "",
        accountName: "",
        accountNumber: "",
        id: "",
        phone: "",
        message: "",
        receptionDate: "",
        resolutionDate: "",
        token: "",
      },
      receptionDate: "",
      resolutionDate: "",
      amount: 0,
      origin: {},

      tab: "own",
      splitterModel: 25,
      optionsBank: [],
      optionsTypeProduct: [],
      currentItem: {},
      //modelo para cambio de idioma en el calendario
      locationES: {
        days: "Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado".split("_"),
        daysShort: "Dom_Lun_Mar_Mié_Jue_Vie_Sáb".split("_"),
        months: "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre".split(
          "_"
        ),
        monthsShort: "Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic".split("_"),
        firstDayOfWeek: 1,
      },

      receptionDate: null,
      moneyFormatForComponent: {
        decimal: ".",
        thousands: ",",
        prefix: "$ ",
        suffix: " #",
        precision: 2,
        masked: true,
      },
      price: null,
    };
  },
  created() {},
  methods: {
    change(newValue) {
      let temp = newValue.toString().split(".");

      if (temp[1]) {
        if (temp[1].length >= 2) {
          temp[1] = temp[1].substring(0, 2);
        }
      }

      this.amount = parseFloat(temp[0] + "." + temp[1]).toFixed(2);
    },
    show(item) {
      //limpiar los valores al mostrar la ventana de dialogo
      this.showDialog = true;
      this.receptionDate = null;
      (this.own = {
        destination: "",
        token: "",
      }),
        (this.third = {
          account: "",
          phone: "",
          message: "",
          token: "",
        }),
        (this.ach = {
          bank: "",
          typeProduct: "",
          accountType: "",
          accountName: "",
          accountNumber: "",
          id: "",
          phone: "",
          message: "",
          receptionDate: "",
          resolutionDate: "",
          token: "",
        }),
        (this.amount = ""),
        (this.origin = {}),
        (this.tab = "own"),
        (this.currentItem = item);
      this.getDestination(item);
      this.getBank();

      var date = this.getItemStorage("date").split("/");
      this.receptionDate = date[2] + "/" + date[1] + "/" + date[0];
      this.ach.receptionDate = this.getItemStorage("date");
    },

    //Obtener las cuentas destinatarias para la transaccion
    getDestination(account) {
      this.origin = {
        label: account.description,
        value: account.id,
      };
      let url = URL_BASE + "cuentasOrigen?idCli=" + this.getItemStorage("idUser");

      this.$q.loading.show();

      this.$http
        .post(url)
        .then((response) => {
          if (response.data.estado == Result.SUCCESS) {
            this.optionsOrigin = [];
            response.data.data.map((item) => {
              let model = {
                label: item.numero + " - " + item.nombre,
                value: item.id,
                type: item.tipo,
              };

              if (item.id != account.id) {
                this.optionsOrigin.push(model);
              }
            });
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$q.loading.hide();
          this.$refs.message.showMessageError();
        });
    },
    //Obtener los bancos disponibles
    getBank() {
      this.$q.loading.show();
      var url = URL_BASE + "bancos?idEmp=" + this.currentItem.company;
      this.$http
        .post(url)
        .then((response) => {
          if (!response) return;
          if (response.data.estado == Result.SUCCESS) {
            response.data.data.map((item) => {
              let model = {
                label: item.nombre,
                value: item.id,
              };

              this.optionsBank.push(model);
            });
          } else {
            this.$refs.message.showMessageErrorServer();
          }
          this.$q.loading.hide();
        })
        .catch((error) => {
          this.$refs.message.showMessageError();
          this.$q.loading.hide();
        });
    },
    //Obtiene los productos de un banco
    changeBank(value) {
      if (value) {
        if (this.ach.typeProduct) {
          this.ach.typeProduct = null;
        }

        this.optionsTypeProduct = [];
        this.$q.loading.show();
        this.$http
          .post(URL_BASE + "tipoProductos?idBanco=" + value.value)
          .then((response) => {
            if (response.data.estado == Result.SUCCESS) {
              response.data.data.map((item) => {
                let model = {
                  label: item.descripcion,
                  value: item.id,
                  mask: item.mascara,
                };

                this.optionsTypeProduct.push(model);
              });
            } else {
              this.$refs.message.showMessageErrorServer();
            }
            this.$q.loading.hide();
          })
          .catch((error) => {
            this.$q.loading.hide();
            this.$refs.message.showMessageError();
          });
      }
    },
    changeTypeProduct(item) {
      this.currentMask = item.mask;
    },
    //validacion de datos antes de realizar la transaccion
    sendData() {
      this.$refs.amount.validate();
      let date = this.getItemStorage("date").split("/");
      if (this.$refs.amount.hasError) {
        return;
      }
      var intAmount = parseFloat(this.amount).toFixed(2);
      if (intAmount <= 0) {
        this.$refs.message.showMessageInfo("Ingrese monto válido");

        return;
      }

      var accountAmount =
        this.currentItem.amount.replace(",", "") + "." + this.currentItem.cents;
      if (parseFloat(this.amount) > parseFloat(accountAmount)) {
        this.$refs.message.showMessageInfo(
          "El valor de la transferencia supera el saldo disponible. ¡Verifique!"
        );
        return;
      }

      if (this.tab == "own") {
        if (this.origin.value == this.own.destination.value) {
          this.$refs.message.showMessageInfo(
            "No se puede hacer transferencia a la misma cuenta"
          );

          return;
        }
        let url =
          URL_BASE +
          "cuentasTransferenciaPropia?idOrg=" +
          this.origin.value +
          "&idDes=" +
          this.own.destination.value +
          "&tipo=" +
          this.own.destination.type +
          "&monto=" +
          this.amount +
          "&idEmp=" +
          this.currentItem.company +
          "&dia=" +
          date[0] +
          "&mes=" +
          date[1] +
          "&anio=" +
          date[2] +
          "&token=" +
          this.own.token +
          "&fechaSis=" +
          this.getItemStorage("date");

        this.transfer("formOwn", url);
      } else if (this.tab == "third") {
        let url =
          URL_BASE +
          "cuentasTransferenciaTercero?idOrg=" +
          this.origin.value +
          "&numeroCue=" +
          this.third.account +
          "&monto=" +
          this.amount +
          "&idEmp=" +
          this.currentItem.company +
          "&dia=" +
          date[0] +
          "&mes=" +
          date[1] +
          "&anio=" +
          date[2] +
          "&token=" +
          this.third.token +
          "&fechaSis=" +
          this.getItemStorage("date");

        if (this.third.phone.length > 0) {
          url += "&telefono=502" + this.third.phone + "&mensaje=" + this.third.message;
        }

        this.transfer("formThird", url);
        url += "&idCli=" + this.getItemStorage("idUser");
      } else if (this.tab == "ACH") {
        let url =
          URL_BASE +
          "cuentasTransferenciaACH?idOrg=" +
          this.origin.value +
          "&idBan=" +
          this.ach.bank.value +
          "&idTpr=" +
          this.ach.typeProduct.value +
          "&nombre=" +
          this.ach.accountName +
          "&numeroCue=" +
          this.ach.accountNumber +
          "&identificacion=" +
          this.ach.id +
          "&monto=" +
          this.amount +
          "&token=" +
          this.ach.token +
          "&fechaSis=" +
          this.getItemStorage("date");

        if (this.ach.phone.length > 0) {
          url += "&tel=502" + this.ach.phone + "&mensaje=" + this.ach.message;
        }

        this.transfer("formACH", url);
      }
    },
    //realizar la transfencia a terceros, propias o ACH
    transfer(refForm, url) {
      url += "&idCli=" + this.getItemStorage("idUser");
      var context = this.$http;
      this.$refs[refForm].validate().then((result) => {
        if (result) {
          this.$q.loading.show();
          context
            .post(url)
            .then((response) => {
              if (response.data.estado == Result.TOKEN_ERROR) {
                this.$refs.message.showMessageErrorToken();
              } else if (response.data.estado == Result.SUCCESS) {
                if (response.data.data.id == Result.VALID) {
                  if (refForm == "formACH") {
                    let message = (
                      "Fecha de resolución : " +
                      response.data.data.fechaRes.split(" ")[0] +
                      "_Número de solicitud : " +
                      response.data.data.numeroSol +
                      "_" +
                      response.data.data.descripcion
                    ).split("_");
                    this.$refs.message.showMessageSuccess(message);
                  } else {
                    this.$refs.message.showMessageSuccess(response.data.data.descripcion);
                  }

                  if (refForm == "formACH" || refForm == "formThird") {
                    let phoneNumber = "";
                    let account = "";
                    if (refForm == "formACH") {
                      phoneNumber = this.ach.phone;
                      account = this.ach.accountNumber;
                    } else {
                      phoneNumber = this.third.phone;
                      account = this.third.account;
                    }
                  }
                } else {
                  this.$refs.message.showMessageError(response.data.data.descripcion);
                }
              } else if (response.data.estado == 101) {
                this.$emit("invalidTime");
              } else {
                this.$refs.message.showMessageErrorServer();
              }
              this.$q.loading.hide();
            })

            .catch((error) => {
              this.$refs.message.showMessageError();
              this.$q.loading.hide();
            });
        } else {
        }
      });
    },
    onHideDialogSuccess() {
      this.$emit("getData");
      this.showDialog = false;
    },
    getFormatDate(date) {
      let d = date.split("/");
      return d[2] + "/" + date[1] + "/" + d[0] + " 00:00:00";
    },

    //Mostrar el calendario
    showPopup(qDate, model) {
      var date = new Date();
      this.$refs[qDate].show();

      if (this.ach[model] == "") {
        //fecha con el formato : DD/MM/YYYY
        let month =
          date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;

        let day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

        this[model] = date.getFullYear() + "/" + month + "/" + day;
      }
    },
    getToken() {
      this.generateToken(this).then((response) => {
        if (this.tab == "own") {
          this.own.token = response.data.data;
        } else if (this.tab == "third") {
          this.third.token = response.data.data;
        } else if (this.tab == "ACH") {
          this.ach.token = response.data.data;
        }
      });
    },
    rulePhone(val) {
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          if (val.length > 0 && val.length < 8) {
            resolve(false || "Número de teléfono no válido");
          } else {
            resolve(true);
          }
        }, 1000);
      });
    },
  },
  watch: {
    tab: function (newValue, oldValue) {
      if (newValue == "ACH") {
        this.getBank();
      }
    },
    showDialog: function (newValue, oldValue) {
      if (!newValue) {
        this.$emit("closeActions");
      }
    },
    receptionDate: function (newValue, oldValue) {
      var date = newValue.split("/");
      var date2 = this.getItemStorage("date").split("/");

      let dateSystem = new Date(date2[2] + "/" + date2[1] + "/" + date2[0]);
      if (new Date(newValue) < dateSystem) {
        this.$refs.message.showMessageInfo(
          "La fecha no debe ser menor  a : " + this.getItemStorage("date")
        );

        this.receptionDate = oldValue;
      } else {
        if (date.length == 3) {
          this.ach.receptionDate = date[2] + "/" + date[1] + "/" + date[0];
        }
      }
    },
    amount: function (newValue, oldValue) {},
  },
  mounted() {
    //Este evento es para cuando llega el SMS del token al dispositivo
    this.$root.$on("token", (token) => {
      if (this.tab == "own") {
        this.own.token = token;
      } else if (this.tab == "third") {
        this.third.token = token;
      } else if (this.tab == "ACH") {
        this.ach.token = token;
      }
    });
  },
};
</script>
<style lang="stylus">
.title-tab {
  font-size: 20px;
}

.q-tabs--vertical .q-tab__indicator {
  width: 3px;
}
</style>
